@media (min-width:1312px) {
    .container {
        width: 1312px;
    }
}
@media (min-width:991px) and (max-width: 1312px) {
    .container {
        width: 970px;
    }
    .main-slider .slick-dots {
        left: calc(50% - 485px);
        width: 970px;
    }
    .header-search {
        width: 156px;
    }
    .header-nav li {
        margin: 0 7px;
        font-size: 11px;
    }
    .slider-caption-l {
        padding-right: 25px;
    }
    .main-slide .slider-caption {
        padding: 0 130px 0 50px;
    }
    .main-slide .slider-caption .container {
        width: 100%;
    }
    .slide-title {
        font-size: 30px;
        margin: 0 0 15px;
    }
    .product-img {
        height: 230px;
    }
    .product-title {
        padding: 0 15px;
        font-size: 16px;
    }
    .news-main {
        max-width: calc(100% - 318px);
    }
    .news-main-img {
        height: 100%;
    }
    .news-aside .news-box {
        margin: 0 0 15px;
    }
    .news-aside .news-box:last-child {
        margin: 0;
    }
    .copy {
        font-size: 12px;
    }
    .footer-phone {
        font-size: 15px;
    }
    .footer-mail {
        font-size: 14px;
    }
    .footer-link {
        width: 130px;
        margin: 0 6px 0 0;
    }
    .footer-nav li {
        font-size: 11px;
    }
    .footer-nav {
        margin: 0 10px;
        max-width: 150px;
    }
    .footer-nav:last-child {
        max-width: 115px;
    }
    .catalog-list .product-box {
        width: 296px;
    }
    .cart-slider-section {
        width: 350px;
    }
    .cart-info {
        width: calc(100% - 350px);
        padding: 15px 0 0 15px;
    }
    .order-bot .slide-more {
        margin-bottom: 15px;
    }
    .contacts-box:first-child {
        padding-left: 45px;
    }
    .contacts-box {
        width: 38%;
        padding: 30px 50px 35px 15px;
    }
    .contacts-box:last-child {
        width: 24%;
    }
    .news-item {
        width: 49%;
    }
    .news-item-img {
        height: 220px;
        width: 45%;
    }
    .news-item-content {
        width: 55%;
    }
}
@media (min-width:991px) {
    .show-menu,
    .show-menu.show-drop {
        display: none;
    }
    .header-nav-el:hover .drop-menu {
        display: block;
    }
    .header-xs-drop {
        display: none !important;
    }
}
@media (max-width:991px) {
    .product-shadow {
        display: none;
    }
    .catalog-list .product-box .product-shadow {
        display: block;
    }
    .product-more {
        display: none;
    }
    .product-title {
        background: #0b72cf;
        height: 93px;
        top: auto;
        bottom: auto;
        position: relative;
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
        align-content: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0 30px;
        font-size: 16px;
        width: 100%;
    }
    .product-title:after {
        content: '';
        display: block;
    }
    .product-title:before {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 25px 25px 25px;
        border-color: transparent transparent #0b72cf transparent;
        position: absolute;
        right: 18px;
        top: -24px;
        content: '';
        display: block;
    }
    .product-title:after {
        background: url(../images/slide-arr.png) no-repeat;
        width: 7px;
        height: 12px;
        content: '';
        display: block;
        position: absolute;
        right: 40px;
        top: -5px;
        transform: rotate(90deg);
    }
    .product-box {
        width: 48%;
        margin: 10px 0;
        height: 323px;
        box-shadow: 0 9px 49px 0 rgba(0,0,0,0.2);
    }
    .product-img {
        height: 230px;
    }
    .products-list {
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .catalog-list .product-box .product-title,
    .catalog-list .product-box:hover .product-title {
        background: none;
        position: absolute;
        height: auto;
    }
    .catalog-list .product-box .product-title:before,
    .catalog-list .product-box .product-title:after {
        display: none;
    }
    .catalog-list .product-box .product-more {
        display: block;
        text-indent: -9999px;
        height: auto;
        padding: 0;
    }
    .catalog-list .product-box .product-more:before {
        right: 10px;
    }
    .catalog-list .product-more:after {
        right: 32px;
    }
    .news-item-img {
        width: 100%;
    }
    .news-item-content {
        padding: 0;
        margin-top: 25px;
        width: 100%;
    }
    .news-bottom {
        position: static;
        margin-top: 16px;
    }
}
@media (min-width:767px) and (max-width:991px) {
    .container {
        width: 750px;
    }
    .main-slider .slick-dots {
        left: calc(50% - 375px);
        width: 750px;
    }
    .header nav {
        position: absolute;
        top: calc(100% + 14px);
        background: #fff;
        z-index: 100;
        width: 100%;
        left: 0;
        display: none;
    }
    .header-nav {
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }
    .main-slide .slider-caption {
        top: 55px;
        padding: 0 90px 0 40px;
    }
    .slider-caption-l {
        padding-right: 20px;
    }
    .slide-title {
        font-size: 32px;
    }
    .main-slider .slick-arrow:after {
        background-size: 10px 18px;
        background-position: 60% 50%;
    }
    .main-slider .slick-arrow.slick-prev:after {
        background-position: 70% 50%;
    }
    .header-nav li a.header-xs-drop {
        right: -5px;
        top: 14px;
    }
    .news-main {
        width: 400px;
    }
    .news-main-img {
        height: 578px;
    }
    .news-main-text {
        padding: 0 20px;
    }
    .news-main-title {
        font-size: 38px;
        line-height: 35px;
        margin: 0 0 25px;
    }
    .footer-nav {
        margin: 0 10px;
    }
    .copy {
        font-size: 13px;
    }
    .footer-container {
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-around;
        justify-content: space-around;
    }
    .footer-aside {
        padding: 15px 0 0;
    }
    .footer {
        padding: 30px 0;
    }
    .sidebar-link {
        font-size: 12px;
        padding: 12px 30px 12px 10px;
    }
    .sidebar {
        width: 212px;
    }
    .sidebar-upper-btn,
    .sidebar-inner-btn {
        right: 8px;
    }
    .sidebar-td-drop {
        padding: 10px;
    }
    .catalog-list {
        margin: 0 -10px;
    }
    .catalog-list .product-box {
        width: 240px;
        height: auto;
        margin: 0 5px 25px;
    }
    .main-inner .sidebat + .content {
        width: calc(100% - 212px);
        padding-left: 10px;
    }
    .cart-slider-section {
        width: 100%;
    }
    .cart-holder {
        display: block;
    }
    .cart-info {
        width: 100%;
        padding: 15px 0 0;
    }
    h1, .section-title {
        font-size: 20px;
    }
    .contacts-box:first-child {
        padding-left: 34px;
    }
    .contacts-box:last-child {
        width: 20%;
    }
    .contacts-box {
        width: 40%;
        padding: 30px 45px 35px 15px;
    }
    .contacts-box p {
        font-size: 12px;
    }
    .contacts-head {
        margin-top: 30px;
    }
    .news-item {
        width: 49%;
        display: block;
    }
}
@media (min-width: 767px) {
    .visible-xs {
        display: none;
    }
    .product-box:hover .product-shadow {
        background: rgba(0,0,0,0.23);
    }
    .product-box:hover {
        opacity: 1;
        z-index: 10;
        transform: scale(1.2);
        box-shadow: 0 9px 49px 0 rgba(0,0,0,0.73);
    }
    .product-box:hover .product-title span {
        padding: 0 42px 0 0;
        transition: 1s all ease;
    }
    .product-box:hover .product-title {
        top: 35px;
    }
    .product-box:hover .product-title span {
        background: url(../images/prod-arr.png) no-repeat 100% 50%;
    }
    .show-search {
        display: none;
    }
}
@media (max-width:767px) {
    .hidden-xs {
        display: none !important;
    }
    .main-slider .slick-dots {
        width: 100%;
        padding: 0 15px;
        left: 0;
    }
    .header nav {
        display: none;
        position: absolute;
        top: calc(100% + 24px);
        background: #fff;
        z-index: 100;
        width: 100%;
        left: 0;
    }
    .header nav:after {
        background: url(../images/header-xs.png) no-repeat 50% 100%;
        content: '';
        display: block;
        background-size: 100% 100%;
        position: absolute;
        top: 98%;
        left: 0;
        height: 0;
        width: 100%;
        transition: 2s all ease;
    }
    .header nav.active:after {
        height: 280px;
    }
    .header-nav-el,
    .header-nav li {
        margin: 0;
        width: 100%;
        padding: 10px 0;
        font-size: 14px;
        text-align: center;
    }
    .header-nav li {
        margin: 0;
    }
    .header-nav li .header-nav-link {
        display: inline-block;
    }
    .header-nav {
        display: block;
    }
    .header {
        padding: 25px 0;
    }
    .header-search {
        top: 100%;
        position: absolute;
        display: none;
        width: 100%;
        left: 0;
        padding: 30px 20px;
        background: #fff;
        z-index: 100;
        height: auto;
    }
    .header-search-input {
        height: 53px;
        line-height: 51px;
        padding-left: 20px;
    }
    .header-search-btn {
        right: 35px;
    }
    .lang-holder {
        display: none;
    }
    .footer-nav {
        margin: 0 12px;
        max-width: none;
    }
    .footer-menus {
        width: 100%;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .footer-nav li:not(:first-child) {
        display: none;
    }
    .drop-menu {
        width: 100%;
        position: static;
        padding: 12px 0;
    }
    .header-nav .drop-menu li {
        padding: 0;
    }
    .header-nav .drop-menu li a {
        padding: 6px 10px;
    }
    .slide-dot-title {
        display: none;
    }
    .main-slide,
    .main-slide.slick-current {
        position: relative;
        transform: none;
        overflow: visible;
        top: auto;
        left: auto;
    }
    .main-slide .main-slide-img,
    .main-slide.slick-current .main-slide-img {
        transform: none;
        position: static;
        height: 465px;
    }
    .slide-num {
        font-size: 134px;
    }
    .slide-num-t {
        font-size: 17px;
        padding: 0 0 0 10px;
        text-align: left;
    }
    .slide-title {
        background: rgba(255,255,255,0.5);
        padding: 10px;
        display: block;
        font-size: 24px;
        line-height: 24px;
    }
    .slider-caption .flex {
        display: block;
    }
    .slider-caption-l {
        padding-right: 0;
        margin-bottom: 20px;
    }
    .main-slide .slider-caption {
        top: 45px;
    }
    .box-title {
        margin-bottom: 12px;
    }
    .section {
        padding: 34px 0;
    }
    .news-main-title {
        font-size: 24px;
        line-height: 24px;
    }
    .news-box {
        width: 100%;
        max-width: 303px;
        margin: 22px 0 0;
    }
    .news-title {
        font-size: 18px;
        padding: 40px 30px 0;
    }
    .news-main-text {
        padding: 0 22px;
    }
    .news-main-img {
        height: 395px;
        object-fit: cover;
    }
    .footer-btn {
        position: absolute;
        bottom: -70px;
    }
    .footer-btn.blue-btn {
        left: calc(50% - 152px);
    }
    .footer-btn.black-btn {
        right: calc(50% - 152px);
    }
    .footer {
        padding: 35px 0 95px;
    }
    .footer-aside {
        width: 100%;
        text-align: center;
    }
    .footer-row {
        display: block;
    }
    .footer-link {
        width: auto;
        margin: 0;
    }
    .news-aside {
        width: 100%;
        flex-direction: row;
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .news-main {
        width: 100%;
    }
    .news-main-img {
        width: 100%;
    }
    .sidebar {
        width: 100%;
    }
    .main-inner .sidebar + .content {
        width: 100%;
        padding: 25px 0 0;
    }
    .main-inner {
        display: block;
    }
    .main {
        padding: 20px 0 60px;
    }
    .catalog-list {
        margin: 0;
    }
    .catalog-list .product-box {
        width: 100%;
        margin: 0 0 20px;
        height: auto;
    }
    .catalog-list .product-box:last-child {
        margin-bottom: 0;
    }
    h1, .section-title {
        font-size: 18px;
        padding: 11px 0 15px;
    }
    .cart-img {
        width: 100%;
    }
    .cart-slider-section {
        margin: 0 auto;
    }
    .cart-info {
        width: 100%;
        padding: 30px 0 0;
    }
    .cart-holder {
        display: block;
    }
    .order-bot {
        margin-top: 55px;
        margin-bottom: 60px;
    }
    .product-tabs-nav li {
        margin-right: 15px;
    }
    .cart-slider-section {
        overflow: hidden;
    }
    .content-box {
        width: 100%;
        max-width: 100%;
        margin: 0 0 10px;
    }
    h2 {
        font-size: 18px;
    }
    p {
        font-weight: 300;
    }
    .std-list li,
    ol li{
        font-weight: 300;
    }
    .attention-box-holder,
    .note-box,
    .quote-box {
        margin: 15px 0;
    }
    .attention-box {
        width: 100%;
        padding: 10px 35px 10px 45px;
    }
    h4,
    h5 {
        font-size: 12px;
    }
    h6 {
        font-size: 10px;
    }
    .table-holder {
        margin: 15px 0;
        overflow-x: auto;
        width: 100%;
    }
    .std-table {
        min-width: 500px;
    }
    .std-table thead td,
    .std-table tbody tr td {
        padding: 12px 0;
    }
    body {
        font-size: 15px;
    }
    .news-img-holder {
        float: none;
        width: 100%;
        margin: 0 0 30px;
    }
    .contacts-head {
        margin-top: 30px;
        background: none;
        display: block;
    }
    .contacts-box {
        margin: 30px 0 0;
    }
    .contacts-box,
    .contacts-box:nth-child(2),
    .contacts-box:last-child {
        padding: 0 0 0 75px;
        background: none;
        width: 100%;
    }
    .contacts-box:first-child {
        padding: 0 0 0 75px;
        margin: 0;
    }
    .contacts-ico-box {
        top: 7px;
        left: 15px;
    }
    .contacts-box:nth-child(2):before,
    .contacts-box:last-child:before {
        display: none;
    }
    #map {
        height: auto;
    }
    .map-inner {
        position: static;
    }
    .feedback-holder {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
    .news-item {
        width: 100%;
        max-width: 100%;
        display: block;
    }
    .load-holder {
        margin-top: 25px;
    }
    .error-title {
        font-size: 120px;
    }
    .error-zero {
        width: 100px;
        height: 100px;
    }
    .error-zero:before {
        width: 50px;
        height: 50px;
        left: calc(50% - 25px);
        top: calc(50% - 25px);
    }
    .error-text {
        font-size: 60px;
    }
    .error-section {
        padding: 25px 0;
    }
    .search-form .feedback-input {
        width: 170px;
        margin-bottom: 0;
    }
    .search-btn {
        width: 100px;
        padding-left: 15px;
    }
    .pager li.page-prev,
    .pager li.page-next {
        width: 30px;
    }
    .pager li.page-prev a,
    .pager li.page-next a {
        width: 29px;
    }
    .pager li {
        width: 26px;
    }
    .pager li a {
        width: 25px;
    }
    .modal {
        padding: 25px 30px;
    }
    .modal-title {
        font-size: 21px;
    }
}
@media (max-width: 600px) {
    .cart-slider-section {
        width: calc(100% + 30px);
        margin: 0 -15px;
    }
    .product-box {
        width: 100%;
        height: auto;
        margin: 0 0 30px;
    }
    .products-list {
        display: block;
    }
    .product-img {
        height: auto;
    }
    .order-info {
        width: 100%;
    }
    .order-bot .slide-more {
        margin: 0 0 25px;
    }
}
@media (max-width: 420px) {
    .logo {
        width: 178px;
    }
}