@media (min-width: 1400px) {
  .contact-form-up {
    padding-left: 70px;
    padding-right: 70px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 970px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 750px; } }
@media (max-width: 767px) {
  body {
    font-size: 12px; }

  .container {
    padding: 0 20px; }

  header {
    padding-top: 20px;
    height: 360px;
    background: url(../images/main-visual-mob.svg) no-repeat 100% 100%; }
    header .container:after, header .container:before {
      content: '';
      display: block;
      clear: both; }
    header .container .logo img {
      width: 60px;
      height: 58px;
      display: block; }
    header .container .business-btn {
      width: 110px;
      height: 30px;
      line-height: 28px;
      font-size: 12px;
      margin-top: 15px; }
    header .header-text {
      font-size: 22px;
      line-height: 26px;
      position: absolute;
      margin: 0;
      width: 53%;
      left: 20px;
      top: 94px; }

  .benefits-list {
    padding: 40px 0 0; }
    .benefits-list .benefit-box {
      width: 100%;
      padding: 0;
      margin-top: 57px; }
      .benefits-list .benefit-box .benefit-title {
        font-size: 18px;
        margin-bottom: 23px; }
      .benefits-list .benefit-box .benefit-text {
        width: 100%; }
      .benefits-list .benefit-box .benefit-img {
        margin-bottom: 23px; }
      .benefits-list .benefit-box:first-child, .benefits-list .benefit-box:nth-child(3), .benefits-list .benefit-box:last-child {
        width: 100%;
        padding: 0; }
      .benefits-list .benefit-box:first-child {
        margin-top: 0; }
        .benefits-list .benefit-box:first-child img {
          width: 131px;
          height: 50px; }
        .benefits-list .benefit-box:first-child:after {
          width: 252px;
          height: 1px;
          bottom: -25px;
          right: -20px;
          top: auto; }
      .benefits-list .benefit-box:nth-child(2) img {
        width: 61px;
        height: 50px; }
      .benefits-list .benefit-box:nth-child(2):after {
        width: 145px;
        height: 1px;
        bottom: -25px;
        right: -20px;
        top: auto; }
      .benefits-list .benefit-box:nth-child(3) img {
        width: 84px;
        height: 50px; }
      .benefits-list .benefit-box:nth-child(3):after {
        width: 300px;
        height: 1px;
        bottom: -25px;
        right: -20px;
        top: auto; }
      .benefits-list .benefit-box:nth-child(4) img {
        width: 66px;
        height: 50px; }
      .benefits-list .benefit-box:nth-child(4):after {
        display: none; }

  .main-bn {
    overflow: hidden;
    margin-top: 50px;
    padding-top: 30px;
    height: auto;
    padding-bottom: 25px; }
    .main-bn .container {
      display: block; }
      .main-bn .container .main-left {
        width: 80%;
        margin-bottom: 120px;
        float: none; }
        .main-bn .container .main-left .man-photo {
          left: auto;
          right: -59px;
          bottom: auto;
          top: -20px;
          width: auto;
          height: 270px; }
        .main-bn .container .main-left .main-title {
          font-size: 18px;
          line-height: 28px; }
      .main-bn .container .main-right {
        width: 100%;
        float: none;
        padding: 0; }
        .main-bn .container .main-right .workers-list {
          display: block;
          float: none;
          width: 100%;
          height: 260px;
          overflow: hidden;
          position: relative;
          margin-bottom: 25px; }
          .main-bn .container .main-right .workers-list:not(.active):after {
            width: 100%;
            content: '';
            height: 50px;
            position: absolute;
            left: 0;
            bottom: 0;
            background-image: linear-gradient(to bottom, rgba(23, 23, 23, 0), #171717); }
          .main-bn .container .main-right .workers-list .worker-box {
            margin: 0 0 25px;
            padding: 0;
            width: 100%; }
            .main-bn .container .main-right .workers-list .worker-box:nth-child(3n-2), .main-bn .container .main-right .workers-list .worker-box:nth-child(3n-1) {
              margin: 0 0 25px;
              padding: 0;
              width: 100%; }

  .spotlight-section {
    padding: 50px 0; }
    .spotlight-section .spotlight-left {
      width: 100%;
      float: none;
      padding: 0;
      margin-bottom: 40px; }
      .spotlight-section .spotlight-left .spotlight-customer {
        display: block;
        text-align: center;
        font-size: 22px;
        margin-bottom: 40px; }
    .spotlight-section .spotlight-list {
      width: 100%;
      float: none;
      display: block;
      padding-top: 0; }
      .spotlight-section .spotlight-list .spotlight-box {
        margin: 0;
        padding-right: 50px; }
        .spotlight-section .spotlight-list .spotlight-box .spotlight-img-holder {
          height: auto; }
          .spotlight-section .spotlight-list .spotlight-box .spotlight-img-holder img {
            max-width: 100%; }
      .spotlight-section .spotlight-list > div {
        padding-right: 40px; }

  .careers-section .careers-left {
    width: 100%;
    float: none; }
  .careers-section .careers-content {
    float: none;
    width: 100%; }

  .visible-xs {
    display: block; } }

/*# sourceMappingURL=media.css.map */
