@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
@media (min-width:992px) and (max-width: 1199px) {
    .container {
        width: 970px;
    }
}
@media (min-width:992px) {
    .show-menu,
    .show-menu.show-drop {
        display: none;
    }
}
@media (max-width:991px) {
    
}
@media (min-width:768px) and (max-width:991px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 768px) {
    .visible-xs {
        display: none;
    }
}
@media (max-width:767px) {
    .header .header-nav .header-el {
        font-size: 14px;
    }
    .header .header-nav .header-el:last-child {
        position: absolute;
        right: 15px;
        top: 50px;
    }
}