.flex-center-x {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex-center-y {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    align-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%;
}
.flex-space-b {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.no-wrap {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
html, body {
	height: 100%;
}
body {
    background: #fff;
    margin: 0;
    font-family: 'Roboto';
    color: #173042;
    font-size: 16px;
    overflow-x: hidden;
    position: relative;
}
.clearfix:before,
.clearfix:after {
    clear: both;
    display: block;
    content: '';
}
a:focus {
    outline: none;
}
a {
    transition: 0.5s all ease;
    text-decoration: none;
}
a:hover {
    color: #ffe000;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: transparent !important;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    color: transparent !important;
}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder{
    color: transparent !important;
}
input:focus,
textarea:focus,
button:focus{
    outline: none;
}
p {
    margin: 0 0 20px;
    line-height: 22px;
}
p:last-child {
    margin: 0;
}
p a {
    text-decoration: underline;
}
p a:hover {
    text-decoration: none;
}
* {
-webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
      box-sizing: border-box;
    text-size-adjust: none;
}
button {
    border: none;
    cursor: pointer;
    transition: 0.5s all ease;
}
button:hover {
    cursor: pointer;
}
.wrapper {
    position: relative;
    min-height: 100%;
}
.container {
    position: relative;
    padding: 0 15px;
    margin: 0 auto;
}
.container:after,
.container:before {
    content: '';
    display: block;
    clear: both;
}
.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}
.video-bg video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bn-content h1 {
    font-size: 46px;
    text-align: center;
    text-transform: uppercase;
    color: #173042;
    margin-bottom: 60px;
    display: block;
    font-weight: 700;
}
.bn-content {
    padding: 50px 0 0;
}
.box-title,
h2 {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    margin-top: 0;
    margin-bottom: 55px;
    font-size: 40px;
}
.title-border:after,
h2:after,
h1:after {
    width: 200px;
    height: 3px;
    background: #ffe000;
    content: '';
    display: block;
    margin: 38px auto 0;
}
/* web development */
.inner-bn {
    background: url(/images/inner-bn.jpg) no-repeat 50% 0;
    background-size: cover;
    height: auto;
    padding: 150px 0 50px;
}
.work-main-ico {
    display: block;
    margin: 0 auto 35px;
}
h1,
.title-page {
    display: block;
    text-align: center;
    font-size: 46px;
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 35px;
}
h1 {
    margin: 0 0 55px;
}
.title-sub {
    display: block;
    text-align: center;
    font-size: 16px;
    color: #fff;
}
.inner-content {
    padding: 55px 0 115px;
}
.content-text {
    width: 625px;
}
.working-img-box {
    position: relative;
}
.working-img-box:before,
.working-img-box:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 5;
}
.working-img-box:before {
    right: -35px;
    top: -74px;
    background: url(/images/working-cube-top.png) no-repeat;
    width: 484px;
    height: 150px;
}
.working-img-box:after {
    width: 133px;
    height: 104px;
    left: -49px;
    bottom: -45px;
    background: #ffe000;
}
.working-img {
    position: relative;
    z-index: 7;
    display: block;
}
.inner-main-box {
    flex-direction: row-reverse;
}
/* contacts */
.contacts-page .contacts-holder {
    top: -60px;
    padding: 60px 85px 75px;
    height: calc(100% + 60px);
    position: relative;
    z-index: 2;
}
.contacts-page .contacts-title {
    display: block;
    color: #ffffff;
    font-size: 46px;
}
.contacts-page .fb-inputs .feedback-box {
    margin-top: 40px;
    width: 400px;
}
.contacts-page .fb-inputs .feedback-box:first-child {
    margin-top: 0;
}
.contacts-page .feedback-area {
    height: 248px;
    width: 515px;
    margin: 0;
}
.contacts-page .contact-us-form .send-form {
    width: 315px;
    height: 60px;
    line-height: 56px;
    margin: 65px auto 0;
    font-size: 20px;
}
.about-content {
    text-align: center;
    padding: 80px 0;
}
.inner-bn.title-page-box {
    height: 300px;
}
.content-head {
    padding: 0 0 55px;
}
.content-head h1 {
    color: #173042;
}
.video-box {
    overflow: hidden;
    height: 680px;
}
.video-box video,
.video-box canvas {
    height: 100%;
    display: block;
    width: 100%;
    object-fit: cover;
}
.content-head .title-sub {
    color: #173042;
}
.video-fill {
    height: 800px;
}
.inner-bn h1:after {
    display: none;
}
.main-video canvas,
.main-video {
    background: url(/images/video/poster-main.jpg) no-repeat 50% 50%;
    background-size: cover;
}
.web-video canvas,
.web-video {
    background: url(/images/video/poster-web.jpg) no-repeat 50% 50%;
    background-size: cover;
}
.games-video canvas,
.games-video {
    background: url(/images/video/poster-games.jpg) no-repeat 50% 50%;
    background-size: cover;
}
.individual-video canvas,
.individual-video {
    background: url(/images/video/poster-individual.jpg) no-repeat 50% 50%;
    background-size: cover;
}
.marketing-video canvas,
.marketing-video {
    background: url(/images/video/poster-marketing.jpg) no-repeat 50% 50%;
    background-size: cover;
}
.mobile-video canvas,
.mobile-video {
    background: url(/images/video/poster-mobile.jpg) no-repeat 50% 50%;
    background-size: cover;
}