/* fonts */
/* colors */
body {
  background: #ffffff;
  margin: 0;
  color: #423f39;
  font-size: 15px;
  overflow-x: hidden;
  position: relative;
  font-family: "montserratregular"; }

.clearfix:before,
.clearfix:after {
  clear: both;
  display: block;
  content: ''; }

a:focus {
  outline: none; }

a {
  text-decoration: none; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent !important; }

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent !important; }

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: transparent !important; }

input:focus,
textarea:focus,
button:focus {
  outline: none; }

button:hover {
  cursor: pointer; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

p {
  margin: 0 0 20px;
  line-height: 21px; }
  p:last-child {
    margin: 0; }

img {
  display: block; }

.holder {
  overflow: hidden; }

.wrapper {
  position: relative; }

.container {
  padding: 0 70px;
  width: 100%;
  position: relative;
  margin: 0 auto; }

header {
  padding: 50px 0 80px;
  height: 645px; }
  header .header-lines-section {
    position: absolute;
    top: 0;
    right: 23%;
    top: -50px;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: start;
    -moz-box-pack: left;
    -ms-flex-pack: left;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    width: 191px; }
    header .header-lines-section .header-line {
      width: 2px;
      height: 360px;
      background: rgba(194, 186, 171, 0.5);
      display: block;
      animation-delay: 0.5s;
      animation-name: lines;
      animation-timing-function: ease-out;
      animation-duration: 2.5s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      transform: translateY(-100%);
      margin-left: 5px; }
      header .header-lines-section .header-line:first-child {
        margin-left: 0; }
      header .header-lines-section .header-line:nth-child(2) {
        height: 420px;
        animation-delay: 1s; }
      header .header-lines-section .header-line:nth-child(3) {
        height: 479px;
        animation-delay: 1.5s; }
      header .header-lines-section .header-line:nth-child(4) {
        height: 537px;
        animation-delay: 2s; }
      header .header-lines-section .header-line:nth-child(5) {
        height: 407px;
        animation-delay: 2.5s; }
      header .header-lines-section .header-line:nth-child(6) {
        height: 466px;
        animation-delay: 1.5s; }
      header .header-lines-section .header-line:nth-child(7) {
        height: 502px;
        animation-delay: 2s; }
      header .header-lines-section .header-line:nth-child(8) {
        height: 466px;
        animation-delay: 2.5s; }
      header .header-lines-section .header-line:nth-child(9) {
        height: 489px;
        animation-delay: 1s; }
      header .header-lines-section .header-line:nth-child(10) {
        height: 466px;
        animation-delay: 1.5s; }
      header .header-lines-section .header-line:nth-child(11) {
        height: 479px;
        animation-delay: 2.5s; }
      header .header-lines-section .header-line:nth-child(12) {
        height: 489px;
        animation-delay: 2s; }
      header .header-lines-section .header-line:nth-child(13) {
        height: 479px;
        animation-delay: 1s; }
      header .header-lines-section .header-line:nth-child(14) {
        animation-delay: 1.5s;
        height: 466px; }
      header .header-lines-section .header-line:nth-child(15) {
        height: 502px;
        animation-delay: 2s; }
      header .header-lines-section .header-line:nth-child(16) {
        animation-delay: 1.5s;
        height: 525px; }
      header .header-lines-section .header-line:nth-child(17) {
        height: 489px;
        animation-delay: 2.5s; }
      header .header-lines-section .header-line:nth-child(18) {
        height: 466px;
        animation-delay: 1.5s; }
      header .header-lines-section .header-line:nth-child(19) {
        height: 560px;
        animation-delay: 1s; }
      header .header-lines-section .header-line:nth-child(20) {
        animation-delay: 2.5s;
        height: 466px; }
      header .header-lines-section .header-line:nth-child(21) {
        height: 454px;
        animation-delay: 2s; }
      header .header-lines-section .header-line:nth-child(22) {
        height: 502px;
        animation-delay: 1.5s; }
      header .header-lines-section .header-line:nth-child(23) {
        height: 466px;
        animation-delay: 1s; }
      header .header-lines-section .header-line:nth-child(24) {
        animation-delay: 2s;
        height: 420px; }
      header .header-lines-section .header-line:nth-child(25) {
        height: 479px;
        animation-delay: 2.5s; }
      header .header-lines-section .header-line:nth-child(26) {
        animation-delay: 1s;
        height: 466px; }
      header .header-lines-section .header-line:nth-child(27) {
        animation-delay: 2s;
        height: 383px; }
      header .header-lines-section .header-line:nth-child(28) {
        height: 360px;
        animation-delay: 1.5s; }
  header .logo {
    float: left; }
  header .business-btn {
    width: 152px;
    height: 51px;
    line-height: 49px;
    text-align: center;
    border: solid 1px #ab957d;
    font-family: "montserratregular";
    font-size: 16px;
    color: #423f39;
    float: right;
    margin-top: 22px;
    background: #ffffff;
    position: relative;
    z-index: 10; }
  header .header-text {
    width: 505px;
    float: left;
    margin: 180px 0 0 112px;
    font-family: "montserratlight";
    font-size: 39px;
    line-height: 49px;
    color: #c2baab; }
    header .header-text span {
      display: block;
      color: #423f39; }

.benefits-list {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .benefits-list .benefit-box {
    padding: 0 36px;
    position: relative;
    width: 24%;
    transform: translateY(0); }
    .benefits-list .benefit-box .benefit-line span {
      animation-delay: 0s;
      animation-name: lines;
      animation-timing-function: ease-out;
      animation-duration: 2.5s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      display: block; }
    .benefits-list .benefit-box:first-child {
      padding-left: 0;
      width: 28%; }
      .benefits-list .benefit-box:first-child .benefit-line span {
        content: '';
        width: 2px;
        height: 295px;
        background: rgba(194, 186, 171, 0.5);
        position: absolute;
        right: 25px;
        top: 0; }
    .benefits-list .benefit-box:nth-child(2) .benefit-line span {
      content: '';
      width: 2px;
      height: 223px;
      background: rgba(194, 186, 171, 0.5);
      position: absolute;
      right: 5px;
      bottom: -24px; }
    .benefits-list .benefit-box:nth-child(3) {
      padding-left: 55px; }
      .benefits-list .benefit-box:nth-child(3) .benefit-line span {
        content: '';
        width: 2px;
        height: 45px;
        background: rgba(194, 186, 171, 0.5);
        position: absolute;
        right: -18px;
        bottom: -118px; }
    .benefits-list .benefit-box:last-child {
      padding-left: 85px;
      padding-right: 0; }
      .benefits-list .benefit-box:last-child .benefit-line span {
        content: '';
        width: 2px;
        height: calc(100% + 120px);
        background: rgba(194, 186, 171, 0.5);
        position: absolute;
        left: 23px;
        top: 21px; }
    .benefits-list .benefit-box .benefit-img {
      display: block;
      margin: 0 0 45px; }
    .benefits-list .benefit-box .benefit-title {
      font-family: "montserratlight";
      font-size: 26px;
      color: #7a766f;
      text-transform: uppercase;
      display: block;
      margin-bottom: 30px; }
    .benefits-list .benefit-box .benefit-text {
      font-family: "montserratmedium";
      font-size: 15px;
      line-height: 23px;
      color: #67645e;
      width: 230px;
      display: block; }

.main-bn {
  padding-top: 70px;
  margin-top: 115px;
  padding-bottom: 70px;
  position: relative;
  z-index: 10;
  background-color: #171717; }
  .main-bn .container {
    height: 100%;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex; }
    .main-bn .container .main-left {
      float: left;
      width: 580px; }
      .main-bn .container .main-left .main-left-text {
        position: relative;
        z-index: 10; }
      .main-bn .container .main-left .main-title {
        display: block;
        font-size: 35px;
        font-family: "montserratbold_italic";
        color: #ffffff;
        margin-bottom: 20px;
        line-height: 44px; }
        .main-bn .container .main-left .main-title span {
          font-family: "montserratlight_italic"; }
      .main-bn .container .main-left .bn-name {
        display: block;
        font-family: "montserratmedium";
        font-size: 18px;
        color: #ab957d; }
      .main-bn .container .main-left .bn-pos {
        margin: 10px 0;
        display: block;
        color: #e5dfd4;
        font-family: "montserratmedium";
        font-size: 14px; }
      .main-bn .container .main-left .bn-company {
        display: block;
        font-family: "montserratmedium";
        color: #ffffff;
        font-size: 14px; }
      .main-bn .container .main-left .man-photo {
        position: absolute;
        left: 270px;
        display: block;
        bottom: -70px; }
    .main-bn .container .main-right {
      width: calc(100% - 600px);
      padding-left: 115px;
      padding-top: 7px;
      float: right; }
      .main-bn .container .main-right .workers-list {
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        .main-bn .container .main-right .workers-list .worker-box {
          margin-bottom: 51px;
          width: 26%; }
          .main-bn .container .main-right .workers-list .worker-box:nth-child(3n-1) {
            width: 32%; }
          .main-bn .container .main-right .workers-list .worker-box:nth-child(3n-2) {
            width: 42%;
            padding-right: 10px; }
          .main-bn .container .main-right .workers-list .worker-box:last-child {
            margin-bottom: 0; }
          .main-bn .container .main-right .workers-list .worker-box:nth-last-child(2) {
            margin-bottom: 0; }
          .main-bn .container .main-right .workers-list .worker-box .worker-name {
            display: block;
            font-size: 18px;
            font-family: "montserratmedium";
            color: #ab957d;
            margin-bottom: 7px; }
          .main-bn .container .main-right .workers-list .worker-box .worker-pos {
            font-size: 14px;
            line-height: 20px;
            font-family: "montserratmedium";
            color: #e5dfd4;
            display: block;
            margin-bottom: 7px; }
          .main-bn .container .main-right .workers-list .worker-box .worker-team {
            font-size: 14px;
            font-family: "montserratmedium";
            color: #ffffff;
            display: block; }

.spotlight-section {
  padding: 105px 0 8px; }
  .spotlight-section .spotlight-left {
    float: left;
    width: 450px;
    padding-right: 20px; }
    .spotlight-section .spotlight-left .spotlight-customer {
      display: block;
      font-size: 44px;
      font-family: "montserratlight";
      color: #000000;
      line-height: 50px; }
  .spotlight-section .spotlight-list {
    float: left;
    padding-top: 10px;
    width: calc(100% - 450px);
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .spotlight-section .spotlight-list .spotlight-box {
      margin-bottom: 87px;
      width: 48%;
      position: relative;
      padding-bottom: 35px; }
      .spotlight-section .spotlight-list .spotlight-box .spotlight-img-holder {
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        align-items: flex-end;
        height: 40px; }
      .spotlight-section .spotlight-list .spotlight-box p {
        font-size: 15px;
        line-height: 23px;
        margin-bottom: 10px; }
      .spotlight-section .spotlight-list .spotlight-box .spotlight-img {
        display: block;
        margin: 0 0 20px; }
      .spotlight-section .spotlight-list .spotlight-box .spotlight-price {
        display: block;
        font-family: Georgia;
        font-size: 30px;
        color: #67645e;
        position: absolute;
        left: 0;
        bottom: 0; }

.careers-section {
  height: 526px;
  background-color: #171717;
  padding: 114px 0 0; }
  .careers-section .container {
    height: 100%;
    position: static; }
  .careers-section .careers-left {
    font-size: 44px;
    font-family: "montserratlight";
    color: #ffffff;
    width: 450px;
    height: 406px;
    position: relative;
    float: left; }
    .careers-section .careers-left .footer-lines-section {
      position: absolute;
      top: 0;
      left: -11px;
      bottom: 0;
      display: flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      -webkit-box-pack: start;
      -moz-box-pack: left;
      -ms-flex-pack: left;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
      align-items: flex-end;
      width: 310px;
      transition: 1s all linear;
      opacity: 0; }
      .careers-section .careers-left .footer-lines-section.animated {
        opacity: 1; }
        .careers-section .careers-left .footer-lines-section.animated .footer-line {
          animation-delay: 0.5s;
          animation-name: lines;
          animation-timing-function: ease-out;
          animation-duration: 2.5s;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
          transform: translateY(-3000%); }
      .careers-section .careers-left .footer-lines-section .footer-line {
        width: 2px;
        height: 51px;
        background: rgba(195, 185, 170, 0.2);
        display: block;
        margin-left: 5px; }
        .careers-section .careers-left .footer-lines-section .footer-line:first-child {
          margin-left: 0; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(2) {
          height: 61px;
          animation-delay: 1s; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(3) {
          height: 121px;
          animation-delay: 1.5s; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(4) {
          height: 161px;
          animation-delay: 2s; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(5) {
          height: 151px;
          animation-delay: 1s; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(6) {
          height: 201px;
          animation-delay: 2.5s; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(7) {
          height: 171px;
          animation-delay: 1s; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(8) {
          height: 191px;
          animation-delay: 3s; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(9) {
          height: 161px;
          animation-delay: 2s; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(10) {
          animation-delay: 1.5s;
          height: 250px; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(11) {
          height: 214px;
          animation-delay: 0.5s; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(12) {
          height: 237px;
          animation-delay: 1s; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(13) {
          height: 187px;
          animation-delay: 1.5s; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(14) {
          height: 267px;
          animation-delay: 1s; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(15) {
          height: 237px;
          animation-delay: 2s; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(16) {
          height: 217px;
          animation-delay: 2.5s; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(17) {
          animation-delay: 1.5s;
          height: 252px; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(18) {
          height: 272px;
          animation-delay: 0.5s; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(19) {
          height: 262px;
          animation-delay: 1s; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(20) {
          height: 282px;
          animation-delay: 2s; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(21) {
          height: 295px;
          animation-delay: 2.5s; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(22) {
          height: 315px;
          animation-delay: 3s; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(23) {
          height: 307px;
          animation-delay: 1s; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(24) {
          height: 293px;
          animation-delay: 1.5s; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(25) {
          height: 277px;
          animation-delay: 2.5s; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(26) {
          height: 290px;
          animation-delay: 2s; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(27) {
          height: 267px;
          animation-delay: 1s; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(28) {
          height: 240px;
          animation-delay: 3s; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(29) {
          height: 250px;
          animation-delay: 2.5s; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(30) {
          height: 240px;
          animation-delay: 1s; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(31) {
          height: 227px;
          animation-delay: 1.5s; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(32) {
          height: 233px;
          animation-delay: 0.5s; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(33) {
          height: 216px;
          animation-delay: 2s; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(34) {
          height: 240px;
          animation-delay: 3s; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(35) {
          animation-delay: 1.5s;
          height: 217px; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(36) {
          height: 265px;
          animation-delay: 1s; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(37) {
          height: 217px;
          animation-delay: 2s; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(38) {
          height: 205px;
          animation-delay: 3s; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(39) {
          height: 123px;
          animation-delay: 1s; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(40) {
          height: 137px;
          animation-delay: 1.5s; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(41) {
          height: 181px;
          animation-delay: 1s; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(42) {
          height: 120px;
          animation-delay: 2.5s; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(43) {
          height: 97px;
          animation-delay: 0.5s; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(44) {
          height: 114px;
          animation-delay: 2s; }
        .careers-section .careers-left .footer-lines-section .footer-line:nth-child(45) {
          height: 41px;
          animation-delay: 1.5s; }
  .careers-section .careers-content {
    padding-top: 6px;
    float: left;
    width: calc(100% - 450px);
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .careers-section .careers-content .careers-box {
      min-width: 25%;
      max-width: 25%;
      margin-bottom: 65px;
      max-height: 97px; }
      .careers-section .careers-content .careers-box .career-type {
        display: block;
        font-size: 18px;
        font-family: "montserratmedium";
        color: #ab957d;
        margin-bottom: 12px; }
        .careers-section .careers-content .careers-box .career-type:hover {
          cursor: pointer; }
      .careers-section .careers-content .careers-box .career-group {
        font-size: 14px;
        font-family: "montserratbold";
        color: #ffffff; }

footer {
  height: 100px;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  background: #000000; }
  footer .container {
    height: 100%;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
    footer .container .copy {
      font-size: 16px;
      color: #ffffff; }
    footer .container .business-btn {
      width: 152px;
      height: 51px;
      line-height: 49px;
      text-align: center;
      font-size: 16px;
      color: #ffffff;
      border: solid 1px #ab957d; }

.careers-up {
  position: absolute;
  width: 800px;
  z-index: 100;
  display: none;
  background: #171717;
  padding: 40px; }
  .careers-up .career-up-title {
    display: block;
    font-size: 28px;
    font-family: "montserratlight";
    color: #ffffff;
    margin-bottom: 20px; }
  .careers-up .career-up-group {
    display: block;
    font-size: 18px;
    font-family: "montserratmedium";
    color: #ab957d;
    margin-bottom: 40px; }
  .careers-up .scroll-pane {
    height: 216px; }
    .careers-up .scroll-pane .career-up-text {
      line-height: 24px;
      font-size: 16px;
      color: #ffffff; }
  .careers-up .career-up-price {
    margin-top: 40px;
    display: block;
    font-family: Georgia;
    font-size: 30px;
    color: #ab957d; }
  .careers-up .apply-btn {
    display: block;
    line-height: 49px;
    text-align: center;
    margin: 73px auto 0;
    width: 152px;
    height: 51px;
    background-color: #171717;
    border: solid 1px #ffffff;
    color: #ffffff; }
  .careers-up .close-up {
    position: absolute;
    display: block;
    top: 40px;
    right: 40px;
    background: url(../images/cross.svg) no-repeat;
    width: 20px;
    height: 20px; }

.contact-form-up {
  z-index: 100;
  position: fixed;
  left: 0;
  width: 100%;
  opacity: 0;
  background: #171717; }
  .contact-form-up form {
    padding: 40px 25px; }
  .contact-form-up.bottom-form {
    position: relative;
    height: 0;
    overflow: hidden;
    padding: 0; }
  .contact-form-up .close-up {
    position: absolute;
    display: block;
    top: 40px;
    right: 40px;
    background: url(../images/cross.svg) no-repeat;
    width: 20px;
    height: 20px; }
  .contact-form-up .contact-form-title {
    display: block;
    font-size: 28px;
    font-family: "montserratlight";
    color: #ffffff;
    margin-bottom: 5px; }
  .contact-form-up .fields-info {
    font-size: 16px;
    font-family: "montserratlight_italic";
    color: #8c8c8c; }
  .contact-form-up .contact-form-inner {
    padding: 18px 0 0;
    overflow: hidden;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .contact-form-up .contact-form-inner .clearfix {
      float: left; }
      .contact-form-up .contact-form-inner .clearfix .contact-row {
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 530px; }
        .contact-form-up .contact-form-inner .clearfix .contact-row:first-child {
          margin-bottom: 35px; }
    .contact-form-up .contact-form-inner > .contact-box {
      float: left; }
      .contact-form-up .contact-form-inner > .contact-box textarea {
        width: 517px;
        height: 153px;
        border: solid 1px #979797;
        padding: 12px 10px;
        resize: none;
        font-size: 18px;
        font-family: "montserratmedium_italic";
        color: #656565;
        background: none; }
        .contact-form-up .contact-form-inner > .contact-box textarea.error {
          border: solid 2px #fbc250; }
    .contact-form-up .contact-form-inner .contact-form-send {
      float: left;
      width: 152px;
      height: 51px;
      background-color: #171717;
      line-height: 49px;
      text-align: center;
      font-size: 16px;
      color: #ffffff;
      border: solid 1px #ffffff;
      font-family: "montserratsemibold";
      margin-top: 130px; }
  .contact-form-up .contact-box .contact-input-name {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: "montserratmedium";
    color: #ffffff; }
  .contact-form-up .contact-box .contact-input {
    width: 240px;
    height: 45px;
    line-height: 43px;
    padding: 0 10px;
    border: solid 1px #979797;
    font-size: 18px;
    font-family: "montserratmedium_italic";
    color: #656565;
    background: none; }
    .contact-form-up .contact-box .contact-input.error {
      border: solid 2px #fbc250; }

.view-btn {
  height: 30px;
  border: solid 1px #ab957d;
  width: 100%;
  line-height: 28px;
  text-align: center;
  color: #ffffff; }

.visible-xs {
  display: none; }

.shadow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  background: rgba(0, 0, 0, 0.4);
  display: none; }

/* animation */
@keyframes lines {
  from {
    transform: translateY(-100%);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

/*# sourceMappingURL=style.css.map */
