// fonts
$regular-font: 'ubunturegular';
$medium-font: 'ubuntumedium';
$light-font: 'ubuntulight';
// colors
$white: #ffffff;
$purple: #a95be1;
$purple-dark: #30234e;
$blue-dark: #040464;
$gray: #707070;