@import url(slick.css);
@font-face {
  font-family: 'ubunturegular';
  src: url("../fonts/ubuntu-r-webfont.eot");
  src: url("../fonts/ubuntu-r-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-r-webfont.woff2") format("woff2"), url("../fonts/ubuntu-r-webfont.woff") format("woff"), url("../fonts/ubuntu-r-webfont.ttf") format("truetype"), url("../fonts/ubuntu-r-webfont.svg#ubunturegular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntumedium';
  src: url("../fonts/ubuntu-m-webfont.eot");
  src: url("../fonts/ubuntu-m-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-m-webfont.woff2") format("woff2"), url("../fonts/ubuntu-m-webfont.woff") format("woff"), url("../fonts/ubuntu-m-webfont.ttf") format("truetype"), url("../fonts/ubuntu-m-webfont.svg#ubuntumedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntulight';
  src: url("../fonts/ubuntu-l-webfont.eot");
  src: url("../fonts/ubuntu-l-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-l-webfont.woff2") format("woff2"), url("../fonts/ubuntu-l-webfont.woff") format("woff"), url("../fonts/ubuntu-l-webfont.ttf") format("truetype"), url("../fonts/ubuntu-l-webfont.svg#ubuntulight") format("svg");
  font-weight: normal;
  font-style: normal; }
html, body {
  height: 100%; }

body {
  background: #ffffff;
  margin: 0;
  color: #707070;
  font-size: 20px;
  overflow-x: hidden;
  position: relative;
  font-family: "ubuntulight"; }

a {
  text-decoration: none;
  color: #040464; }
  a:focus {
    outline: none; }

b {
  font-weight: normal;
  font-family: "ubuntumedium"; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent !important; }

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent !important; }

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: transparent !important; }

.custom-select:focus,
select:focus,
input:focus,
textarea:focus,
button:focus {
  outline: none;
  box-shadow: none; }

p {
  margin: 0 0 24px;
  line-height: 1.32; }
  p:last-child {
    margin: 0; }
  p a {
    text-decoration: underline; }
    p a:hover {
      text-decoration: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  display: block;
  max-width: 100%; }

button {
  border: none; }
  button:hover {
    cursor: pointer; }

.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  align-items: flex-start; }
  .slick-dots li {
    margin: 0 5px; }
    .slick-dots li.slick-active button {
      background-color: #a95be1; }
    .slick-dots li button {
      padding: 0;
      width: 8px;
      height: 8px;
      border: solid 1px #a95be1;
      background-color: #ffffff;
      text-indent: -9999px;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%; }

.btn {
  border-radius: 50px;
  background-color: #a95be1;
  border: 1px solid #a95be1;
  padding: 13px 46px;
  font-size: 22px;
  font-family: "ubuntumedium";
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: 0.2px;
  text-align: left;
  color: #ffffff; }
  .btn:hover {
    color: #a95be1;
    background-color: #ffffff; }
  .btn.inverse {
    background: none;
    color: #ffffff;
    border-color: #ffffff; }

.title-box {
  font-size: 50px;
  font-family: "ubuntumedium";
  line-height: 1.4;
  letter-spacing: 0.5px;
  color: #040464;
  display: block; }
  .title-box .title-box__colored {
    color: #707070;
    font-family: "ubuntulight"; }

.title-sub {
  font-size: 20px;
  font-family: "ubuntulight";
  line-height: 1.3;
  letter-spacing: 0.3px;
  text-align: center;
  color: #707070;
  display: block; }

.title-att {
  display: block;
  line-height: 1.6;
  letter-spacing: 0.3px;
  text-align: left;
  color: #2b2046;
  margin-top: 3px; }

.more-link {
  font-size: 22px;
  line-height: 1.16;
  letter-spacing: 0.3px;
  color: #a95be1;
  display: inline-block;
  position: relative; }
  .more-link:after {
    content: '';
    display: block;
    background: url(../images/arrow-pointing-to-right.png) no-repeat;
    width: 31px;
    height: 22px;
    background-size: 25px 18px;
    position: absolute;
    right: -38px;
    top: calc(50% - 9px); }
  .more-link:hover {
    color: #a95be1;
    text-decoration: none; }
    .more-link:hover:after {
      animation: 1s linkArrow ease infinite; }

.wrapper {
  min-height: 100%;
  position: relative; }

header {
  padding: 45px 0 35px; }
  header .header-nav {
    margin-right: 56px; }
    header .header-nav .header-nav__el {
      padding: 0 15px;
      font-size: 22px;
      line-height: 1.18;
      letter-spacing: 0.2px;
      font-family: "ubunturegular"; }
      header .header-nav .header-nav__el .header-nav__link {
        display: block;
        color: #040464; }
        header .header-nav .header-nav__el .header-nav__link:hover {
          color: #a95be1;
          text-decoration: none; }
  header .logo {
    display: block; }
    header .logo img {
      max-height: 100%; }
  header .btn {
    width: 148px;
    height: 48px;
    padding: 0;
    text-align: center;
    line-height: 46px; }

.culture-section {
  padding: 35px 0 40px; }
  .culture-section p {
    margin-bottom: 3px; }
  .culture-section .culture-section__img {
    position: relative;
    max-width: 100%; }
  .culture-section .more-link {
    margin-bottom: 34px; }

.bn-section {
  background: #30234e;
  padding: 140px 0; }
  .bn-section .title-box {
    text-align: center;
    line-height: 1.24;
    letter-spacing: 0.5px;
    color: #ffffff; }
  .bn-section .bn-section__txt {
    display: block;
    font-family: "ubuntulight";
    font-size: 25px;
    line-height: 1.32;
    letter-spacing: 0.3px;
    text-align: center;
    padding: 7px 0 0;
    color: #ffffff; }

.steps {
  padding: 170px 0;
  overflow: hidden; }
  .steps .title-box,
  .steps .title-sub {
    text-align: center; }
  .steps .steps__list {
    height: 2949px;
    margin: 270px 0 0;
    padding: 470px 0 0;
    background: url(../images/steps-vertical.png) no-repeat 40% 0; }
    .steps .steps__list .steps__el {
      position: relative; }
      .steps .steps__list .steps__el .title-box, .steps .steps__list .steps__el .title-sub {
        text-align: left;
        margin-bottom: 8px; }
      .steps .steps__list .steps__el .steps__img {
        position: relative; }
      .steps .steps__list .steps__el.joonkopool .steps__img {
        top: -340px; }
      .steps .steps__list .steps__el.joonkopool:after {
        content: url(../images/homepage-cloud1.png);
        display: block;
        position: absolute;
        bottom: 0;
        left: 72px; }
      .steps .steps__list .steps__el.joonkohire {
        padding: 420px 0 0; }
        .steps .steps__list .steps__el.joonkohire .steps__img {
          top: -310px;
          left: -10px; }
      .steps .steps__list .steps__el.joonkogrow {
        padding: 55px 0 0; }
        .steps .steps__list .steps__el.joonkogrow .steps__img {
          top: -400px; }
        .steps .steps__list .steps__el.joonkogrow:after {
          content: url(../images/homepage-cloud2.png);
          display: block;
          position: absolute;
          top: -410px;
          right: -150px; }

.clients {
  padding-bottom: 150px; }
  .clients .title-box {
    text-align: center; }
  .clients .clients__slider {
    margin: 40px 0 0; }
    .clients .clients__slider .clients__slide {
      display: flex;
      align-items: center;
      align-content: center;
      height: 72px;
      padding: 0 15px; }
      .clients .clients__slider .clients__slide .clients__img {
        margin: 0 auto; }

.blog .title-box {
  text-align: center;
  margin-bottom: 30px; }
.blog .blog__item {
  position: relative;
  width: 100%; }
  .blog .blog__item .blog__bg {
    position: relative;
    left: -15%;
    z-index: 2;
    width: 130%;
    max-width: none;
    object-fit: cover; }
  .blog .blog__item .blog__title {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 132px;
    padding: 0 5%;
    font-size: 20px;
    font-family: "ubuntulight";
    line-height: 1.32;
    letter-spacing: 0.3px;
    text-align: center;
    color: #ffffff;
    top: 25%;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 3; }
  .blog .blog__item .blog__link {
    position: absolute;
    bottom: 30%;
    text-decoration: underline;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 1.18;
    letter-spacing: 0.2px;
    color: #ffffff;
    z-index: 3; }
    .blog .blog__item .blog__link:hover {
      color: #a95be1; }

.trial {
  padding: 220px 0 350px;
  text-align: center;
  background: url(../images/trial-bg.png) no-repeat; }
  .trial .title-sub {
    margin: 15px 0 0; }
  .trial .btn {
    margin: 35px 0 0; }

footer {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  padding: 108px 0;
  border: solid 1px #707070;
  background-color: #30234e; }
  footer .footer-logo {
    width: 152px;
    height: 76px;
    margin-bottom: 40px;
    display: block; }
    footer .footer-logo .footer-logo__img {
      width: 100%; }
  footer .footer__nav .footer__nav__el {
    font-size: 22px;
    font-family: "ubuntulight";
    line-height: 1.32;
    letter-spacing: 0.3px;
    margin: 30px 0 0; }
    footer .footer__nav .footer__nav__el .footer__nav__link {
      color: #ffffff; }
    footer .footer__nav .footer__nav__el:first-child {
      margin: 0 0 40px;
      font-family: "ubuntumedium"; }
  footer .footer__soc {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px; }
    footer .footer__soc .footer__soc__el {
      margin: 11px 10px; }
      footer .footer__soc .footer__soc__el .footer__soc__link {
        display: block;
        width: 44px;
        height: 44px;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%; }
        footer .footer__soc .footer__soc__el .footer__soc__link img {
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%; }

.pool-head {
  padding: 160px 0 450px;
  text-align: center;
  background: url("../images/jpool-bg.png") 50% 70%; }
  .pool-head .title-box {
    margin: 0 0 25px; }

.info-txt {
  margin: 13px 0 0;
  font-size: 18px;
  font-style: italic;
  line-height: 1.33;
  letter-spacing: 0.2px;
  color: #707070;
  display: block; }

.joonko-bn {
  padding: 115px 0; }
  .joonko-bn .title-sub {
    color: #ffffff; }

.benefits {
  overflow: hidden;
  padding: 135px 0; }
  .benefits .benefits__row {
    padding: 90px 0;
    position: relative; }
    .benefits .benefits__row .title-box {
      line-height: 1.2;
      margin-bottom: 7px; }
    .benefits .benefits__row .benefits__img {
      max-width: 95%;
      margin: 0 auto;
      max-height: 800px; }
    .benefits .benefits__row.benefits__guarantee {
      padding-top: 0; }
      .benefits .benefits__row.benefits__guarantee .benefits__guarantee-col {
        padding-top: 15%; }
      .benefits .benefits__row.benefits__guarantee:after {
        content: '';
        display: block;
        background: url(../images/cloud1.png) no-repeat;
        width: 518px;
        height: 153px;
        position: absolute;
        bottom: 90px;
        left: 0; }
    .benefits .benefits__row.benefits__experience:after {
      content: '';
      display: block;
      background: url(../images/cloud2.png) no-repeat;
      width: 326px;
      height: 138px;
      background-size: 100% 100%;
      position: absolute;
      top: -70px;
      left: 88%; }

.title-info {
  font-size: 24px;
  font-family: "ubuntulight";
  line-height: 1.14;
  letter-spacing: 0.3px;
  color: #040464;
  display: block;
  margin-bottom: 10px; }

.sign-up {
  padding-bottom: 110px;
  margin-top: -25px; }
  .sign-up .title-box {
    line-height: 1.1;
    margin-bottom: 10px;
    text-align: center; }
  .sign-up .sign-up__row {
    margin-top: 100px; }
    .sign-up .sign-up__row .col-md-5 {
      padding: 0;
      margin: 0 -1.5%; }
    .sign-up .sign-up__row .sign-up__box {
      width: 100%;
      padding: 80px 16% 250px; }
      .sign-up .sign-up__row .sign-up__box.sign-up__all {
        background: url(../images/sign-up2.png) no-repeat;
        background-size: 100% 100%; }
      .sign-up .sign-up__row .sign-up__box.sign-up__team {
        background: url(../images/sign-up1.png) no-repeat;
        background-size: 100% 100%; }
      .sign-up .sign-up__row .sign-up__box .sign-up__btn {
        padding: 22px 27px; }
      .sign-up .sign-up__row .sign-up__box .sign-up__title {
        font-size: 25px;
        font-family: "ubuntulight";
        line-height: 1.08;
        letter-spacing: 0.3px;
        color: #040464;
        margin: 0 0 20px;
        display: block; }
        .sign-up .sign-up__row .sign-up__box .sign-up__title .sign-up__title__bold {
          font-family: "ubuntumedium";
          display: block; }
      .sign-up .sign-up__row .sign-up__box .sign-up__price {
        text-align: left;
        margin: 0 0 20px; }
      .sign-up .sign-up__row .sign-up__box .sign-up__list {
        margin: 0 0 30px; }
        .sign-up .sign-up__row .sign-up__box .sign-up__list .sign-up__list__elem {
          font-size: 20px;
          font-family: "ubuntulight";
          line-height: 1.3;
          letter-spacing: 0.2px;
          color: #707070; }

.standard {
  position: relative;
  padding: 69px 0 209px; }
  .standard:after {
    background: url(../images/Path_829.png) no-repeat 2% 0;
    background-size: 135%;
    content: '';
    display: block;
    left: 0;
    width: 100%;
    bottom: -65px;
    height: 505px;
    position: absolute; }
  .standard .standard__txt {
    display: block;
    margin: 0 0 11px;
    color: #707070;
    font-family: "ubuntulight";
    line-height: 1.32;
    letter-spacing: 0.3px; }
  .standard .standard__list {
    padding: 84px 0 0; }
    .standard .standard__list .standard__list__item {
      padding: 15px 0;
      display: flex;
      align-items: flex-start;
      align-content: flex-start; }
      .standard .standard__list .standard__list__item .standard__list__title {
        display: block;
        width: 30%;
        font-size: 28px;
        line-height: 1.18;
        font-family: "ubuntumedium";
        letter-spacing: 0.3px;
        color: #040464; }
      .standard .standard__list .standard__list__item .standard__list__content {
        width: 70%;
        padding: 0 0 0 25px; }
        .standard .standard__list .standard__list__item .standard__list__content .standard__list__txt {
          font-family: "ubuntulight";
          line-height: 1.32;
          letter-spacing: 0.3px;
          color: #707070;
          margin: 0 0 10px;
          display: block; }
  .standard .standard__footer {
    text-align: center;
    padding-top: 210px;
    position: relative;
    z-index: 5; }
    .standard .standard__footer .title-box {
      margin-bottom: 25px; }

.form .form_box {
  padding-top: 22px;
  padding-bottom: 22px;
  position: relative;
  align-content: flex-end;
  align-items: flex-end;
  display: flex; }
  .form .form_box .form__label {
    position: absolute;
    font-size: 20px;
    font-family: "ubuntulight";
    font-style: normal;
    font-stretch: normal;
    line-height: 1.32;
    letter-spacing: 0.3px;
    text-align: center;
    color: #707070;
    top: 40px;
    left: 46px;
    z-index: 2;
    margin: 0;
    display: block;
    transition: 0.5s all ease; }
  .form .form_box .form__input,
  .form .form_box .form__select,
  .form .form_box .form__area {
    padding: 0 30px;
    line-height: 58px;
    font-size: 20px;
    font-family: "ubuntulight";
    width: 100%;
    height: 60px;
    color: #707070;
    border-radius: 5px;
    border: solid 1px #707070;
    background: #ffffff; }
  .form .form_box .form__area {
    padding-top: 21px;
    padding-bottom: 21px;
    height: 111px;
    resize: none;
    line-height: 1.2; }
  .form .form_box .form__send {
    padding: 21px 81px; }
  .form .form_box.active .form__input,
  .form .form_box.active .form__area {
    border: solid 2px #a95be1; }
  .form .form_box.active .form__label {
    color: #a95be1;
    top: 5px;
    left: 38px;
    background: #ffffff;
    padding: 0 8px;
    font-size: 18px;
    line-height: 1.83;
    letter-spacing: 0.2px; }
  .form .form_box .custom-select-holder {
    position: relative;
    z-index: 2;
    width: 100%; }
    .form .form_box .custom-select-holder + .form__label {
      z-index: 1; }
    .form .form_box .custom-select-holder.active .form__select {
      border: solid 2px #a95be1; }
    .form .form_box .custom-select-holder.active + .form__label {
      z-index: 3;
      color: #a95be1;
      top: 5px;
      left: 38px;
      background: #ffffff;
      padding: 0 8px;
      font-size: 18px;
      line-height: 1.83;
      letter-spacing: 0.2px; }
    .form .form_box .custom-select-holder:after {
      content: '';
      position: absolute;
      right: 31px;
      top: calc(50% - 5px);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 9px 0 9px;
      border-color: #707070 transparent transparent transparent; }

.call {
  padding: 80px 0 300px;
  background: url(../images/jpool-bg.png) 50% 100%;
  background-size: auto 60%; }
  .call .title-box {
    text-align: center; }
  .call .form {
    margin: 77px 0 0; }

.contacts {
  padding: 15px 0 73px;
  background: url(../images/jpool-bg.png) 50% 100%;
  background-size: auto 60%; }
  .contacts .title-box {
    text-align: center; }
  .contacts .contacts__row {
    margin-top: 77px; }
  .contacts .form .form_box .form__label {
    left: 24px; }
  .contacts .contacts__box {
    margin-top: 20px; }
    .contacts .contacts__box .contacts__title {
      font-size: 20px;
      font-family: "ubuntumedium";
      display: block;
      letter-spacing: 0.3px;
      color: #a95be1; }
    .contacts .contacts__box .contacts__value {
      font-size: 18px;
      display: block;
      line-height: 1.18;
      letter-spacing: 0.2px;
      color: #707070; }

.terms-service .last-modified {
  display: block;
  text-align: center;
  line-height: 1.32;
  letter-spacing: 0.3px;
  font-size: 20px;
  color: #707070; }

.about-head {
  padding: 110px 0 250px;
  background: url(../images/Path_829.png) no-repeat 2% 0;
  background-size: 150% 150%; }
  .about-head .title-box {
    display: block; }
  .about-head .title-sub {
    text-align: left; }

.why {
  background: url(../images/mountain.png) no-repeat 50% 100%;
  padding: 250px 0 840px; }
  .why .title-box {
    text-align: center; }

.pledge {
  padding: 110px 0 60px; }
  .pledge .pledge__txt {
    max-width: calc(100% - 126px); }

.advisors {
  background: #30234e;
  padding: 190px 0 220px; }
  .advisors .title-box {
    text-align: center;
    color: #ffffff; }
  .advisors .advisors__list {
    margin-top: 23px;
    margin-bottom: 23px; }
    .advisors .advisors__list .advisors__row .advisors__box {
      padding-top: 47px;
      padding-bottom: 47px; }
      .advisors .advisors__list .advisors__row .advisors__box .advisor__photo {
        display: block;
        width: 236px;
        height: 236px;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        margin: 0 auto 14px; }
      .advisors .advisors__list .advisors__row .advisors__box .advisors__name {
        display: block;
        font-size: 25px;
        font-family: "ubuntumedium";
        line-height: 1.16;
        letter-spacing: 0.3px;
        text-align: center;
        color: #ffffff;
        margin-bottom: 7px; }
      .advisors .advisors__list .advisors__row .advisors__box .advisors__info {
        display: block;
        font-size: 20px;
        line-height: 1.18;
        letter-spacing: 0.2px;
        text-align: center;
        color: #ffffff; }
      .advisors .advisors__list .advisors__row .advisors__box .advisors__social {
        display: flex;
        justify-content: center;
        margin-top: 12px; }
        .advisors .advisors__list .advisors__row .advisors__box .advisors__social .advisors__social-item {
          padding: 0 4px; }
          .advisors .advisors__list .advisors__row .advisors__box .advisors__social .advisors__social-item .advisors__social-link {
            display: block;
            width: 33px;
            height: 33px; }
            .advisors .advisors__list .advisors__row .advisors__box .advisors__social .advisors__social-item .advisors__social-link .advisor__social-img {
              width: 33px;
              height: 33px;
              -webkit-border-radius: 100%;
              -moz-border-radius: 100%;
              border-radius: 100%; }
  .advisors .team {
    margin-top: 13px;
    margin-bottom: 0; }
    .advisors .team .team__work {
      display: block; }
    .advisors .team .team__icons-list {
      margin-top: 16px;
      height: 60px;
      display: flex;
      align-content: flex-end;
      align-items: flex-end; }
      .advisors .team .team__icons-list .team__icon {
        display: block;
        max-height: 100%;
        margin: 0 auto; }
    .advisors .team .team__favorite {
      display: block; }
    .advisors .team .advisors__row .advisors__box {
      padding-top: 47px;
      padding-bottom: 47px; }

.locations {
  padding: 180px 0 200px; }
  .locations .title-box {
    text-align: center; }
  .locations .locations__img {
    display: block;
    margin: 100px auto 0; }
  .locations .locations__arrow {
    display: inline-block;
    margin: 0 5px; }
  .locations .title-sub {
    margin: 5px 0;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center; }

.hiring {
  text-align: center;
  padding: 110px 0; }
  .hiring .title-sub {
    color: #ffffff;
    margin-top: 10px; }
  .hiring .btn {
    margin-top: 20px;
    padding: 20px 49px; }

.supports {
  padding: 140px 0 160px; }
  .supports .supports__slider {
    padding: 75px 0 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around; }
    .supports .supports__slider .supports__slide .supports__img {
      margin: 0 auto; }

.join-us {
  padding: 50px 0 120px;
  text-align: center;
  background: url(../images/Path_829.png) no-repeat 2% 0; }
  .join-us .title-box {
    font-family: "ubuntulight";
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.2; }

.grow-hire-head {
  padding: 20px 0 195px; }

.joonko {
  padding: 90px 0;
  position: relative;
  background: url(../images/Path_4294.png) no-repeat 0 225px; }
  .joonko:after {
    background: url(../images/cloud3.png) no-repeat;
    width: 439px;
    height: 205px;
    z-index: 1;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    content: ''; }
  .joonko .joonko__sub {
    display: block;
    line-height: 1.14;
    letter-spacing: 0.3px;
    text-align: left;
    color: #040464;
    font-size: 28px;
    margin-bottom: 15px; }
  .joonko .joonko__image-holder {
    padding: 125px 0 0; }
    .joonko .joonko__image-holder .joonko__image {
      display: block;
      margin: 0 auto;
      max-width: 75%; }
  .joonko.grow {
    padding-bottom: 240px; }
    .joonko.grow .joonko__image-holder {
      padding-top: 220px; }

.formula {
  padding: 125px 0 0; }
  .formula .title-box {
    text-align: center;
    margin: 0 0 20px; }
  .formula .title-sub {
    margin: 0 auto;
    max-width: 880px; }
  .formula .formula__img {
    display: block;
    margin: 0 auto 32px; }
  .formula .formula__vertical {
    background: url(../images/formula-vertical.png) no-repeat 50% 0;
    height: 1659px;
    margin: 89px 0 0;
    padding: 170px 0 0;
    position: relative; }
    .formula .formula__vertical:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 70%;
      background: url(../images/plus-positive-add-mathematical-symbol.png) no-repeat;
      width: 42px;
      height: 42px;
      background-size: 42px 42px; }
    .formula .formula__vertical .formula__row .formula__col-img {
      display: block;
      margin: 0 auto; }
    .formula .formula__vertical .formula__row .formula__title {
      font-size: 28px;
      line-height: 1.14;
      letter-spacing: 0.3px;
      color: #040464;
      margin: 0 0 15px;
      display: block; }
    .formula .formula__vertical .formula__row:nth-child(2) {
      padding-top: 200px; }
    .formula .formula__vertical .formula__row:nth-child(3) {
      padding-top: 160px; }

.joonko__footer {
  padding: 195px 0 160px;
  text-align: center;
  background: url(../images/Path_829.png) no-repeat 2% 0;
  background-size: 135%; }
  .joonko__footer .title-box {
    text-align: center;
    margin-bottom: 38px; }

.vision-bn .title-sub {
  margin-top: 15px; }

@keyframes linkArrow {
  0% {
    right: -38px; }
  50% {
    right: -45px; }
  100% {
    right: -38px; } }

/*# sourceMappingURL=style.css.map */
