@import "const.scss";
// fonts
@font-face {
    font-family: 'ubuntumedium';
    src: url('../fonts/ubuntu-m-webfont.eot');
    src: url('../fonts/ubuntu-m-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ubuntu-m-webfont.woff2') format('woff2'),
    url('../fonts/ubuntu-m-webfont.woff') format('woff'),
    url('../fonts/ubuntu-m-webfont.ttf') format('truetype'),
    url('../fonts/ubuntu-m-webfont.svg#ubuntumedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rubiklight';
    src: url('../fonts/rubik-light-webfont.eot');
    src: url('../fonts/rubik-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/rubik-light-webfont.woff2') format('woff2'),
    url('../fonts/rubik-light-webfont.woff') format('woff'),
    url('../fonts/rubik-light-webfont.ttf') format('truetype'),
    url('../fonts/rubik-light-webfont.svg#rubiklight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rubikmedium';
    src: url('../fonts/rubik-medium-webfont.eot');
    src: url('../fonts/rubik-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/rubik-medium-webfont.woff2') format('woff2'),
    url('../fonts/rubik-medium-webfont.woff') format('woff'),
    url('../fonts/rubik-medium-webfont.ttf') format('truetype'),
    url('../fonts/rubik-medium-webfont.svg#rubikmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
.flex-end-x {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex-end-y {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex-center-y {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    align-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%;
}
.flex-center-x {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
// end of fonts
html, body {
    height: 100%;
}
body {
    background: $white;
    margin: 0;
    font-family: $light-font;
    color: $std-color;
    font-size: 14px;
    overflow-x: hidden;
    position: relative;
}
a {
    &:focus {
      outline: none;
    }
    text-decoration: none;
}
b {
    font-weight: normal;
    font-family: $std-medium;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: transparent !important;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    color: transparent !important;
}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder{
    color: transparent !important;
}
.custom-select:focus,
select:focus,
input:focus,
textarea:focus,
button:focus{
    outline: none;
    box-shadow: none;
}
p {
    margin: 0 0 24px;
    line-height: 1.32;
    &:last-child {
        margin: 0;
    }
    a {
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
img {
    display: block;
    max-width: 100%;
}
button {
    border: none;
    &:hover {
        cursor: pointer;
    }
}
.std-btn {
    height: 30px;
    border-radius: 50px;
    line-height: 28px;
    padding: 0 24px;
    border: solid 1px $purple;
    background: none;
    font-size: 14px;
    color: $purple;
    margin-top: 19px;
    transition: 0.5s all ease;
    &:hover {
        border: solid 1px $purple;
        background: $purple;
        color: $white;
    }
}
.wrapper {
    min-height: 100%;
    .section {
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        height: 100vh;
        min-height: 650px;
        overflow: hidden;
        position: relative;
        &__pages {
            position: absolute;
            top: 30px;
            right: 25px;
            font-size: 14px;
            line-height: 1.56;
            color: $purple;
            display: block;
        }
        &-left {
            background: $white;
            width: 50%;
            height: 100%;
            padding: 7% 90px 0 140px;
            position: relative;
            background-image: url(../images/background/Group_2173.png);
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
        }
        &-right {
            background: $main-dark;
            width: 50%;
            height: 100%;
            position: relative;
        }
        &-nd {
            .section-left {
                background: $main-dark;
                background-image: none;
            }
            .section-right {
                background: $white;
            }
            .section__title {
                color: $purple;
            }
            .section__text {
                color: $white;
            }
            .jq-selectbox {
                &__select {
                    border-bottom: 1px solid $white;
                    color: #ffffff;
                }
                &__trigger {
                    &-arrow {
                        background: url(../images/down-arrow-wh.svg) no-repeat;
                    }
                }
                ul {
                    li {
                        color: $white;
                        &.selected {
                            background-color: #ffffff;
                            color: $std-color;
                            &:hover {
                                background-color: #ffffff;
                                color: $std-color;
                            }
                        }
                    }
                }
            }
            .section__form__box {
                &.active {
                    color: $white;
                    opacity: 1;
                    .section__form__box__label {
                        color: $white;
                    }
                }
                &__label {
                    color: $white;
                    opacity: 0.7;
                }
                &__input {
                    border-color: $white;
                    color: $white;
                }
            }
        }
        &__nav {
            left: 68px;
            position: absolute;
            top: 50%;
            z-index: 5;
            &:after {
                position: absolute;
                content: '';
                display: block;
                top: 0;
                left: 50%;
                height: 100%;
                width: 2px;
                border-left: 1px dashed $purple;
            }
            &__elem {
                width: 24px;
                height: 24px;
                margin: 0 0 71px;
                display: block;
                position: relative;
                z-index: 6;
                &__link {
                    width: 24px;
                    height: 24px;
                    display: block;
                    -webkit-border-radius: 100%;
                    -moz-border-radius: 100%;
                    border-radius: 100%;
                    border: 1px solid $purple;
                    background-color: $white;
                }
                &.current {
                    .section__nav__elem__link {
                        background-color: $purple
                    }
                }
                &.active {
                    .section__nav__elem__link {
                        background-color: $purple;
                        background-image: url(../images/tick.svg);
                        background-repeat: no-repeat;
                        background-position: 50% 50%;
                        background-size: 14px;
                    }
                }
                &:last-child {
                    margin: 0;
                }
            }
        }
        &__title {
            display: block;
            font-family: $medium-font;
            font-size: 24px;
            line-height: 1.17;
            color: $blue;
            margin: 0 0 6px;
        }
        &__text {
            display: block;
            padding-right: 45px;
            line-height: 1.28;
        }
        &__form {
            margin-top: 10%;
            &__box {
                position: relative;
                margin-top: 7%;
                &:first-child {
                    margin-top: 0;
                }
                &__input {
                    width: 100%;
                    border-left: none;
                    border-right: none;
                    border-top: none;
                    border-bottom: 1px solid $std-color;
                    font-family: $light-font;
                    background: none;
                    font-size: 14px;
                    line-height: 1.56;
                    color: $std-color;
                }
                &__label {
                    display: block;
                    position: absolute;
                    bottom: 5px;
                    transition: 0.5s all ease;
                }
                &.active {
                    .section__form__box__label {
                        bottom: 30px;
                        font-family: $medium-font;
                        color: $main-dark;
                    }
                }
            }
        }
        &__img {
            height: 100%;
            //width: 80%;
            &__item {
                display: block;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .get-started {
        &-left {
            .logo {
                position: absolute;
                top: 36px;
                display: block;
            }
        }
        .section__img__item {
            height: 90%;
        }
    }
    /* section 2 */
    .connect {
        .section__img {
            margin-left: 11vh;
        }
        &-bottom {
            margin-top: 59px;
            &__text {
                color: $white;
                line-height: 1.56;
                &__link {
                    color: $purple;
                    text-decoration: underline;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
    /* section 3 */
    .team {
        .section__img__item {
            //margin-left: 11vh;
        }
    }
    /* selects */
    .jq-selectbox {
        vertical-align: middle;
        cursor: pointer;
        width:100%;
        &__select {
            display: block;
            height: 30px;
            border-bottom: 1px solid $std-color;
            width:100%;
            background: none;
            line-height: 29px;
            font-size: 14px;
            font-family: $light-font;
            color: $std-color;
            padding: 0 25px 0 0;
            &-text {
                display: block;
                width: 100%;
            }
        }
        .placeholder {
            color: #888;
        }
        &__trigger {
            position: absolute;
            top: 0;
            right: 0;
            width: 20px;
            height: 100%;
            &-arrow {
                position: absolute;
                top: calc(50% - 6px);
                right: 0;
                background: url(../images/down-arrow.svg) no-repeat;
                width: 20px;
                height: 11px;
            }
        }
        &__dropdown {
            box-sizing: border-box;
            width: 100%;
            margin: 2px 0 0;
            padding: 0;
            border: 1px solid $white;
            font-size: 14px;
            background-color: $main-dark;
        }
        &__not-found {
            margin: 5px;
            padding: 5px 8px 6px;
            background: #F0F0F0;
            font-size: 13px;
        }
        ul {
            margin: 0;
            padding: 0;
            li {
                min-height: 20px;
                line-height: 20px;
                font-size: 16px;
                text-align: center;
                color: $white;
                padding: 5px 45px 5px 10px;
                &.selected {
                    background-color: $std-color;
                    color: $white;
                    &:hover {
                        background-color: $std-color;
                        color: $white;
                    }
                }
                &:hover {
                    background-color: rgba(255,255,255,0.5);
                    color: $white;
                }
                &.disabled {
                    color: #AAA;
                    &:hover {
                        background: none;
                    }
                }
                &.optgroup {
                    font-weight: bold;
                    &:hover {
                        background: none;
                        color: #231F20;
                        cursor: default;
                    }
                }
                &.option {
                    padding-left: 25px;
                }
            }
        }
    }
    /* end selects */
    .price {
        margin-top: 10%;
        margin-bottom: 10%;
        &-title {
            display: block;
            font-size: 24px;
            font-family: $std-medium;
            line-height: 0.93;
            text-align: center;
            color: $blue;
            margin-bottom: 15px;
        }
        &-box {
            padding: 0 30px;
            text-align: center;
            position: relative;
            &:first-child:after {
                content: '';
                display: block;
                right: 0;
                top: 0;
                background: $std-color;
                height: 100%;
                width: 1px;
                position: absolute;
                opacity: 0.5;
            }
        }
        &-radio {
            &__elem {
                opacity: 0;
                position: absolute;
                &:checked {
                    & + .price-radio__label {
                        &:after {
                            content: '';
                            border-radius: 50px;
                            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                            background-color: $purple;
                            width: 100%;
                            height: 4px;
                            position: absolute;
                            bottom: -10px;
                            left: 0;
                        }
                    }
                }
            }
            &__label {
                position: relative;
                display: block;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        &__sub {
            display: block;
            font-size: 32px;
            color: $purple;
            &:first-letter {font-size: 25px;}
        }
        &__text {
            line-height: 1.56;
            display: block;
        }
    }
    .promo {
        &-label {
            color: $blue;
        }
        &-btn {
            background: $purple;
            color: $white;
            &:hover {
                background: $white;
                color: $purple;
            }
        }
    }
    /* section 4 */
    .sign {
        .section__img {
            margin-left: 24.3vh;
        }
    }
    /* section 5 */
    .payment {
        .section-left {
            padding-top: 10vh;
        }
        &__btn {
            display: block;
            width: 245px;
            background: $purple;
            color: $white;
            margin: 12% auto 0;
            &:hover {
                background: $white;
                color: $purple;
            }
        }
        .section__img__item {
            margin-left: -1.5vh;
        }
    }
    .check {
        &__box {
            position: absolute;
            opacity: 0;
            &:checked {
                & + label {
                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        background: $purple;
                        width: 9px;
                        height: 9px;
                        z-index: 5;
                        top: 5px;
                        left: 3px;
                        border-radius: 3px;
                    }
                }
            }
        }
        &__label {
            padding: 0 0 0 22px;
            &:after {
                width: 10px;
                height: 10px;
                border-radius: 3px;
                border: solid 1px $std-color;
                background-color: $white;
                content: '';
                position: absolute;
                left: 0;
                display: block;
                top: 2px;
            }
        }
    }
    .financial {
        margin-top: 10%;
        &__title {
            color: $blue;
            font-family: $std-medium;
            margin-bottom: 5px;
            display: block;
        }
        .section__form__box {
            margin-top: 7%;
            &:first-child {
                margin-top:0;
            }
        }
    }
    .footer {
        background: #f8faff;
        padding: 10vh 50vh;
        position: relative;
        &__img {
            position: absolute;
            max-height: 80%;
            display: block;
            &-l {
                left: 20vh;
            }
            &-r {
                right: 20vh;
            }
        }
        &__title {
            display: block;
            font-family: $medium-font;
            font-size: 24px;
            line-height: 1.17;
            color: $blue;
            margin: 0 0 10px;
            text-align: center;
        }
        &__text {
            display: block;
            line-height: 1.28;
            text-align: center;
            color: $blue;
            margin-bottom: 4vh;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}