@import url(slick.css);
@font-face {
  font-family: 'ubunturegular';
  src: url("../fonts/ubuntu-r-webfont.eot");
  src: url("../fonts/ubuntu-r-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-r-webfont.woff2") format("woff2"), url("../fonts/ubuntu-r-webfont.woff") format("woff"), url("../fonts/ubuntu-r-webfont.ttf") format("truetype"), url("../fonts/ubuntu-r-webfont.svg#ubunturegular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntumedium';
  src: url("../fonts/ubuntu-m-webfont.eot");
  src: url("../fonts/ubuntu-m-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-m-webfont.woff2") format("woff2"), url("../fonts/ubuntu-m-webfont.woff") format("woff"), url("../fonts/ubuntu-m-webfont.ttf") format("truetype"), url("../fonts/ubuntu-m-webfont.svg#ubuntumedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntulight';
  src: url("../fonts/ubuntu-l-webfont.eot");
  src: url("../fonts/ubuntu-l-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-l-webfont.woff2") format("woff2"), url("../fonts/ubuntu-l-webfont.woff") format("woff"), url("../fonts/ubuntu-l-webfont.ttf") format("truetype"), url("../fonts/ubuntu-l-webfont.svg#ubuntulight") format("svg");
  font-weight: normal;
  font-style: normal; }
html, body {
  height: 100%; }

body {
  background: #fff;
  margin: 0;
  color: #707070;
  font-size: 20px;
  overflow-x: hidden;
  position: relative;
  font-family: "ubuntulight"; }

a {
  text-decoration: none;
  color: #fe7223; }
  a:focus {
    outline: none; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent !important; }

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent !important; }

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: transparent !important; }

input:focus,
textarea:focus,
button:focus {
  outline: none; }

p {
  margin: 0 0 24px;
  line-height: 1.32; }
  p:last-child {
    margin: 0; }
  p a {
    text-decoration: underline; }
    p a:hover {
      text-decoration: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  display: block;
  max-width: 100%; }

button {
  border: none; }
  button:hover {
    cursor: pointer; }

.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  align-items: flex-start; }
  .slick-dots li {
    margin: 0 5px; }
    .slick-dots li.slick-active button {
      background-color: #a95be1; }
    .slick-dots li button {
      padding: 0;
      width: 8px;
      height: 8px;
      border: solid 1px #a95be1;
      background-color: #ffffff;
      text-indent: -9999px;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%; }

.btn {
  border-radius: 50px;
  background-color: #a95be1;
  border: 1px solid #a95be1;
  padding: 13px 46px;
  font-size: 22px;
  font-family: "ubuntumedium";
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: 0.2px;
  text-align: left;
  color: #ffffff; }
  .btn:hover {
    color: #a95be1;
    background-color: #ffffff; }

.title-box {
  font-size: 50px;
  font-family: "ubuntumedium";
  line-height: 1.4;
  letter-spacing: 0.5px;
  color: #040464;
  display: block; }
  .title-box .title-box__colored {
    color: #707070;
    font-family: "ubuntulight"; }

.title-sub {
  font-size: 20px;
  font-family: "ubuntulight";
  line-height: 1.3;
  letter-spacing: 0.3px;
  text-align: center;
  color: #707070;
  display: block; }

.more-link {
  font-size: 22px;
  line-height: 1.16;
  letter-spacing: 0.3px;
  color: #a95be1;
  display: inline-block;
  position: relative; }
  .more-link:hover {
    color: #a95be1; }
  .more-link:after {
    content: '';
    display: block;
    background: url(../images/arrow-pointing-to-right.png) no-repeat;
    width: 31px;
    height: 22px;
    background-size: 25px 18px;
    position: absolute;
    right: -38px;
    top: calc(50% - 9px); }

header {
  padding: 45px 0 35px; }
  header .header-nav {
    margin-right: 56px; }
    header .header-nav .header-nav__el {
      padding: 0 15px;
      font-size: 22px;
      line-height: 1.18;
      letter-spacing: 0.2px;
      font-family: "ubunturegular"; }
      header .header-nav .header-nav__el .header-nav__link {
        display: block;
        color: #040464; }
        header .header-nav .header-nav__el .header-nav__link:hover {
          color: #a95be1;
          text-decoration: none; }
  header .logo {
    display: block; }
    header .logo img {
      max-height: 100%; }

.culture-section {
  padding: 35px 0 40px; }
  .culture-section p {
    margin-bottom: 3px; }
  .culture-section .culture-section__img {
    position: relative;
    max-width: 100%; }
  .culture-section .more-link {
    margin-bottom: 34px; }

.bn-section {
  background: #30234e;
  padding: 140px 0; }
  .bn-section .title-box {
    text-align: center;
    line-height: 1.24;
    letter-spacing: 0.5px;
    color: #ffffff; }
  .bn-section .bn-section__txt {
    display: block;
    font-family: "ubuntulight";
    font-size: 25px;
    line-height: 1.32;
    letter-spacing: 0.3px;
    text-align: center;
    padding: 7px 0 0;
    color: #ffffff; }

.steps {
  padding: 170px 0;
  overflow: hidden; }
  .steps .title-box,
  .steps .title-sub {
    text-align: center; }
  .steps .steps__list {
    height: 2949px;
    margin: 270px 0 0;
    padding: 470px 0 0;
    background: url(../images/steps-vertical.png) no-repeat 40% 0; }
    .steps .steps__list .steps__el {
      position: relative; }
      .steps .steps__list .steps__el .title-box, .steps .steps__list .steps__el .title-sub {
        text-align: left;
        margin-bottom: 8px; }
      .steps .steps__list .steps__el .steps__img {
        position: relative; }
      .steps .steps__list .steps__el.joonkopool .steps__img {
        top: -340px; }
      .steps .steps__list .steps__el.joonkopool:after {
        content: url(../images/homepage-cloud1.png);
        display: block;
        position: absolute;
        bottom: 0;
        left: 72px; }
      .steps .steps__list .steps__el.joonkohire {
        padding: 420px 0 0; }
        .steps .steps__list .steps__el.joonkohire .steps__img {
          top: -310px;
          left: -10px; }
      .steps .steps__list .steps__el.joonkogrow {
        padding: 55px 0 0; }
        .steps .steps__list .steps__el.joonkogrow .steps__img {
          top: -400px; }
        .steps .steps__list .steps__el.joonkogrow:after {
          content: url(../images/homepage-cloud2.png);
          display: block;
          position: absolute;
          top: -410px;
          right: -150px; }

.clients {
  padding-bottom: 150px; }
  .clients .title-box {
    text-align: center; }
  .clients .clients__slider {
    margin: 40px 0 0; }
    .clients .clients__slider .clients__slide {
      display: flex;
      align-items: center;
      align-content: center;
      height: 72px;
      padding: 0 15px; }
      .clients .clients__slider .clients__slide .clients__img {
        margin: 0 auto; }

.blog .title-box {
  text-align: center;
  margin-bottom: 30px; }
.blog .blog__item {
  position: relative;
  width: 100%; }
  .blog .blog__item .blog__bg {
    position: relative;
    left: -15%;
    z-index: 2;
    width: 130%;
    max-width: none;
    object-fit: cover; }
  .blog .blog__item .blog__title {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 132px;
    padding: 0 5%;
    font-size: 20px;
    font-family: "ubuntulight";
    line-height: 1.32;
    letter-spacing: 0.3px;
    text-align: center;
    color: #ffffff;
    top: 25%;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 3; }
  .blog .blog__item .blog__link {
    position: absolute;
    bottom: 30%;
    text-decoration: underline;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 1.18;
    letter-spacing: 0.2px;
    color: #ffffff;
    z-index: 3; }
    .blog .blog__item .blog__link:hover {
      color: #a95be1; }

.trial {
  padding: 220px 0 350px;
  text-align: center;
  background: url(../images/trial-bg.png) no-repeat; }
  .trial .title-sub {
    margin: 15px 0 0; }
  .trial .btn {
    margin: 35px 0 0; }

footer {
  padding: 108px 0;
  border: solid 1px #707070;
  background-color: #30234e; }
  footer .footer-logo {
    width: 152px;
    height: 76px;
    margin-top: 20px;
    margin-bottom: 40px;
    display: block; }
    footer .footer-logo:hover {
      opacity: 0.7; }
    footer .footer-logo .footer-logo__img {
      width: 100%; }
  footer .footer__nav .footer__nav__el {
    font-size: 25px;
    font-family: "ubuntulight";
    line-height: 1.32;
    letter-spacing: 0.3px;
    margin: 30px 0 0; }
    footer .footer__nav .footer__nav__el .footer__nav__link {
      color: #ffffff; }
    footer .footer__nav .footer__nav__el:first-child {
      margin: 0 0 40px;
      font-family: "ubuntumedium"; }
  footer .footer__soc {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px; }
    footer .footer__soc .footer__soc__el {
      margin: 11px 10px; }
      footer .footer__soc .footer__soc__el .footer__soc__link {
        display: block;
        width: 44px;
        height: 44px;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%; }
        footer .footer__soc .footer__soc__el .footer__soc__link img {
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%; }

.pool-head {
  padding: 160px 0 450px;
  text-align: center;
  background: url("../images/jpool-bg.png") 50% 100%; }
  .pool-head .title-box {
    margin: 0 0 25px; }

.info-txt {
  margin: 13px 0 0;
  font-size: 18px;
  font-style: italic;
  line-height: 1.33;
  letter-spacing: 0.2px;
  color: #707070;
  display: block; }

.joonko-bn {
  padding: 115px 0; }
  .joonko-bn .title-sub {
    color: #ffffff; }

.benefits {
  overflow: hidden;
  padding: 135px 0; }
  .benefits .benefits__row {
    padding: 90px 0;
    position: relative; }
    .benefits .benefits__row .title-box {
      line-height: 1.2;
      margin-bottom: 7px; }
    .benefits .benefits__row .benefits__img {
      max-width: 95%;
      margin: 0 auto; }
    .benefits .benefits__row.benefits__guarantee {
      padding-top: 0; }
      .benefits .benefits__row.benefits__guarantee:after {
        content: '';
        display: block;
        background: url(../images/cloud1.png) no-repeat;
        width: 518px;
        height: 153px;
        position: absolute;
        bottom: 90px;
        left: 0; }
    .benefits .benefits__row.benefits__experience:after {
      content: '';
      display: block;
      background: url(../images/cloud2.png) no-repeat;
      width: 326px;
      height: 138px;
      background-size: 100% 100%;
      position: absolute;
      top: -70px;
      left: 88%; }

.title-info {
  font-size: 28px;
  font-family: "ubuntulight";
  line-height: 1.14;
  letter-spacing: 0.3px;
  color: #040464;
  display: block;
  margin-bottom: 10px; }

.sign-up {
  padding-bottom: 110px;
  margin-top: -25px; }
  .sign-up .title-box {
    text-align: center; }
  .sign-up .sign-up__row {
    margin-top: 100px; }
    .sign-up .sign-up__row .col-md-5 {
      padding: 0;
      margin: 0 -1.5%; }
    .sign-up .sign-up__row .sign-up__box {
      width: 100%;
      padding: 80px 16% 250px; }
      .sign-up .sign-up__row .sign-up__box.sign-up__all {
        background: url(../images/sign-up2.png) no-repeat;
        background-size: 100% 100%; }
      .sign-up .sign-up__row .sign-up__box.sign-up__team {
        background: url(../images/sign-up1.png) no-repeat;
        background-size: 100% 100%; }
      .sign-up .sign-up__row .sign-up__box .sign-up__btn {
        padding: 22px 27px; }
      .sign-up .sign-up__row .sign-up__box .sign-up__title {
        font-size: 25px;
        font-family: "ubuntulight";
        line-height: 1.08;
        letter-spacing: 0.3px;
        color: #040464;
        margin: 0 0 20px;
        display: block; }
        .sign-up .sign-up__row .sign-up__box .sign-up__title .sign-up__title__bold {
          font-family: "ubuntumedium";
          display: block; }
      .sign-up .sign-up__row .sign-up__box .sign-up__price {
        text-align: left;
        margin: 0 0 20px; }
      .sign-up .sign-up__row .sign-up__box .sign-up__list {
        margin: 0 0 30px; }
        .sign-up .sign-up__row .sign-up__box .sign-up__list .sign-up__list__elem {
          font-size: 20px;
          font-family: "ubuntulight";
          line-height: 1;
          letter-spacing: 0.2px;
          color: #707070; }

.security {
  position: relative;
  padding: 69px 0 209px; }
  .security .security__txt {
    display: block;
    margin: 0 0 11px;
    color: #707070;
    font-family: "ubuntulight";
    line-height: 1.32;
    letter-spacing: 0.3px; }
  .security .security__list {
    padding: 84px 0 0; }
    .security .security__list .security__list__item {
      padding: 15px 0;
      display: flex;
      align-items: flex-start;
      align-content: flex-start; }
      .security .security__list .security__list__item .security__list__title {
        display: block;
        width: 30%;
        font-size: 28px;
        font-family: "ubuntumedium";
        line-height: 1.86;
        letter-spacing: 0.3px;
        color: #040464; }
      .security .security__list .security__list__item .security__list__content {
        width: 70%;
        padding: 0 0 0 25px; }
        .security .security__list .security__list__item .security__list__content .security__list__txt {
          font-family: "ubuntulight";
          line-height: 1.32;
          letter-spacing: 0.3px;
          color: #707070;
          margin: 0 0 10px;
          display: block; }
  .security .security__footer {
    text-align: center;
    padding-top: 210px; }
    .security .security__footer .title-box {
      margin-bottom: 25px; }

/*# sourceMappingURL=style.css.map */
