@media (min-width:992px) and (max-width:1200px) {
    
}
@media (max-width:1199px) {
    .logo {
        float: none;
        display: block;
        margin: 0 auto 4px;
    }
    .logo img {
        margin: 0 auto;
        display: block;
        max-width: 83px;
    }
    .top-header .holder {
        width:100%;
        float: none;
        margin: 0;
    }
    .top-header .holder > a {
        font-size: 18px;
        line-height: 24px;
        margin: 5px 0;
    }
    .top-header .holder > a:first-child:after,
    .top-header .container .row > div:last-child .holder > a:first-child:after {
        display: none;
    }
    .programm-img {
        width:215px;
        height: 215px;
    }
    .programm-img img {
        max-width: 100%;
        display: block;
    }
    .programm-img:after {
        width: 187px;
        height: 187px;
    }
    .programm-img:after {
        width: 187px;
        height: 187px;
    }
    .programm-box:hover .programm-img:after,
    .programm-box a.selected .programm-img:after,
    .programm-box:active .programm-img:after {
        width: 215px;
        height: 215px;
    }
    .programm-img .programm-logo,
    .spartak .programm-img .programm-logo,
    .kamchya-galaxy .programm-img .programm-logo {
        width:102px;
        height: 108px;
        top:-40px;
        margin: 0 0 0 -51px;
    }
}
@media (min-width:768px) and (max-width:1199px) {
    .top-header .container .row > div {
        padding: 12px 0 0 0;
    }
    .top-header .container .row > div:first-child {
        padding: 7px 0 0 0;
    }
    .title {
        font-size: 55px;
        margin: 0 0 25px 0;
    }
    .description {
        font-size: 17px;
        padding: 0 15px;
    }
    .programms .programm-holder:first-child .prog-logo-box{
        height: 214px;
    }
    .programms .programm-holder:last-child .prog-logo-box{
        height: 426px;
    }
    .programm-holder a {
        width:33%;
    }
    .programm-holder .prog-logo-box {
        float: left;
        width:188px;
        height: 100%;
        background: #f0f5f8;
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
        align-content: center;
        text-align: center;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
    .prog-name {
        font-size: 25px;
        line-height: 28px;
    }
    .prog-description {
        max-width: 275px;
        font-size: 16px;
    }
    .more:before {
        width:89px;
    }
    .camp-programms {
        padding: 65px 0 25px;
    }
    .partners {
        margin: 0 -15px;
    }
    .partners-holder a {
        max-width: 80px;
    }
    .partners-holder img {max-width: 100%;}
    .footer {
        background: url(../images/footer-bg.png) 0 0 repeat-x;
        height: 115px;
        padding: 35px 0 0 0;
        margin: 0;
    }
    .programm-box {
        margin: 65px 0 0 0;
    }
    .prog-info .row div > span.info-title {
        height:50px;
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
        align-content: center;
        text-align: center;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
    .programm-drop {
        margin: 0 -15px;
    }
    .programm-inner {
        padding: 25px 10px;
    }
    .prog-info .row div > span {
        font-size: 17px;
    }
    .prog-info {
        margin: 0 0 25px 0;
    }
    .prog-info .row > div {
        border-left: 1px solid #fff;
    }
    .prog-info .row > div:first-child {
        border: none;
    }
    .programm-inner .main-slider {
        margin: 20px auto 30px;
    }
    .subtitle {
        margin: 0 0 18px 0;
    }
    .workers img{
        max-width: 100%;
    }
    .workers {
        margin: 40px 0 35px;
    }
    .finance-list {
        margin: 0 auto 20px;
    }
    .finance iframe {
        margin: 0 auto 23px;
    }
}
@media (min-width:768px) and (max-width:991px) {
    .programm-rules .row > div {
        margin: 40px 0 0 0;
    }
    .programm-rules .row > div:first-child {
        margin: 0;
    }
    .order-form {
        width: 670px;
    }
    .order-form form {
        width:100%;
        padding: 0 30px;
    }
    .order-form .clearfix > span {
        width:215px;
        line-height: 18px;
        margin: 11px 19px 0 0;
    }
    .order-form .textarea-holder > span {
        margin: 0 19px 0 0;
    }
    .order-form .clearfix input, .order-form .clearfix select, .order-form .clearfix textarea {
        width:370px;
    }
    .form-title {
        font-size: 23px;
        margin: 0 0 20px 0;
    }
}
@media (max-width:767px) {
    body {
        font-size: 16px;
    }
    .logo {
        margin: 0 auto 10px;
    }
    .top-header {
        height: auto;
        background: none;
    }
    .top-header .container .row > div:first-child {
        background: #0c6caf;
        padding: 12px 0;
        float: none;
        margin: 0 0 -8px 0;
    }
    .top-header .container .row > div:last-child {
        padding: 15px 0 20px 0;
        background: url(../images/top-bg-xs.png) repeat-x 50% 100%;
        box-shadow: none;
        float: none;
        margin: 0 0 -1px 0;
        position: relative;
        z-index: 5;
    }
    .title {
        font-size: 36px;
        margin: 0 0 20px 0;
    }
    .title:after {
        margin: 14px auto 0;
    }
    .description {
        font-size: 15px;
        line-height: 21px;
    }
    .top-box {
        height: auto;
        margin: -15px 0 75px 0;
    }
    .shift-box {
        margin: 0 0 28px 0;
    }
    .section {
        margin: 0 0 35px 0;
    }
    .shift-holder {
        margin: 0 0 -28px 0;
    }
    .title-section {
        font-size: 25px;
        margin: 0 0 24px 0;
    }
    .programm-holder a span {
        display: none;
    }
    .programm-holder a img {
        margin: 12px auto 0;
    }
    .shift-date > div, .shift-date > span {
        font-size: 18px;
    }
    .programms {
        margin: 0 0 20px 0;
    }
    .camp-holder .title, 
    .footer .title,
    .partners .title {
        font-size: 25px;
    }
    .camp-video iframe {
        height: 275px;
    }
    .camp-video {
        height: auto;
        padding: 35px 15px;
    }
    .camp-programms {
        padding: 65px 0 10px;
    }
    .prog-name {
        font-size: 25px;
        line-height: 30px;
        width:100%;
        text-align: center;
        color: #ffffff;
        margin: -30px 0 0 0;
        position: absolute;
        top:50%;
    }
    .programm-box:hover .prog-name {
        color: #ffffff;
    }
    .programm-box a {
        position: relative;
    }
    .prog-description,
    .more {
        display: none;
    }
    .camp-programms .container .programm-row:first-child .programm-box:first-child {
        margin: 0;
    }
    .camp-programms .container .programm-row:first-child .programm-box,
    .camp-programms .container .programm-row .programm-box {
        margin: 50px 0 0 0;
    }
    .partners-holder {
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
    .partners-holder a img {
        max-width: 100%;
        margin: 0 auto;
        max-height: 45px;
    }
    .partners {
        padding: 0 20px 30px;
    }
    .partners-holder a {
        width: 33%;
        margin: 0 0 20px;
        padding: 0 1%;
    }
    .partners-holder a:nth-child(1),
    .partners-holder a:nth-child(2),
    .partners-holder a:nth-child(3) {
        width:33%;
    }
    .footer {
        background: url(../images/footer-bg.png) 0 100% repeat-x;
        height: 215px;
        padding: 35px 0 0 0;
        margin: 0;
    }
    .copy {
        float: none;
        display: block;
        width:100%;
    }
    .soc-list {
        text-align: center;
        width:100%;
        margin: 38px 0 35px;
    }
    .soc-list li {
        display: inline-block;
        float: none;
    }
    .developer {
        width:100%;
    }
    .developer a {
        float: none;
    }
    .main-slider {
        overflow: hidden;
        background: #fff;
        margin: 25px 0 -50px 0;
    }
    .main-slider img {
        max-width: 100%;
    }
    .programm-holder .prog-logo-box {
        width:100%;
        min-height: auto;
        height:auto;
        margin: 0 0 14px 0;
    }
    .programm-holder .prog-logo-box a {
        padding: 12px 0 15px;
    }
    .programm-holder .clearfix {
        width:100%;
        margin: 0;
        padding: 0;
        float: none;
    }
    .programm-holder .prog-logo-box img {
        max-height: 66px;
        margin: 0 auto 0;
        height: auto;
    }
    .programm-holder a {
        width:33%;
        padding: 0;
        height: auto;
        height: 115px;
    }
    .programm-holder .programm-box {
        margin: 0 0 12px 0;
    }
    .programm-holder a img {
        max-width: 100%;
        height: 102px;
    }
    .programm-holder a.spartak img {
        margin: 0 auto;
        height: 115px;
    }
    /* form */
    .order-form {
        width: 320px;
        padding: 20px 0 0 0;
        height: 1000px;
    }
    .order-form form {
        width:100%;
        padding: 0 15px;
    }
    .order-form .clearfix > span {
        margin: 0 0 6px 0;
        display: block;
        float: none;
        width:100%;
        font-size: 16px;
        text-align: left;
    }
    .order-form .textarea-holder > span {
        margin: 0 0 6px 0;
        display: block;
        float: none;
    }
    .order-form .clearfix input, .order-form .clearfix select, .order-form .clearfix textarea {
        width:290px;
        float: none;
    }
    .close-form {
        right: 4px;
        top: -15px;
        width:34px;
        height: 34px;
        background-size: 100% 100%;
    }
    .form-title {
        font-size: 21px;
        line-height: 25px;
        margin: 0 0 10px 0;
    }
    .cuselText {
        font-size: 14px;
    }
    .order-form .clearfix {
        margin: 0 0 5px 0;
    }
    .captcha-box > span {
        display: none;
    }
    .order-form .captcha-box input.captcha-input {
        float: left;
        margin: 0 15px 0 0;
    }
    .show-code {
        line-height: 18px;
    }
    .send-form {
        margin: 24px 0 0 0;
    }
    .programm-row .programm-box > a {
        max-width: 240px;
        margin: 0 auto;
        padding: 15px 0 0 0;
    }
    .prog-info .row > div {
        height: 170px;
        margin: 15px 0;
    }
    .prog-info .row {
        margin: 0;
    }
    .prog-info .row > div:nth-child(2n) {
        border-left: 1px solid #ffffff;
    }
    .prog-info .row > div {
        padding: 0;
    }
    .prog-info .row > div:first-child:after,
    .prog-info .row > div:nth-child(2):after{
        border-bottom: 1px solid #fff;
        content: '';
        display: block;
        position: absolute;
        bottom:-15px;
        width:100%;
    }
    .prog-info .row div > span.info-title,
    .prog-info .row div > span {
        font-size: 16px;
    }
    .workers .row > div img {
        display: block;
        max-width: 100%;
    }
    .worker-name, .worker-position {
        font-size: 16px;
    }
    .workers .row {
        margin: 0 -7px;
    }
    .workers .row > div {
        padding: 0 7px;
        margin: 20px 0 0 ;
    }
    .workers .row > div:nth-child(1),
    .workers .row > div:nth-child(2) {
        margin: 0;
    }
    .drop-box-xs {
        margin: 0 -15px 0;
    }
    .drop-box-xs .main-slider {
        margin: 0 -15px 20px;
        width:auto;
    }
    .programm-row .programm-box .main-slider a {
        max-width: 100%;
        padding: 0;
    }
    .subtitle {
        font-size: 21px;
        margin: 0 0 15px 0;
    }
    ol li span,
    ol li,
    .results-list li span,
    .results-list li {
        font-size: 16px;
    }
    .programm-rules .row > div:first-child {
        margin: 0;
    }
    .programm-rules .row > div {
        margin: 30px 0 0 0;
    }
    .workers {
        margin: 25px 0 30px;
    }
    .finance-list {
        width:100%;
        max-width: 100%;
        margin: 0 0 25px 0;
    }
    .finance-list li {
        font-size: 16px;
    }
    .finance iframe {
        height: 270px;
        width:100%;
        margin: 0 0 10px 0;
    }
    .order {
        margin: 0 -15px;
    }
    .camp-programms {
        margin: 0 0 40px 0;
    }
    .main-slider.camp-slider {
        max-width: 850px;
        width:auto;
        margin: 0 -15px 25px;
        overflow: visible;
    }
    .main-slider.camp-slider .slick-arrow {
        display: none !important;
    }
}
@media (max-width: 479px){    
    .main-slider .slick-arrow {
        display: none !important;
    }
    .main-slider .slick-dots {
        text-align: center;
        left: 0;
        bottom: 0;
    }
    .main-slider .slick-dots li {
        margin: 0 5px;
        float: none;
        display: inline-block;
    }
    .main-slider {
        overflow: hidden;
        background: #fff;
        width:auto;
        margin: 25px -15px -50px;
    }
    .finance iframe {
        height: 170px;
        width:100%;
        margin: 0 0 10px 0;
    }
    .shift-date {
        width:123px;
    }
    .camp-video iframe {
        height: 175px;
    }
    .partners-holder a {
        width: 50%;
        margin: 0 0 20px;
        padding: 0 1%;
    }
}