@font-face {
    font-family: 'montserrat_alternatesregular';
    src: url('../fonts/montserratalternates-regular-webfont.eot');
    src: url('../fonts/montserratalternates-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserratalternates-regular-webfont.woff2') format('woff2'),
    url('../fonts/montserratalternates-regular-webfont.woff') format('woff'),
    url('../fonts/montserratalternates-regular-webfont.ttf') format('truetype'),
    url('../fonts/montserratalternates-regular-webfont.svg#montserrat_alternatesregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat_alternatesbold';
    src: url('../fonts/montserratalternates-bold-webfont.eot');
    src: url('../fonts/montserratalternates-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserratalternates-bold-webfont.woff2') format('woff2'),
    url('../fonts/montserratalternates-bold-webfont.woff') format('woff'),
    url('../fonts/montserratalternates-bold-webfont.ttf') format('truetype'),
    url('../fonts/montserratalternates-bold-webfont.svg#montserrat_alternatesbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'comfortaalight';
    src: url('../fonts/comfortaa-light-webfont.eot');
    src: url('../fonts/comfortaa-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/comfortaa-light-webfont.woff2') format('woff2'),
    url('../fonts/comfortaa-light-webfont.woff') format('woff'),
    url('../fonts/comfortaa-light-webfont.ttf') format('truetype'),
    url('../fonts/comfortaa-light-webfont.svg#comfortaalight') format('svg');
    font-weight: normal;
    font-style: normal;

}
.gallery-slick { visibility:hidden; opacity:0; transition: opacity 1s; }
.gallery-slick.slick-initialized { visibility:visible; opacity:1; }
.gallery-slick > .slick-list > .slick-track > .slick-slide { display:none; }
.gallery-slick > .slick-list > .slick-track > .slick-slide:first-child { display:block; visibility:hidden; }
.gallery-slick.slick-initialized > .slick-list > .slick-track > .slick-slide { display:block; visibility:visible!important; }
.flex-center-x {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex-center-y {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    align-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%;
}
.flex-end-y {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%;
}
.flex-space-b {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex-end-x {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex-start-y {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.no-wrap {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
html, body {
	height: 100%;
}
body {
    background: #fff;
    margin: 0;
    font-family: 'montserrat_alternatesregular';
    color: #000000;
    font-size: 14px;
    overflow-x: hidden;
    position: relative;
}
.clearfix:before,
.clearfix:after {
    clear: both;
    display: block;
    content: '';
}
a:focus {
    outline: none;
}
a {
    transition: 0.5s all ease;
    text-decoration: none;
}
b {
    font-weight: normal;
    font-family: 'montserrat_alternatesbold';
}
img {
    display: block;
    max-width: 100%;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: transparent !important;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    color: transparent !important;
}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder{
    color: transparent !important;
}
input:focus,
textarea:focus,
button:focus{
    outline: none;
}
p {
    margin: 0 0 15px;
    line-height: 19px;
}
p:last-child {
    margin: 0;
}
p a {
    text-decoration: underline;
}
p a:hover {
    text-decoration: none;
}
* {
    font-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-size-adjust: none;
}
button {
    border: none;
    cursor: pointer;
    transition: 0.5s all ease;
}
button:hover {
    cursor: pointer;
}
.wrapper {
    position: relative;
    min-height: 100%;
    transition: 0.5s all linear;
    overflow: hidden;
}
.container {
    position: relative;
    padding: 0 20px;
    margin: 0 auto;
}
.container:after,
.container:before {
    content: '';
    display: block;
    clear: both;
}
/* header */
.header {
    font-size: 16px;
    padding: 18px 0 0;
}
.header span {
    display: block;
}
.logo {
    display: block;
    margin-bottom: 10px;
}
.logo img {
    display: block;
    max-width: 100%;
}
.logo-sub {
    margin-bottom: 15px;
}
.delivery-drop {
    display: none;
}
.delivery-box {
    position: relative;
    margin-bottom: 15px;
    line-height: 17px;
}
.delivery-box:last-child {
    margin-bottom: 0;
}
.info {
    background: url(../images/info-ico.png) no-repeat;
    width: 17px;
    height: 17px;
    margin-left: 5px;
    position: relative;
}
.delivery-info {
    position: absolute;
    width: 416px;
    left: calc(50% - 208px);
    top: calc(100% + 21px);
}
.header-c,
.header-r {
    padding: 10px 0 0;
}
.header-phone {
    display: block;
    margin-bottom: 15px;
    color: #2d2e32;
    text-align: right;
}
.header-soc li {
    margin-right: 20px;
}
.header-soc li:last-child{
    margin-right: 0;
}
.drop-box {
    background: #2d2e32;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 12px 48px 12px 15px;
    color: #fff;
    font-size: 14px;
    display: none;
    z-index: 20;
}
.drop-box:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10.5px 11px 10.5px;
    border-color: transparent transparent #2d2e32 transparent;
    content: '';
    position: absolute;
    left: calc(50% - 11px);
    top: -11px;
}
.close-drop {
    display: block;
    width: 18px;
    height: 19px;
    position: absolute;
    right: 15px;
    top: 12px;
    z-index: 5;
}
.info:hover .drop-box {
    display: block;
}
.header-nav-section {
    margin-top: 24px;
    padding: 19px 0;
    background: #fff;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
.header-nav li {
    margin-right: 67px;
    font-family: 'montserrat_alternatesbold';
}
.header-nav li:last-child {
    margin-right: 0;
}
.header-nav li a {
    color: #000;
}
.header-nav-ico {
    display: block;
    margin-right: 15px;
}
.header-nav li a:hover {
    color: #ff0000;
}
.basket-box {
    height: 47px;
    background: #ff0000;
    font-family: 'montserrat_alternatesbold';
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.basket-price {
    line-height: 47px;
    height: 100%;
    border-right: 1px solid #da0303;
    padding: 0 10px;
    color: #ffffff;
}
.basket-btn {
    color: #ffffff;
    line-height: 47px;
    padding: 0 10px;
}
.basket-btn:hover {
    opacity: 0.8;
}
.slick-arrow {
    width: 24px;
    height: 39px;
    position: absolute;
    top: calc(50% - 19.5px);
    z-index: 20;
    background: url(../images/slide-arr.png) no-repeat;
}
.slick-arrow:hover {
    background: url(../images/slide-arr-h.png) no-repeat;
}
.slick-arrow.slick-prev {
    left: 15%;
}
.slick-arrow.slick-next {
    right: 15%;
    transform: rotate(180deg);
}
.slick-dots {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.slick-dots li {
    margin: 0 10px;
    width: 12px;
    height: 12px;
    text-indent: -9999px;
    background: #2d2e32;
    border-radius: 100%;
}
.slick-dots li:hover {
    cursor: pointer;
}
.slick-dots li.slick-active {
    background: #c4c4c4;
}
.pr-code-section {
    padding: 30px 0 75px;
}
.pr-input {
    border-left: 1px dashed #c4c4c4;
    border-top: 1px dashed #c4c4c4;
    border-bottom: 1px dashed #c4c4c4;
    line-height: 27px;
    padding: 0 10px;
    font-size: 12px;
    color: #898989;
    border-right: none;
    width: 163px;
    font-family: 'comfortaalight';
    -webkit-border-radius: 12px 0  0 12px;
    -moz-border-radius: 12px 0  0 12px;
    border-radius: 12px 0  0 12px;
}
.pr-btn {
    width: 114px;
    height: 29px;
    line-height: 27px;
    text-align: left;
    border: 1px solid #ff0000;
    -webkit-border-radius: 0 12px 12px 0;
    -moz-border-radius: 0 12px 12px 0;
    border-radius: 0 12px 12px 0;
    background: none;
    font-size: 12px;
    padding: 0 10px;
    color: #ff0000;
}
.pr-btn:hover {
    background: #ff0000;
    color: #fff;
}
.title-box {
    display: block;
    font-size: 30px;
    color: #000000;
    margin-bottom: 55px;
    font-family: 'montserrat_alternatesbold';
}
.products-sticker {
    position: absolute;
    font-size: 18px;
    text-align: center;
    padding: 0 11px;
    height: 31px;
    line-height: 31px;
    color: #000;
    right: 0;
    background: #ffff00;
    top: 40px;
    text-transform: uppercase;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    font-family: 'comfortaalight';
}
.products-list {
    margin: 0 -25px;
}

.products-box {
    position: relative;
    width: 295px;
    padding: 0px 20px;
    margin-bottom: 79px;
    /*height: 560px;*/
}
.products-image {
    width: 229px;
    height: 229px;
    margin: 0 auto;
    z-index: 25;
    position: relative;
}
.product-img {
    margin: 0 auto;
    display: block;
}
.products-content {
    padding: 130px 15px 35px;
    height: calc(100% - 114.5px);
    margin-top: -114.5px;
    border: 1px solid #c4c4c4;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0 10px 20px 0 #e5e5e5;
    -moz-box-shadow: 0 10px 20px 0 #e5e5e5;
    box-shadow: 0 10px 20px 0 #e5e5e5;
    position: relative;
}
.product-title {
    display: block;
    font-size: 18px;
    font-family: 'montserrat_alternatesbold';
    margin: 0 0 12px;
    text-align: center;
}
.product-ingridients {
    height: 120px;
    display: block;
    margin: 0 0 10px;
    line-height: 16px;
    overflow: hidden;
}
.add-ingridients,
.half-add {
    display: block;
    margin: 0 auto 20px;
    width: 115px;
    height: 29px;
    line-height: 27px;
    font-size: 12px;
    color: #898989;
    padding: 0 11px;
    border: 1px solid #c4c4c4;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    position: relative;
}
.add-ingridients:after,
.half-add:after {
    content: '+';
    display: block;
    line-height: 29px;
    right: 7px;
    top: 0;
    font-family: 'comfortaalight';
    font-size: 16px;
    color: #898989;
    position: absolute;
    transition: 0.5s all ease;
}
.add-ingridients:hover,
.half-add:hover {
    background: #ff0000;
    color: #fff;
}
.add-ingridients:hover:after,
.half-add:hover:after{
    color: #fff;
}
.product-size {
    width: 56px;
    height: 31px;
    text-align: center;
    line-height: 29px;
    border: 1px solid #c4c4c4;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    font-size: 12px;
    color: #898989;
    display: block;
}
.product-size.active {
    color: #000;
    border-color: #000;
}
.product-size:hover:not(.active) {
    background: #ff0000;
    color: #fff;
}
.product-price {
    display: block;
    text-align: center;
    margin: 15px 0 0;
    font-size: 18px;
}
.product-buy-btn {
    display: block;
    background: url(../images/like.png) no-repeat;
    width: 45px;
    height: 38px;
    position: absolute;
    line-height: 38px;
    text-align: center;
    font-family: 'comfortaalight';
    font-size: 16px;
    color: #898989;
    left: calc(50% - 22.5px);
    bottom: -19px;
}
.product-buy-btn:hover {
    background: url(../images/like-h.png) no-repeat;
    color: #fff;
}
.products-box .info {
    left: calc(50% - 8.5px);
    bottom: 83px;
    margin: 0;
    position: absolute;
}
.product-info-drop {
    display: block;
    margin: 0 0 20px;
}
.product-info-drop:last-child {
    margin: 0;
}
.products-box .delivery-info {
    width: 250px;
    left: calc(50% - 125px);
}
.chose-btn:after {
    display: none;
}
.no-delivery {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #898989;
    margin-bottom: 37px;
}
/* actions */
.actions-bn {
    margin-bottom: 24px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    height: 263px;
    width: 470px;
    position: relative;
    max-width: 100%;
}
.actions-list {
    margin: 0 -30px;
}
.actions-list .actions-item {
    width: 50%;
    max-width: 100%;
    padding: 0 30px;
    margin: 0 0 60px;
}
.action-title {
    display: block;
    margin: 0 0 22px;
    font-size: 18px;
    color: #000000;
    font-family: 'montserrat_alternatesbold';
}
.actions-item p {
    color: #898989;
}
.three-pizza {
    background: url(../images/background.jpg) no-repeat;
    background-size: cover;
}
.three-pizza .title {
    text-transform: uppercase;
    font-family: 'montserrat_alternatesbold';
    font-size: 29px;
    position: absolute;
    top: 30px;
    right: 10px;
    display: inline-block;
    transform: rotate(-7grad);
}
.three-pizza .subtitle {
    padding: 8px;
    z-index: 5;
    background: #ffff00;
    font-size: 21px;
    font-family: 'montserrat_alternatesbold';
    display: inline-block;
    position: absolute;
    top: 117px;
    right: 115px;
    box-shadow: 0 1px 6px rgba(0,0,0,0.25), 0 0px 1px rgba(0,0,0,0.22);
    -moz-transform: scale(0.9) translate(-12px, -2px) skew(0deg, -18deg);
    -webkit-transform: scale(0.9) translate(-12px, -2px) skew(0deg, -18deg);
    -o-transform: scale(0.9) translate(-12px, -2px) skew(0deg, -18deg);
    -ms-transform: scale(0.9) translate(-12px, -2px) skew(0deg, -18deg);
    transform: scale(0.9) translate(-12px, -2px) skew(0deg, -18deg);
}
.three-pizza .text {
    padding: 7px;
    background: #ffffff;
    font-size: 18px;
    display: inline-block;
    position: absolute;
    top: 150px;
    right: 122px;
    font-family: 'montserrat_alternatesbold';
    box-shadow: 0 1px 6px rgba(0,0,0,0.25), 0 0px 1px rgba(0,0,0,0.22);
    -moz-transform: scale(0.9) translate(-12px, -2px) skew(0deg, -18deg);
    -webkit-transform: scale(0.9) translate(-12px, -2px) skew(0deg, -18deg);
    -o-transform: scale(0.9) translate(-12px, -2px) skew(0deg, -18deg);
    -ms-transform: scale(0.9) translate(-12px, -2px) skew(0deg, -18deg);
    transform: scale(0.9) translate(-12px, -2px) skew(0deg, -18deg);
}
.three-pizza .code {
    border-radius: 7px;
    position: absolute;
    bottom: 40px;
    right: 18px;
    font-size: 17px;
    padding: 6px;
    background: #ffff00;
}
.three-pizza .text .line {
    content: '';
    height: 74px;
    width: 3px;
    background: #ff0000;
    position: absolute;
    top: -18px;
    left: 37px;
    transform: rotate(83grad);
}
.bn-students {
    background: url(../images/bn-stud.jpg) no-repeat;
    background-size: cover;
}
.bn-students .title {
    text-transform: uppercase;
    overflow: hidden;
    z-index: 10;
    font-family: 'montserrat_alternatesbold';
    font-size: 16px;
    position: absolute;
    top: 50px;
    left: 80px;
    display: inline-block;
    padding: 9px 35px 7px 32px;
    background: #ffffff;
    transform: rotate(-4grad);
    box-shadow: 0 1px 6px rgba(0,0,0,0.25), 0 0px 1px rgba(0,0,0,0.22);
}
.bn-students .title .sale {
    top: 2px;
    left: -31px;
    color: #ffffff;
    position: absolute;
    text-transform: uppercase;
    background: #ff0000;
    font-size: 7px;
    padding: 14px 15px 1px 27px;
    transform: rotate(-58grad);
}
.bn-students .subtitle {
    text-transform: uppercase;
    z-index: 5;
    font-family: 'montserrat_alternatesbold';
    background: #ffffff;
    font-size: 29px;
    padding: 20px 4px 9px 15px;
    display: inline-block;
    position: absolute;
    top: 73px;
    left: 83px;
    transform: rotate(-4grad);
    box-shadow: 0 1px 6px rgba(0,0,0,0.25), 0 0px 1px rgba(0,0,0,0.22);
}
.bn-students .text {
    background: #ffffff;
    font-size: 19px;
    padding: 14px 10px 10px 10px;
    display: inline-block;
    position: absolute;
    top: 130px;
    left: 100px;
    font-family: 'montserrat_alternatesbold';
    transform: rotate(-4grad);
    box-shadow: 0 1px 6px rgba(0,0,0,0.25), 0 0px 1px rgba(0,0,0,0.22);
}
.bn-students .code {
    border-radius: 7px;
    position: absolute;
    bottom: 16px;
    left: 14px;
    color: #ffffff;
    font-size: 17px;
    padding: 5px 30px 4px 4px;
    border: #e0a069 dotted 1px ;
}
.cl-red {
    color: #ff0001;
}
.bn-dn {
    background: url(../images/bn-dn.jpg) no-repeat;
    background-size: cover;
}
.bn-dn .title {
    color: #ffffff;
    text-transform: uppercase;
    overflow: hidden;
    z-index: 10;
    font-family: 'montserrat_alternatesbold';
    font-size: 15px;
    position: absolute;
    top: 27px;
    left: 93px;
    display: inline-block;
    padding: 15px 10px 15px 32px;
    background: #000000;
    transform: rotate(-4grad);
    box-shadow: 0 1px 6px rgba(0,0,0,0.25), 0 0px 1px rgba(0,0,0,0.22);
}
.bn-dn .title .sale {
    top: 4px;
    left: -31px;
    color: #ffffff;
    position: absolute;
    text-transform: uppercase;
    background: #feadcd;
    font-size: 7px;
    padding: 14px 15px 1px 27px;
    transform: rotate(-58grad);
}
.bn-dn .subtitle {
    text-transform: uppercase;
    z-index: 5;
    font-family: 'montserrat_alternatesbold';
    background: #ffffff;
    font-size: 40px;
    padding: 20px 18px 10px 18px;
    display: inline-block;
    position: absolute;
    top: 65px;
    left: 100px;
    transform: rotate(-6grad);
    box-shadow: 0 1px 6px rgba(0,0,0,0.25), 0 0px 1px rgba(0,0,0,0.22);
}
.bn-dn .text {
    background: #ffffff;
    font-size: 30px;
    padding: 14px 10px 10px 10px;
    display: inline-block;
    position: absolute;
    top: 130px;
    left: 115px;
    font-family: 'montserrat_alternatesbold';
    transform: rotate(-4grad);
    box-shadow: 0 1px 6px rgba(0,0,0,0.25), 0 0px 1px rgba(0,0,0,0.22);
}
.bn-dn .code {
    border-radius: 7px;
    position: absolute;
    bottom: 16px;
    left: 155px;
    color: #000000;
    font-size: 17px;
    padding: 6px;
    background: #ffadcd;
}
.bn-razom {
    background: url(../images/bn-razom.jpg) no-repeat;
    background-size: cover;
}
.bn-razom .title {
    text-transform: uppercase;
    overflow: hidden;
    z-index: 10;
    font-family: 'montserrat_alternatesbold';
    font-size: 12px;
    position: absolute;
    top: 45px;
    left: 20px;
    display: inline-block;
    padding: 13px 10px 15px 32px;
    background: #ffffff;
    transform: rotate(-20grad);
    box-shadow: 0 1px 6px rgba(0,0,0,0.25), 0 0px 1px rgba(0,0,0,0.22);
}
.bn-razom .title .sale {
    top: 2px;
    left: -31px;
    color: #ffffff;
    position: absolute;
    text-transform: uppercase;
    background: #ff0000;
    font-size: 7px;
    padding: 14px 15px 1px 27px;
    transform: rotate(-58grad);
}
.bn-razom .subtitle {
    text-transform: uppercase;
    z-index: 5;
    background: #ffffff;
    font-size: 32px;
    padding: 20px 34px 5px 23px;
    display: inline-block;
    position: absolute;
    top: 60px;
    left: 30px;
    transform: rotate(-20grad);
    box-shadow: 0 1px 6px rgba(0,0,0,0.25), 0 0px 1px rgba(0,0,0,0.22);
}
.bn-razom .text {
    background: #ffffff;
    font-size: 25px;
    padding: 14px 10px 10px 10px;
    display: inline-block;
    position: absolute;
    top: 115px;
    left: 62px;
    font-family: 'montserrat_alternatesbold';
    transform: rotate(-20grad);
    box-shadow: 0 1px 6px rgba(0,0,0,0.25), 0 0px 1px rgba(0,0,0,0.22);
}
.bn-razom .code {
    border-radius: 7px;
    position: absolute;
    bottom: 44px;
    right: 40px;
    font-size: 17px;
    padding: 5px 30px 4px 4px;
    border: #e0d469 dotted 1px ;
}
/* footer */
.footer {
    background: #2d2e32;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 23px 0 30px;
}
.footer-logo {
    display: block;
    margin-bottom: 24px;
}
.footer-payment li {
    margin: 0 9px;
}
.footer-phones {
    background: url(../images/phone.png) no-repeat 0 50%;
    padding: 0 0 0 26px;
}
.footer-phones a {
    display: block;
    font-size: 16px;
    color: #ffffff;
    margin: 0 0 20px;
}
.footer-phones a:hover {
    color: #ff0000;
}
.footer-phones a:last-child {
    margin: 0;
}
.footer-address {
    color: #ffffff;
    background: url(../images/address.png) no-repeat;
    padding: 0 0 0 24px;
}
.footer-address-title {
    display: block;
    margin-bottom: 18px;
}
.copy {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #fff;
    margin: 10px 0 0;
    font-family: 'comfortaalight';
}
/* delivery */
.delivery-section {
    padding: 60px 0 75px;
}
.title-sm {
    display: block;
    font-size: 18px;
    margin: 0 0 20px;
    font-family: 'montserrat_alternatesbold';
}
.delivery-side .pr-code-section{
    padding: 0 0 22px;
}
/* selects */
.jq-selectbox {
    vertical-align: middle;
    cursor: pointer;
    width: 100%;
}
.jq-selectbox__select {
    height: 32px;
    padding: 0 17px 0 0;
    background: none;
    border-bottom: 1px solid #c4c4c4;
    font-size: 14px;
    line-height: 31px;
    color: #898989;
}
.jq-selectbox__select-text {
    display: block;
    width: 100%;
}
.jq-selectbox .placeholder {
    color: #888;
}
.jq-selectbox__trigger {
    position: absolute;
    top: 0;
    right: 0;
    width: 34px;
    height: 100%;
}
.jq-selectbox__trigger-arrow {
    position: absolute;
    top: calc(50% - 3.5px);
    right: 0;
    background: url(../images/transparent-arrow.png) no-repeat;
    width: 12px;
    height: 7px;
}
.jq-selectbox__dropdown {
    box-sizing: border-box;
    width: 100%;
    margin: 2px 0 0;
    padding: 0;
    border: 1px solid #561101;
    border-radius: 4px;
    font-size: 14px;
    background: #ff0000;
}
.jq-selectbox__not-found {
    margin: 5px;
    padding: 5px 8px 6px;
    background: #F0F0F0;
    font-size: 13px;
}
.jq-selectbox ul {
    margin: 0;
    padding: 0;
}
.jq-selectbox li {
    min-height: 18px;
    text-align: center;
    color: #fff;
    padding: 5px 45px 5px 10px;
}
.jq-selectbox li.selected,
.jq-selectbox li.selected:hover {
    background-color: rgba(255,255,255,0.5);
    color: #8e5c21;
}
.jq-selectbox li:hover {
    background-color: #501a0d;
    color: #FFF;
}
.jq-selectbox li.disabled {
    color: #AAA;
}
.jq-selectbox li.disabled:hover {
    background: none;
}
.jq-selectbox li.optgroup {
    font-weight: bold;
}
.jq-selectbox li.optgroup:hover {
    background: none;
    color: #231F20;
    cursor: default;
}
.jq-selectbox li.option {
    padding-left: 25px;
}
/* end selects */
.radio,
.checkbox{
    position: absolute;
    opacity: 0;
}
.radio-label:before,
.checkbox-label:before {
    content: '';
    display: block;
    width: 21px;
    height: 21px;
    border: 1px solid #8a8a8a;
    position: absolute;
    left: 0;
    top: -1px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.radio-label,
.checkbox-label {
    padding: 0 0 0 25px;
    line-height: 23px;
    display: block;
    position: relative;
    color: #898989;
}
.radio-label:hover,
.checkbox-label:hover {
    cursor: pointer;
}
.radio:checked + .radio-label:before,
.checkbox:checked + .checkbox-label:before {
    background: url(../images/check-err.png) no-repeat;
    border: none;
}
.radio:checked + .radio-label,
.checkbox:checked + .checkbox-label{
    color: #000;
}
.form-box-title {
    color: #898989;
    margin-right: 6px;
    font-size: 14px;
}
.delivery-side {
    width: 440px;
}
.form-input {
    height: 32px;
    padding: 0 17px 0 0;
    background: none;
    border-bottom: 1px solid #c4c4c4;
    font-size: 14px;
    line-height: 31px;
    color: #898989;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    font-family: 'montserrat_alternatesregular';
}
.double-box .form-box {
    width:calc(50% - 8px);
}
.form-box {
    padding: 5px 0;
}
.form-area {
    height: 50px;
    padding: 10px 25px 10px 10px;
    background: none;
    border: 1px solid #c4c4c4;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    font-size: 14px;
    line-height: 16px;
    color: #898989;
    display: block;
    resize: none;
    width: 100%;
    overflow: hidden;
    font-family: 'montserrat_alternatesregular';
}
.form-area-box {
    margin-top: 28px;
    position: relative;
}
.form-area-box:after {
    content: '';
    display: block;
    right: 23px;
    background: #c4c4c4;
    height: 50px;
    width: 1px;
    top: 0;
    position: absolute;
}
.form-area-box:before {
    content: '';
    display: block;
    right: 11px;
    background: #c4c4c4;
    height: 25px;
    width: 6px;
    top: calc(50% - 12.5px);
    position: absolute;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}
.payment-chose-box {
    width: 100%;
}
.payment-chose-section .form-box-title {
    padding-top: 3px;
}
.payment-chose-section {
    margin-top: 25px;
}
.delivery-item {
    padding: 25px 50px 45px 30px;
    border-bottom: 1px solid #c4c4c4;
}
.delivery-content {
    width: calc(100% - 500px);
    border: 1px solid #c4c4c4;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.delivery-title {
    display: block;
    padding: 9px 30px;
    border-bottom: 1px solid #c4c4c4;
    font-size: 18px;
    color: #000000;
    font-family: 'montserrat_alternatesbold';
}
.delivery-inner {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
.delivery-item {
    position: relative;
}
.delivery-del {
    position: absolute;
    right: 15px;
    top: 15px;
}
.delivery-del:hover {
    opacity: 0.5;
}
.delivery-footer {
    font-size: 18px;
    padding: 9px 30px;
}
.final-price {
    font-family: 'montserrat_alternatesbold';
}
.delivery-item-img {
    width: 180px;
}
.delivery-item-content {
    width: calc(100% - 180px);
    padding-left: 25px;
    font-size: 16px;
}
.delivery-content .flex-center-y {
    height: auto;
}
.delivery-item-name {
    display: block;
    margin-bottom: 12px;
    font-family: 'montserrat_alternatesbold';
    font-size: 18px;
}
.delivery-additionals {
    margin-bottom: 15px;
}
.delivery-item-size {
    display: block;
    margin-bottom: 15px;
}
.delivery-additionals-text {
    display: block;
    position: relative;
    font-size: 14px;
    margin: 6px 0;
}
.delivery-additionals-title {
    display: block;
}
.spinner {
    width: 21px;
    height: 21px;
    border-radius: 100%;
    background: #898989;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #fff;
    border: none;
    margin: 0 10px;
}
.spin-minus,
.spin-plus {
    color: #c4c4c4;
    font-size: 20px;
}
.spin-minus:hover,
.spin-plus:hover {
    opacity: 0.5;
}
.delivery-item-price {
    display: block;
    margin: 0 20px 0 0;
}
.order-btn,
.std-btn {
    display: block;
    margin: 60px auto 0;
    font-size: 16px;
    color: #fff;
    font-family: 'montserrat_alternatesbold';
    background: #ff0000;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    width: 204px;
    height: 48px;
    text-align: center;
    line-height: 46px;
    border: 1px solid transparent;
}
.order-btn:hover,
.std-btn:hover {
    background: #fff;
    color: #ff0000;
    border-color: #ff0000;
}
.delivery-additionals-val {
    font-size: 12px;
    display: inline-block;
    margin-left: 5px;
    position: relative;
    top: -5px;
}
.delivery-additionals-val:first-letter {
    color: #cccccc;
    font-size: 10px;
}
.cash-odd-input {
    width: 50px;
    text-align: center;
    padding: 0;
    height: 21px;
    line-height: 20px;
}
.payment-cash {
    display: none;
    padding-top: 15px;
}
.selft-delivery-text {
    padding-top: 25px;
}
.self-delivery-title {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    font-family: 'montserrat_alternatesbold';
}
.self-delivery-address {
    display: block;
    font-size: 14px;
    line-height: 18px;
}
.modal {
    display: none;
    width: 850px;
    position: absolute;
    z-index: 100;
    left: calc(50% - 425px);
    background: #ffffff;
    padding: 23px 43px 45px 30px;
    box-shadow: 0 0 25px 2px rgba(0,0,0,0.5);
}
.modal-open {
    -webkit-filter: blur(2.5em);
    filter: blur(2.5em);
    overflow: hidden;
}
.ingridients-modal-sidebar {
    width: 260px;
    padding-right: 30px;
}
.ingridients-modal .delivery-item-img {
    margin: 0 auto 25px;
}
.ingridients-modal .delivery-item-name {
    margin-bottom: 23px;
}
.ingridients-modal .product-ingridients {
    margin: 0 0 20px;
    height: auto;
}
.product-weight-text {
    display: block;
    margin: 0 0 20px;
}
.ingridients-modal .product-price {
    text-align: left;
}
.close-up {
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 5;
    background: url(../images/close-ico.png) no-repeat;
}
.ingridients-add-r .product-spinner {
    padding-right: 28px;
    padding-left: 10px;
    display: none;
}
.ingriedients-modal-content {
    width: calc(100% - 260px);
}
.ingridients-add-box {
    margin-bottom: 13px;
}