.container {
    position: relative;
    padding: 0 15px;
    margin: 0 auto;
}
.container:after,
.container:before {
    content: '';
    display: block;
    clear: both;
}
.rub {
    text-transform: none;
    font-family: 'als_rublregular';
}
html, body {
	height: 100%;
}
body {
    background: #fff;
    margin: 0;
    font-family: 'Arial';
    color: #000000;
    font-size: 20px;
    overflow-x: hidden;
    position: relative;
}
.clearfix:before,
.clearfix:after {
    clear: both;
    display: block;
    content: '';
}
a:focus {
    outline: none;
}
a {
    text-decoration: none;
}
a:hover {
    opacity: 0.7;
}
a:active {
    opacity: 0.5;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: transparent !important;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    color: transparent !important;
}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder{
    color: transparent !important;
}
input:focus,
textarea:focus,
button:focus{
    outline: none;
}
p {
    text-align: center;
    margin: 0 0 30px;
}
p:last-child {
    margin: 0;
}
* {
-webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
      box-sizing: border-box;
}
button {
    border: none;
    cursor: pointer;
}
.wrapper {
    padding: 0 0 15px;
}
/* calendar */
.calendar-box {
    width: 270px;
    border: 1px solid #cccccc;
    padding: 15px 20px;
    border-radius: 3px;
    background: #f8f8f8;
}
.calendar-top {
    padding: 6px 0 0;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
    align-content: center;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.calendar-prev,
.calendar-next {
    display: block;
}
.calendar-prev img {
    transform: rotate(180deg);
}
.calendar-prev img,
.calendar-next img {
    display: block;
}
.calendar-month {
    display: block;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}
.calendar-prev:hover,
.calendar-next:hover {
    opacity: 0.5;
}
.calendar-week-days {
    overflow: hidden;
    margin: 0 -9px;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 11px;
}
.calendar-week-days li {
    float: left;
    width: 35px;
    height: 35px;
    border: 1px solid #f8f8f8;
    font-size: 14px;
    color: #969696;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
    align-content: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.calendar-days {
    overflow: hidden;
    margin: 0 -9px;
}
.calendar-days li {
    float: left;
    width: 35px;
    height: 35px;
    font-size: 14px;
}
.calendar-days li a {
    border: 1px solid #f8f8f8;
    color: #969696;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
    align-content: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 35px;
    width: 35px;
}
.calendar-days li.last-month-day a {
    color: #eeeeee;
}
.calendar-days li.last-month-day a:hover {
    color: #eeeeee;
    background: none;
    border: none;
}
.calendar-days li.today {
    background: #868686;
}
.calendar-days li.today a {
    color: #fff;
}
.calendar-days li.last-event-day a {
    border: 1px solid #ababab;
}
.calendar-days li.last-event-day a:hover {
    background: none;
    color: #969696;
    border: 1px solid #ababab;
}
.calendar-days li.upcoming-event a {
    background: #ffffff;
    border: 1px solid #ff6600;
    color: #969696;
}
.calendar-days li a:hover {
    background: #ff6600;
    color: #333333;
    border: 1px solid #ff6600;
    opacity: 1;
}
.calendar-days li.weekend a {
    color: #ff0000;
}
.calendar-days li.weekend a:hover {
    color: #000;
}