@media (min-width: 1920px) {
    body {
        padding: 0 70px;
    }
    header .container {
        position: static;
    }
    .lang-holder {
        top: 40px;
        right: 0;
    }
}
@media (max-width: 1600px) {
    .header-right {
        padding-right: 50px;
    }
    .lang-holder {
        right: -40px;
    }
}
@media (min-width:1200px) and (max-width: 1343px) {
    .header-right {
        padding-right: 115px;
    }
    .lang-holder {
        right: 25px;
    }
}
@media (max-width: 1200px) {
    .map {
        height: auto;
    }
    .map img {
        max-width: 100%;
    }
}
@media (min-width:1200px) {
    .container {
        width:1200px;
        padding: 0 15px;
    }
    .hidden-lg {
        display: none;
    }
}
@media (min-width:992px) {
    .col-md-4 {
        width:33.33%;
        float: left;
        padding: 0 15px;
    }
    .col-md-6 {
        width:50%;
        float: left;
        padding: 0 15px;
    }
    .col-md-12 {
        padding: 0 15px;
        width:100%;
    }
    .hidden-md {
        display: none;
    }
}
@media (min-width:992px) and (max-width:1199px) {   
    .change-dates-up {
        width: 95%;
    }
    .container {
        width:970px;
    }
    .lang-holder {
        right: 15px;
    }
    .header-nav li {
        margin-left: 20px;
        font-size: 15px;
    }
    .header-right {
        padding-right: 105px;
    }
    .vehicles-section.section-box {
        padding-top: 80px;
        padding-bottom: 60px;
    }
    .section-box {
        padding: 50px 0;
    }
    .section-title {
        font-size: 45px;
        line-height: 45px;
        margin-bottom: 25px;
    }
    .results-nav li,
    .profile-nav li {
        line-height: 60px;
        font-size: 18px;
    }
    .offer-left {
        width: 540px;
    }
    .offer-right {
        width: 400px;
        padding: 10px;
    }
    .litnerary-holder {
        padding: 30px 65px;
    }
    .form-left {
        width: 465px;
    }
    .form-dark-input {
        width: 300px;
    }
    .input-text,
    .form-right .input-text {
        width: 130px;
        font-size: 15px;
    }
    .form-right {
        width: 450px;
    }
    .form-right .jq-selectbox {
        width: 225px;
    }
    .pay-final-val {
        padding: 30px;
        margin-top: 38px;
        font-size: 40px;
        margin-bottom: 25px;
    }
    .section-footer {
        margin-top: 35px;
    }
    .login-left .form-dark-input,
    .sign-up-left .form-dark-input {
        width: calc(100% - 120px);
    }
    .sign-up-holder {
        width: 400px;
    }
    .sign-up-title {
        font-size: 21px;
    }
    .sign-up-benefits li {
        font-size: 21px;
        line-height: 24px;
    }
    .text-right-box {
        width: 420px;
    }
}
@media (min-width:768px) and (max-width:991px) {
    .col-sm-6 {
        width:50%;
        padding: 0 15px;
        float: left;
    }
    .col-sm-4 {
        width:33.33%;
        padding: 0 15px;
        float: left;
    }
    .col-sm-12 {
        width:100%;
        padding: 0 15px;
    }
    .container {
        width:750px;
        margin: 0 auto;
    }
    .main-bn {
        padding-top: 25px;
        padding-bottom: 25px;
        height: auto;
    }
    .sign-up-btn {
        width: 130px;
        margin-left: 15px;
    }
    .header-nav li {
        margin-left: 15px;
        font-size: 13px;
    }
    .header-right {
        padding: 0;
    }
    .lang-holder {
        right: 15px;
        top: -25px;
    }
    header {
        padding-top: 35px;
        padding-bottom: 25px;
    }
    .lang-list {
        top: 15px;
    }
    .car-form-box {
        position: static;
        padding: 20px 25px;
        width: 460px;
    }
    .section-title {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 22px;
    }
    .section-box {
        padding: 45px 0;
    }
    .form-box {
        padding-bottom: 13px;
    }
    .contact-us-form {
        width: calc(100% - 360px);
    }
    .contact-us-left {
        width: 310px;
        padding-left: 30px;
    }
    .results-nav li,
    .profile-nav li{
        width: 23%;
        font-size: 18px;
        line-height: 60px;
    }
    .results-nav li:nth-child(2) {
        width: 31%;
    }
    .transit-title {
        font-size: 18px;
    }
    .transit-sub,
    .change-dates-bt {
        font-size: 13px;
    }
    .change-dates-bt {
        margin-right: 0;
    }
    .offer-left {
        width: 520px;
    }
    .offer-left img {
        max-width: 250px;
    }
    .offer-info-list li span {
        font-size: 13px;
    }
    .offer-right {
        width: 200px;
        padding: 15px;
    }
    .offer-price {
        margin-bottom: 15px;
    }
    .litnerary-holder {
        padding: 20px 50px;
    }
    .travel-time {
        margin: 20px 0;
        font-size: 25px;
    }
    .travel-info-nav li {
        font-size: 18px;
    }
    .litnerary-inner img {
        width: 250px;
    }
    .litnerary-inner .clearfix {
        width: calc(100% - 280px);
    }
    .litnerary-bottom {
        padding: 15px;
    }
    .inner-content {
        padding-bottom: 80px;
    }
    .change-dates-up {
        width: 750px;
        padding: 25px 15px;
    }
    .change-dates-up .change-dates-row > div.form-box:first-child {
        width: 340px;
    }
    .change-dates-up .change-dates-row .form-input-date {
        width: 180px;
    }
    .form-left {
        width: 345px;
        float: left;
    }
    .form-right {
        width: 330px;
    }
    .form-right .jq-selectbox {
        width: 245px;
    }
    .form-dark-input {
        width: 100%;
    }
    .pay-final-val {
        padding: 25px;
        margin-top: 30px;
        font-size: 40px;
        margin-bottom: 15px;
    }
    .input-text {width: 100%;}
    .expiration-holder {
        width: 100%;
    }
    .form-inner-box {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .input-text {
        margin-bottom: 10px;
        display: block;
    }
    .checkout {
        margin-top: 65px;
        font-size: 21px;
        height: 350px;
    }
    h1 {
        margin: 25px 0;
        font-size: 40px;
        padding-bottom: 20px;
    }
    .about-box {
        padding-bottom: 70px;
    }
    .error-box {
        margin: 60px 0 0;
        font-size: 21px;
        height: 350px;
        padding: 0 15px;
    }
    .login-form-bt {
        margin-left: 0;
        max-width: 100%;
        width: 100%;
    }
    .sign-up-holder {
        width: 320px;
        padding: 0 25px;
    }
    .sign-up-benefits {
        margin: 43px 0 35px;
    }
    .profile-nav li {
        width: 22%;
    }
    .profile-nav li:first-child {
        width: 36%;
    }
    .profile-nav li:nth-child(2) {
        width: 20%;
    }
    .text-right-box {
        width: 320px;
    }
}
@media (min-width:768px) {
    .hidden-sm {
        display: none;
    }
}
@media (max-width:767px) {
    body {
        font-size: 14px;
    }
    .container {
        padding: 0 15px;
    }
    .col-xs-12 {
        width:100%;
    }
    .col-xs-6 {
        width:50%;
        padding: 0 15px;
    }
    .row {
        margin: 0;
    }
    .visible-xs {
        display: block;
    }
    .car-form-box {
        width: 100%;
        box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
        max-width: 290px;
    }
    .contact-us-left {
        max-width: 100%;
        padding: 15px;
        margin: 0 auto;
        height: auto;
        text-align: center;
        float: none;
    }
    .vehicles-list img {
        max-width: 100%;
        height: auto;
    }
    .lang-holder {
        right: 25px;
        top: -15px;
    }
    .car-form-box {
        left: 0;
        padding: 25px 15px;
        position: static;
    }
    .header-right nav {
        float: none;
        padding: 15px 0 0;
        display: none;
    }
    .header-nav li {
        float: none;
        width: 100%;
        margin: 0;
        line-height: 25px;
        text-align: center;
    }
    .header-right {
        float: none;
        padding: 0;
    }
    .logo {
        float: none;
        width: 184px;
        margin: 0 auto;
        display: block;
    }
    .sign-up-btn {
        float: none;
        margin: 15px auto 0;
        display: block;
    }
    .lang-list {
        top: 14px;
    }
    .show-menu {
        width: 30px;
        height: 26px;
        display: block;
        position: absolute;
        top: 12px;
        right: 17px;
        border: 1px solid #a4acb5;
        padding: 3px;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }
    .show-menu span {
		display: block;
		width: 20px;
		left:50%;
		margin: 0 0 0 -10px;
		height: 2px;
		background: #a4acb5;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
		position: absolute;
	}
	.show-menu span:nth-child(1) {
		top:6px;
	}
	.show-menu span:nth-child(2) {
		top:11px;
	}
	.show-menu span:nth-child(3) {
		top:16px;
	}
	.show-menu.active span {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
		margin-top:5px;
	}
	.show-menu.active span:nth-child(2){
		left: -50%;
		opacity: 0;
	}
	.show-menu.active span:nth-child(3) {
		-webkit-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
		-o-transform: rotate(135deg);
		transform: rotate(135deg);
		margin-top: -5px;
	}
    .main-bn {
        padding: 25px 0;
        height: auto;
    }
    .form-title {
        font-size: 20px;
        line-height: 18px;
    }
    .form-input-date {
        width: 160px;
    }
    .form-input-time {
        width: 90px;
    }
    .form-btn {
        margin: 14px auto 0;
    }
    .section-box {
        padding: 25px 0;
    }
    .vehicles-section {
        padding-top: 40px;
        padding-bottom: 30px;
    }
    .section-title {
        font-size: 35px;
        margin-bottom: 20px;
    }
    .vehicles-list {
        margin-top: 25px;
    }
    .vehicles-list .row > div {
        margin: 20px auto;
    }
    .vehicles-img {
        margin: 0 auto 15px;
        max-width: 370px;
    }
    .vehicles-title {
        text-align: center;
    }
    .about-section p,
    .vehicles-section p {
        padding: 0 5%;
    }
    .vehicles-list p {
        padding: 0;
        text-align: center;
    }
    .contact-us-form {
        float: none;
        margin-top: 25px;
        width: 100%;
    }
    .contact-us-form input {
        width:calc(50% - 15px);
    }
    .contact-us-form textarea {
        margin-top: 30px;
    }
    .contact-us-form .send-form {
        float: none;
        display: block;
        margin: 25px auto 0;
    }
    .footer-top {
        text-align: center;
    }
    .footer-left {
        float: none;
    }
    .footer-soc {
        float: none;
        margin-top: 15px;
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
    .footer-nav {
        padding: 20px 0 0;
    }
    .map img {
        max-width: 100%;
    }
    .results-nav li,
    .profile-nav li {
        width: 100%;
        line-height: 45px;
    }
    .results-nav li a,
    .profile-nav li a {
        border-right: none;
        border-bottom: 1px solid #000;
    }
    .results-nav li.active a {
        border-right: none;
        border-bottom: 1px solid #52565b;
    }
    .map {
        height: auto;
        overflow: hidden;
    }
    .transit-info,
    .transit-box {
        height: auto;
    }
    .transit-box {
        padding-bottom: 12px;
    }
    .offer-left {        
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .offer-left > img {
        display: block;
        margin: 0 auto 15px;
    }
    .offer-left,
    .offer-right,
    .offer-info {
        width: 100%;
    }
    .offer-info {
        margin: 0 auto;
        max-width: 350px;
    }
    .offer-right {
        margin: 15px 0;
        padding: 15px;
    }
    .offer-right span {
        margin: 10px 0;
    }
    .offers-box,
    .offers-holder {
        padding: 10px 0
    }
    .results-nav-holder > .container {
        padding: 0;
    }
    .litnerary-holder {
        padding: 15px 20px;
    }
    .travel-time {
        font-size: 20px;
        margin: 15px 0;
    }
    .travel-info-nav li {
        font-size: 16px;
    }
    .box-title {
        font-size: 22px;
        margin-bottom: 15px;
    }
    .inner-content {
        padding-bottom: 35px;
    }
    .litnerary-bottom {
        padding: 15px;
    }
    .litnerary-inner img {
        max-width: 100%;
        float: none;
        display: block;
        margin: 0 auto 15px;
    }
    .litnerary-inner .clearfix {
        float: none;
        width: 100%;
        margin: 0;
    }
    .transit-box > div {
        width: 50%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .change-dates-bt {
        display: inline-block;
        float: none;
    }
    .change-dates-up {
        width: 94%;
        padding: 15px;
    }
    .change-dates-up .change-dates-row > div.form-box:first-child {
        width: 100%;
    }
    .form-left,
    .form-right {
        width: 100%;
        float: none;
    }
    .form-right {
        margin-top: 15px;
    }
    .form-dark-input {
        width: 100%;
    }
    .input-text {
        float: none;
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    .passenger-title {
        margin-bottom: 15px;
    }
    .form-inner-box:not(:first-child) {
        margin-top: 15px;
    }
    .form-right .jq-selectbox {
        width:calc(100% - 85px);
    }
    .passenger-row,
    .section-row {
        padding: 25px 0;
    }
    .passenger-footer {
        padding: 15px 0;
    }
    .res-back,
    .res-next {
        width: 100px;
        font-size: 16px;
        line-height: 45px;
        height: 45px;
    }
    .res-next {
        width: 150px;
    }
    .pay-final-val {
        font-size: 35px;
        padding: 20px;
        margin-bottom: 5px;
        margin-top: 25px;
    }
    .form-inner-box {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .section-footer {
        margin-top: 20px;
    }
    .checkout {
        margin-top: 35px;
        font-size: 18px;
        height: 250px;
    }
    h1 {
        margin: 20px 0;
        font-size: 26px;
        padding-bottom: 15px;
    }
    .about-box {
        padding-bottom: 55px;
    }
    .error-box {
        font-size: 18px;
        padding: 0 15px;
        height: 320px;
        margin: 35px 0 0;
    }
    .bn-img {
        height: 190px;
        max-width: 100%;
        object-fit: cover;
    }
    .login-form-bt {
        margin-left: 0;
        width: 100%;
        max-width: 100%;
    }
    .sign-up-holder {
        padding: 20px 15px;
        font-size: 21px;
        line-height: 21px;
    }
    .login-left {
        padding-bottom: 30px;
    }
    .sign-up-holder {
        margin: 30px auto 0;
    }
    .have-acc {
        margin-top: 30px;
    }
    .profile-list {
        float: none;
    }
    .profile-list li {
        margin: 5px auto;
    }
    .profile-list li:first-child {
        margin: 0 auto;
    }
    .order-arrow {
        margin: 0 15px;
    }
    .order-left,
    .order-price {
        font-size: 20px
    }
    .for-drivers {
        margin-top: 25px;
    }
    .text-right-box {
        width: 100%;
        float: none;
        margin-top: 30px;
        padding: 15px;
    }
}
@media (max-width: 600px) {
    .order-left span {
        display: block;
        width: 100%;
    }
    .order-arrow {
        margin: 15px 0 15px 25px;
        display: block;
        transform: rotate(90deg);
    }
}
@media (max-width: 480px) {
    .transit-box > div {
        width: 100%;
    }
}
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    .soc-ico {
        background-image: url(../images/soc-spr@2x.png);
        background-repeat: no-repeat;
        background-size: 175px 40px;
    }
    .form-input-date {
        background: url(../images/calendar-38.png) no-repeat 95% 50%;
        background-size: 19px 19px;
    }
    .form-input-time {
        background: url(../images/timeclock-40.png) no-repeat 95% 50%;
        background-size: 20px 19px;
    }
    .start-location,
    .final-location {
        background: url(../images/green-arrow-48.png) no-repeat 0 50%;
        background-size: 24px 20px;
    }
    .date-transit {
        background: url(../images/green-calendar-40.png) no-repeat 0 50%;
        background-size: 20px 21px;
    }
    .travel-time {
        background: url(../images/green-clock-66.png) no-repeat 0 50%;
        background-size: 33px 30px;
    }
    .travel-info-nav li:first-child,
    .travel-info-nav li:last-child:after {
        background: url(../images/green-flag-30.png) no-repeat 0 0;
        background-size: 15px 20px;
    }
}