@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url('../fonts/helveticaneuecyr-roman-webfont.eot');
    src: url('../fonts/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-roman-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-roman-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneuecyrmedium';
    src: url('../fonts/helveticaneuecyr-medium-webfont.eot');
    src: url('../fonts/helveticaneuecyr-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-medium-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-medium-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneuecyritalic';
    src: url('../fonts/helveticaneuecyr-italic-webfont.eot');
    src: url('../fonts/helveticaneuecyr-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-italic-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-italic-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-italic-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneuecyr-italic-webfont.svg#helveticaneuecyritalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneuecyrlight';
    src: url('../fonts/helveticaneuecyr-light-webfont.eot');
    src: url('../fonts/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-light-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-light-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneuecyrbold';
    src: url('../fonts/helveticaneuecyr-bold-webfont.eot');
    src: url('../fonts/helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-bold-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-bold-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MinionProRegular';
    src: url('../fonts/MinionProRegular.eot');
    src: url('../fonts/MinionProRegular.eot') format('embedded-opentype'),
         url('../fonts/MinionProRegular.woff2') format('woff2'),
         url('../fonts/MinionProRegular.woff') format('woff'),
         url('../fonts/MinionProRegular.ttf') format('truetype'),
         url('../fonts/MinionProRegular.svg#MinionProRegular') format('svg');
}
html, body {
	height: 100%;
}
body {
    background: #000;
    margin: 0 auto;
    font-family: 'helveticaneuecyrroman';
    color: #a4acb5;
    max-width: 1700px;
    font-size: 14px;
    overflow-x: hidden;
    position: relative;
}
.wrapper {
    position: relative;
    min-height: 100%;
}
.clearfix:before,
.clearfix:after {
    clear: both;
    display: block;
    content: '';
}
a:focus {
    outline: none;
}
a {
    text-decoration: none;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
p {
    margin: 0 0 17px;
}
button {
    border: none;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #a4acb5;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #a4acb5;
}
input:-moz-placeholder,
textarea:-moz-placeholder{
    color: #a4acb5;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: transparent !important;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    color: transparent !important;
}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder{
    color: transparent !important;
}
input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}
button:hover {
    cursor: pointer;
}
* {
-webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
      box-sizing: border-box;
}
p:last-child {
    margin: 0;
}
.row {
    margin: 0 -15px;
}
.row:after,
.row:before,
.container:after,
.container:before {
    clear: both;
    display: block;
    content: '';
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin:0 auto;
    position: relative;
}
/* header */
header {
    padding-top: 25px;
    position: relative;
    z-index: 10;
    padding-bottom: 15px;
}
.logo {
    float: left;
    margin: 0;
    transition: 0.5s linear;
}
.logo img {
    display: block;
}
.logo:hover {
    transition: 0.5s linear;
    opacity: 0.7;
}
.logo:active {
    transition: 0.5s linear;
    opacity: 0.5;
}
.header-nav {
    overflow: hidden;
}
.header-nav li {
    float: left;
    margin-left: 30px;
    line-height: 45px;
    font-size: 16px;
    color: #ffffff;
}
.header-nav li:first-child {
    margin: 0;
}
.header-nav li a {
    color: #ffffff;
}
.header-nav li a:hover {
    color: #7ad339;
}
.header-right {
    float: right;
}
.header-right nav {
    float: left;
}
.sign-up-btn {
    margin-left: 30px;
    float: right;
    height: 45px;
    line-height: 45px;
    width: 158px;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    background: #308dff;
}
.lang-holder {
    position: absolute;
    top: 15px;
    right: -100px;
}
.lang-text {
    font-size: 16px;
    text-transform: uppercase;
    color: #a4acb5;
}
.lang-list {
    display: none;
    position: absolute;
    padding: 12px 0 10px 10px;
    width: 120px;
    top: 45px;
    left: -10px;
    background: #000;
    z-index: 20;
}
.lang-text:hover {
    color: #fff;
}
.lang-text:active {
    opacity: 0.5;
}
.lang-list li {
    font-size: 16px;
    text-transform: uppercase;
    margin: 5px 0 0;
}
.lang-list li:first-child {
    margin: 0;
}
.lang-list li a {
    color: #fff;
}
.lang-list li a:hover {
    color: #a4acb5;
}
/* content */
.main-bn {
    padding-top: 45px;
    background: url(../images/main-bn.jpg) no-repeat 50% 50%;
    background-size: cover;
    height: 100vh;
    position: relative;
}
.main-bn .canvas-box {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}
.main-bn .container {
    height: 100%;
    position: relative;
    z-index: 11;
}
.car-form-box {
    background: #fff;
    padding: 40px 45px;
    width: 500px;
    position: absolute;
    -webkit-box-shadow: 0 5px 25px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 5px 25px 0 rgba(0,0,0,0.5);
    box-shadow: 0 5px 25px 0 rgba(0,0,0,0.5);
    left: 15px;
}
.form-title {
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    text-transform: uppercase;
    display: block;
    font-family: 'helveticaneuecyrmedium';
    padding-bottom: 18px;
    margin-bottom: 20px;
    border-bottom: 2px solid #308dff;
}
.form-box {
    padding-bottom: 16px;
}
.form-box-title {
    font-size: 16px;
    color: #000000;
    display: block;
    margin-bottom: 12px;
    font-family: 'helveticaneuecyrmedium';
    line-height: 16px;
}
.form-box-title span {
    font-family: 'helveticaneuecyritalic';
}
.form-input {
    width: 100%;
    font-family: 'helveticaneuecyrroman';
    line-height: 43px;
    height: 45px;
    border: 1px solid #a4acb5;
    padding: 0 11px;
}
.section-box {
    padding: 65px 0;
}
.std-btn {
    background: #308dff;
    color: #ffffff;
    font-family: 'helveticaneuecyrmedium';
    line-height: 60px;
    height: 60px;
    text-align: center;
    font-size: 20px;
    display: block;
    text-transform: uppercase;
    background: #308dff;
}
.std-btn:hover,
.sign-up-btn:hover {
    background: #7ad339;
}
.form-btn {
    margin-top: 14px;
    width: 240px;
}
.form-datetime {
    padding: 15px 0 0;
    margin-bottom: 15px;
    border-top: 1px dashed #a4acb5;
    border-bottom: 1px dashed #a4acb5;
}
.form-input-date {
    height: 45px;
    line-height: 43px;
    border: 1px solid #a4acb5;
    float: left;
    width: 240px;
    background: url(../images/calendar-19.png) no-repeat 95% 50%;
    padding: 0 41px 0 11px;
}
.form-input-time {
    float: right;
    line-height: 43px;
    height: 45px;
    width: 155px;
    border: 1px solid #a4acb5;
    background: url(../images/timeclock-20.png) no-repeat 95% 50%;
    padding: 0 41px 0 11px;
}
/* selectbox */
.jq-selectbox,
select {
    width: 100%;
    height: 45px;
    padding: 0 11px;
    line-height: 43px;
    border: 1px solid #a4acb5;
    font-size: 14px;
    color: #000;
    font-family: 'helveticaneuecyrroman';
}
.jq-selectbox:hover,
select:hover {
    cursor: pointer;
}
.jq-selectbox__dropdown {
    background: #fff;
    width: 100%;
    left: -1px;
}
.jq-selectbox__dropdown ul {
    background-color: #ffffff;
    border: 1px solid #a4acb5;
    z-index: 50;
    width: calc(100% + 2px);
    padding: 12px 15px;
}
.jq-selectbox__dropdown ul li {
    font-size: 16px;
    line-height: 16px;
    color: #3d3d3d;
    padding: 3px 0;
}
.jq-selectbox__dropdown ul li&:last-child {
    margin: 0;
}
.jq-selectbox__dropdown ul li.selected,
.jq-selectbox__dropdown ul li.sel {
    color: #7ad339;
}
.jq-selectbox__dropdown ul li:hover {
    cursor: pointer;
    color: #7ad339;
}
.jq-selectbox__trigger {
    position: absolute;
    right: 0;
    width: 20px;
    height: 12px;
    display: block;
    top:calc(50% - 6px);
}
.jq-selectbox__trigger:before,
.jq-selectbox__trigger:after,
.change-dates-bt:before,
.change-dates-bt:after {
    width: 12px;
    height: 2px;
    background: #7ad339;
    content: '';
    display: block;
    position: absolute;
    top: 5px;
}
.jq-selectbox__trigger:before,
.change-dates-bt:before {
    transform: rotate(45deg);
}
.jq-selectbox__trigger:after,
.change-dates-bt:after {
    transform: rotate(-45deg);
    left: 8px;
}
.change-dates-bt:hover {
    background: #52565b;
}
.section-title {
    display: block;
    font-family: 'helveticaneuecyrlight';
    text-align: center;
    font-size: 50px;
    color: #ffffff;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.vehicles-section {
    padding-top: 110px;
    padding-bottom: 80px;
}
.vehicles-section p {
    text-align: center;
    margin: 0;
    padding: 0 16%;
}
.vehicles-list {
    margin-top: 40px;
}
.vehicles-list img {
    display: block;
    max-width: 100%;
    height: auto;
}
.vehicles-list p {
    text-align: left;
    padding: 0;
}
.vehicles-title {
    font-size: 24px;
    display: block;
    margin: 0 0 12px;
    color: #7ad339;
}
.vehicles-title:hover {
    color: #ffffff;
}
.vehicles-img {
    display: block;
    margin: 0 0 25px;
}
.vehicles-img:hover {
    opacity: 0.8;
}
.about-section {
    background: #101112;
}
.about-section p {
    text-align: center;
    padding: 0 16%;
}
.upper {
    text-transform: uppercase;
}
.contact-us-left {
    width: 370px;
    height: 270px;
    border: 1px solid #52565b;
    padding-left: 40px;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    align-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    float: left;
}
.contact-us-left span {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    font-size: 18px;
}
.contact-us-left span a {
    color: #a4acb5;
}
.contact-us-left span:last-child {
    margin-bottom: 0;
}
.contact-us-form {
    float: right;
    margin-top: 41px;
    width: calc(100% - 485px);
}
.contact-us-form input {
    padding: 0 0 14px 0;
    border-bottom: 1px solid #52565b;
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    width: calc(50% - 35px);
    float: left;
    font-size: 14px;
    color: #a4acb5;
    font-family: 'helveticaneuecyrroman';
}
.contact-us-form input:last-child {
    float: right;
}
.contact-us-form textarea {
    margin-top: 60px;
    width: 100%;
    font-family: 'helveticaneuecyrroman';
    font-size: 14px;
    color: #a4acb5;
    padding: 14px 0;
    border-bottom: 1px solid #52565b;
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    height: 45px;
    resize: none;
    overflow: hidden;
}
.contact-us-form .send-form {
    float: right;
    margin: 45px 0 0;
    width: 200px;
    height: 45px;
    background: #52565b;
    color: #a4acb5;
    line-height: 45px;
    font-size: 14px;
    color: #a4acb5;
}
.contact-us-form .send-form:hover {
    background: #a4acb5;
    color: #52565b;
}
.contact-us-form form {
    overflow: hidden;
}
/* footer */
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 25px;
}
.footer-top {
    padding: 25px 0;
    border-top: 1px solid #308dff;
    border-bottom: 1px solid #308dff;
}
.footer-soc {
    overflow: hidden;
    float: right;
}
.footer-soc li:first-child {
    margin-left: 0;
}
.footer-soc li {
    float: left;
    margin-left: 30px;
}
.footer-soc li a,
.footer-soc li a img {
    display: block;
}
.footer-left {
    float: left;
}
.copy,
.copy-link {
    display: block;
    font-size: 12px;
    color: #292b2e;
}
.footer-nav {
    padding: 35px 0 0;
    text-align: center;
}
.footer-nav li {
    font-size: 14px;
    display: inline-block;
    margin: 0 12px;
}
.footer-nav li a {
    color: #52565b;
}
.footer-nav li a:hover {
    color: #a4acb5;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default, .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div.xdsoft_current {
    background: #308dff;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div:hover {
    color: #fff !important;
    background: #7ad339 !important;
    box-shadow: none !important;
}
.visible-xs {
    display: none;
}
.header-right {
    padding-right: 0;
}
.results-nav-holder {
    background: #292b2e;
    margin-bottom: 25px;
}
.results-nav,
.profile-nav {
    overflow: hidden;
}
.results-nav li,
.profile-nav li {
    line-height: 90px;
    width: 25%;
    font-size: 20px;
    font-family: 'helveticaneuecyrmedium';
    float: left;
    text-align: center;
}
.results-nav li a,
.profile-nav li a {
    color: #52565b;
    display: block;
    border-right: 1px solid #000000;
}
.results-nav li.active a {
    color: #a4acb5;
    border-right: 1px solid #52565b;
    background: #52565b;
}
.map {
    height: 495px;
    overflow: hidden;
}
.map img {
    display: block;
}
.transit-info {
    background: #292b2e;
    height: 90px;
}
.transit-box {
    height: 90px;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    align-content: center;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.transit-box > div {
    float: left;
    width: 25%;
}
.start-location,
.final-location {
    background: url(../images/green-arrow-24.png) no-repeat 0 50%;
    padding: 0 0 0 33px;
}
.transit-box > div > span {
    display: block;
    color: #a4acb5;
}
.transit-title {
    font-size: 20px;
}
.transit-sub {
    font-size: 14px;
}
.date-transit {
    background: url(../images/green-calendar-20.png) no-repeat 0 50%;
    padding: 0 0 0 29px;
}
.change-dates-bt {
    font-size: 14px;
    border: 1px solid #7ad339;
    padding: 0 34px 0 10px;
    line-height: 43px;
    position: relative;
    margin-right: 15px;
    color: #7ad339;
    float: right;
}
.change-dates-bt:before {
    right: 18px;
    left: auto;
    top: 20px;
}
.change-dates-bt:after {
    right: 10px;
    top: 20px;
    left: auto;
}
.box-title,
.title-sm {
    display: block;
    margin-bottom: 27px;
    font-size: 24px;
    color: #ffffff;
    font-family: 'helveticaneuecyrmedium';
}
.offers-holder {
    border-top: 1px solid #292b2e;
    border-bottom: 1px solid #292b2e;
    padding: 22px 0;
}
.transmission-ico {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    font-size: 12px;
    line-height: 15px;
    background: #a4acb5;
    color: #000000;
    font-family: 'helveticaneuecyrbold';
    text-align: center;
}
.offer-info-list li {
    margin-top: 10px;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    align-content: center;
    -webkit-box-pack: start;
    -moz-box-pack: left;
    -ms-flex-pack: left;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.offer-info-list li:first-child {
    margin-top: 0;
}
.offer-info-list li span {
    margin-left: 9px;
}
.offer-car {
    display: block;
    font-size: 18px;
    font-family: 'helveticaneuecyrmedium';
    margin-bottom: 12px;
    color: #ffffff;
}
.offers-box {
    padding: 22px 0;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.offer-left {
    width: 570px;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    align-content: center;
}
.offer-info {
    margin-left: 12px;
}
.offer-right {
    width: 500px;
    border: 1px solid #52565b;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    align-content: center;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
}
.rent-bt {
    width: 200px;
    position: relative;
    z-index: 2;
}
.offer-price {
    font-size: 18px;
    color: #fff;
    position: relative;
    z-index: 2;
}
.offer-price-val,
.offer-price-valute {
    font-size: 24px;
}
.offer-border {
    border: 1px dashed #292b2e;
    position: absolute;
    left: -1px;
    top:-1px;
    height: calc(100% + 2px);
    width: calc(100% + 2px);
}
.offers-pagination {
    float: right;
    padding: 10px 0 30px;
    overflow: hidden;
}
.offers-pagination li {
    float: left;
    font-size: 14px;
    margin-left: 12px;
}
.offers-pagination li:first-child {
    margin-left: 0;
}
.offers-pagination li a {
    color: #a4acb5;
}
.offers-pagination li.active a {
    color: #fff;
}
.litnerary-holder {
    padding: 40px 100px;
    border: 1px solid #292b2e;
    margin-bottom: 30px;
}
.travel-time {
    display: block;
    font-size: 30px;
    margin: 35px 0;
    color: #7ad339;
    font-family: 'helveticaneuecyrmedium';
    background: url(../images/green-clock-33.png) no-repeat 0 50%;
    padding: 0 0 0 52px;
}
.travel-time span {
    font-size: 20px;
    color: #a4acb5;
}
.travel-info-nav {
    overflow: hidden;
}
.travel-info-nav li {
    float: left;
    font-size: 20px;
    margin: 0 0 0 6px;
    line-height: 25px;
    /*padding: 0 0 0 39px;
    background: url(../images/green-dash-arrow-35.png) no-repeat 0 50%;*/
}
.travel-info-nav li:not(:first-child):before {
    content: '- - →';
    color: #7ad339;
    font-size: 20px;
    line-height: 20px;
    display: inline-block;
    margin-right: 6px;
    font-family: 'MinionProRegular';
}
.travel-info-nav li:first-child,
.travel-info-nav li:last-child {
    color: #7ad339;
}
.travel-info-nav li:first-child {
    padding: 0 0 0 26px;
    margin: 0;
    background: url(../images/green-flag-15.png) no-repeat 0 0;
}
.travel-info-nav li:last-child {
    position: relative;
    padding-right: 26px;
}
.travel-info-nav li:last-child:after {
    right: 0;
    top: 0;
    width: 15px;
    height: 20px;
    content: '';
    display: block;
    position: absolute;
    background: url(../images/green-flag-15.png) no-repeat 0 0;
}
.litnerary-bottom {
    background: #101112;
    padding: 30px;
}
.litnerary-inner {
    overflow: hidden;
}
.litnerary-inner img {
    float: left;
    width: 470px;
}
.litnerary-inner .clearfix {
    float: left;
    width: calc(100% - 500px);
    margin-left: 30px;
}
.litnerary-bottom .litnerary-inner:not(:first-child) {
    margin-top: 30px;
}
.change-dates-up {
    position: absolute;
    z-index: 50;
    top:50px;
    background: #fff;
    width: 1200px;
    display: none;
    padding: 30px 0;
}
.change-dates-up .change-dates-row {
    max-width: 850px;
    margin: 0 auto;
}
.change-dates-up .change-dates-row > div {
    float: left;
}
.change-dates-up .change-dates-row > div.form-box:first-child {
    width: 410px;
    margin-right: 30px;
}
.change-dates-up .change-dates-row > div.form-box .form-input-time {
    margin-left: 15px;
}
.std-btn.change-btn {
    float: right;
    width: 155px;
    margin-top: 13px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}
.change-dates-up .change-dates-row:last-child .form-box {
    padding-bottom: 0;
}
.change-btn:after {
    transform: rotate(45deg);
    top: 20px;
}
.change-btn:before {
    transform: rotate(-45deg);
    top:34px;
}
.change-btn:after,
.change-btn:before {
    background: #fff;
    content: '';
    height: 6px;
    width: 24px;
    right: 67px;
    position: absolute;
    display: block;
}
.passenger-title {
    display: block;
    font-size: 20px;
    margin-bottom: 35px;
    color: #7ad339;
    position: relative;
}
.input-text {
    font-size: 16px;
    color: #a4acb5;
    font-family: 'helveticaneuecyrmedium';
    line-height: 16px;
    width: 190px;
    margin-right: 10px;
}
.form-dark-input,
.form-dark-area {
    width: 385px;
    height: 45px;
    line-height: 45px;
    padding: 0 13px;
    background: #292b2e;
    font-size: 16px;
    color: #a4acb5;
    border: none;
}
.form-dark-area {
    height: 120px;
    padding: 10px 13px;
    line-height: 18px;
    resize: none;
}
.form-inner-box {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    align-content: center;
}
.form-inner-box:not(:first-child) {
    margin-top: 30px;
}
.passenger-row,
.section-row {
    padding: 40px 0;
    border-top: 1px solid #292b2e;
}
.section-row.no-border {
    border-top: none;
    padding-top: 0;
}
.passenger-footer {
    padding:0 0 30px 0;
    border-bottom: 1px solid #292b2e;
    margin-bottom: 50px;
}
.form-left {
    width: 585px;
    float: left;
}
.form-right {
    width: 540px;
    float: right;
}
.form-right .jq-selectbox {
    width: 300px;
    float: left;
    background: #292b2e;
    border: none;
}
.form-right .input-text {
    width: 144px;
}
.choose-passenger-ok {
    color: #a4acb5;
    font-size: 16px;
    text-align: center;
    float: left;
    line-height: 45px;
    width: 85px;
    background: #52565b;
}
.form-right .jq-selectbox__trigger:before,
.form-right .jq-selectbox__trigger:after {
    background: #a4acb5;
}
.form-right .jq-selectbox select,
.form-right .jq-select-multiple select {
    background: #292b2e;
}
.form-right .jq-selectbox__select-text {
    font-size: 16px;
    color: #a4acb5;
}
.del-passenger {
    display: block;
    width: 16px;
    height: 16px;
    position: relative;
    float: right;
}
.del-passenger:after {
    transform: rotate(45deg);
}
.del-passenger:before {
    transform: rotate(-45deg);
}
.del-passenger:after,
.del-passenger:before {
    top: 6px;
    width: 16px;
    height: 2px;
    background: #52565b;
    position: absolute;
    content: '';
}
.add-passenger {
    color: #7ad339;
    font-size: 16px;
    display: inline-block;
}
.disable-bt {
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
    color: #a4acb5;
    background: #52565b;
}
.res-back {
    width: 185px;
    float: left;
    font-family: 'helveticaneuecyrmedium';
}
.res-next {
    float: right;
    width: 300px;
}
.inner-content {
    padding-bottom: 120px;
}
/* radio */
.radio {
    vertical-align: top;
    width: 20px;
    height: 20px;
}
.radio + label {
    cursor: pointer;
}
.radio:not(checked) {
    position: absolute;
    opacity: 0;
}
.radio:not(checked) + label {
    position: relative;
    margin: 0;
    font-weight: normal;
    padding: 0 0 0 35px;
    line-height: 20px;
    font-family: 'helveticaneuecyrmedium';
}
.radio:not(checked) + label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #292b2e;
}
.radio:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    opacity: 0;
    transition: all .2s;
}
.radio:checked + label:before {
    background: #308dff;
}
.radio:checked + label:after {
    opacity: 1;
}
.radio-box {
    float: left;
}
.radio-box {
    margin: 0 0 0 18px;
}
.radio-box:first-child {
    margin: 0;
}
.pay-final-val {
    border: 1px solid #292b2e;
    width: 100%;
    text-align: center;
    padding: 40px;
    margin-top: 58px;
    font-size: 50px;
    color: #7ad339;
    margin-bottom: 35px;
}
.what-link {
    color: #7ad339;
    font-size: 12px;
    font-family: 'helveticaneuecyrroman';
}
.expiration-holder .form-dark-input {
    width: 85px;
    float: left;
    text-align: center;
}
.expiration-holder .form-dark-input:last-child {
    margin-left: 15px;
}
.section-footer {
    margin-top: 50px;
}
.form-dark-input.csc-input {
    width: 185px;
}
.checkout {
    margin-top: 90px;
    border: 1px solid #292b2e;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    align-content: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
    font-size: 24px;
    color: #fff;
    height: 540px;
}
.checkout img {
    display: block;
    margin: 0 auto 55px; 
}
.about-bn {
    overflow: hidden;
    margin-bottom: 40px;
}
.bn-img {
    display: block;
    margin: 0 auto;
}
h1 {
    margin: 35px 0;
    border-bottom: 1px solid #292b2e;
    font-size: 50px;
    color: #fff;
    font-family: 'helveticaneuecyrlight';
    text-transform: uppercase;
    padding-bottom: 25px;
}
.about-box {
    border-bottom: 1px solid #292b2e;
    padding-bottom: 115px;
    margin-bottom: 28px;
}
.error-box {
    border: 1px solid #292b2e;
    height: 390px;
    margin: 45px 0 15px;
    font-size: 24px;
    color: #fff;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    align-content: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
}
.error-box span {
    display: block;
    margin: 0 0 65px;
    width: 100%;
}
.error-box img {
    display: block;
    margin: 0 auto 40px;
}
.error-btn {
    width: 200px;
    height: 45px;
    text-align: center;
    border: 1px solid #7ad339;
    font-size: 14px;
    color: #7ad339;
    display: block;
    margin: 0 auto;
    line-height: 43px;
}
.title-sm {
    display: block;
    padding-bottom: 23px;
    border-bottom: 1px solid #52565b;
}
.login-left .input-text,
.sign-up-left .input-text {
    width: 110px;
}
.forgotten-pass {
    display: block;
    margin-top: 20px;
    color: #7ad339;
}
.forgotten-pass:hover {
    color: #fff;
}
.password-box {
    padding-left: 120px;
}
.login-form-bt {
    display: block;
    width: 385px;
    max-width: calc(100% - 120px);
    margin: 40px 0 0 120px;
}
.sign-up-holder {
    background: #292b2e;
    width: 500px;
    margin-top: 52px;
    padding: 0 58px;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    align-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 24px;
    line-height: 24px;
}
.login-holder {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.sign-up-title {
    display: block;
    width: 100%;
}
.sign-up-benefits {
    width: 100%;
    margin: 15px 0 17px;
}
.valute,
.offer-price-valute{
    font-family: 'MinionProRegular';
}
.sign-up-benefits li span {
    color: #7ad339;
    font-family: 'MinionProRegular';
}
.sign-up-bt {
    width: 100%;
    display: block;
}
.login-left {
    border-bottom: 1px solid #52565b;
    padding-bottom: 58px;
}
.free-join {
    display: block;
    margin: 25px 0;
}
.have-acc {
    margin: 85px 0 0;
    display: block;
}
.have-acc a {
    color: #7ad339;
}
.profile-nav li:first-child a {
    border-left: 1px solid #000;
}
.profile-nav li.active a {
    color: #308dff;
    border-bottom: 2px solid #7ad339;
}
.profile-list {
    float: right;
}
.profile-list li {
    width: 185px;
    height: 45px;
    line-height: 43px;
    text-align: center;
    border: 1px solid transparent;
    font-size: 14px;
    margin: 5px 0 0;
}
.profile-list li:first-child {
    margin: 0;
}
.profile-list li a {
    color: #7ad339;
    display: block;
}
.profile-list li:hover {
    border: 1px solid #7ad339;
}
.order-date {
    display: block;
    color: #7ad339;
    font-size: 20px;
    font-family: 'helveticaneuecyrmedium';
    margin-bottom: 2px;
}
.order-arrow {
    margin: 0 55px;
    display: inline-block;
}
.back-order-arrow {
    transform: rotate(180deg);
}
.order-row {
    margin-bottom: 25px;
    overflow: hidden;
}
.order-content {
    overflow: hidden;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    align-content: center;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}
.order-body {
    float: left;
}
.order-left {
    font-size: 24px;
    color: #a4acb5;
}
.order-price {
    float: right;
    font-size: 24px;
}
.order-car {
    display: block;
    font-size: 16px;
}
.orders-list li {
    padding: 50px 0 35px;
    border-bottom: 1px solid #292b2e;
}
.orders-list li:first-child {
    padding-top: 15px;
}
.text-right-box {
    background: #101112;
    padding: 30px;
    float: right;
    width: 500px;
}
.for-drivers {
    margin-top: 45px;
}
.soc-ico {
    background-image: url(../images/soc-spr.png);
    background-repeat: no-repeat;
    background-size: 175px 40px;
    height: 20px;
}
.gg-ico {
    display: inline-block;
    width: 31px;
    background-position: 0 0;
}
.gg-ico:hover {
    background-position: 0 -20px;
}
.fb-ico {
    display: inline-block;
    width: 11px;
    background-position: -110px 0;
}
.fb-ico:hover {
    background-position: -110px -20px;
}
.linked-ico {
    display: inline-block;
    width: 21px;
    background-position: -61px 0;
}
.linked-ico:hover {
    background-position: -61px -20px;
}
.tt-ico {
    display: inline-block;
    width: 25px;
    background-position: -151px 0;
}
.tt-ico:hover {
    background-position: -151px -20px;
}
.res-navigation {
    margin-top: 50px;
}