@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        max-width: 970px;
    }
    .about-section {
        .about-box {
            width: 47%;
        }
    }
    .business-culture {
        .business-list {
            li {
                width: 210px;
            }
        }
    }
    .products {
        .products-list {
            li {
                width: 290px;
                .products-col-content {
                    padding: 20px 15px 0;
                    p {
                        font-size: 15px;
                        margin-bottom: 10px;
                        line-height: 21px;
                        height: 125px;
                    }
                }
            }
        }
    }
    .strategic-cooperation {
        margin-top: 380px;
    }
    .news {
        .news-list {
            li {
                width: 290px;
                .news-img-box {
                    height: auto;
                }
                .news-name {
                    height: 72px;
                    margin-bottom: 19px;
                }
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 750px;
    }
    body {
        font-size: 14px;
    }
    header {
        .pull-right {
            .header-nav {
                li {
                    font-size: 12px;
                    margin-left: 16px;
                }
            }
            .login-btn {
                margin-left: 10px;
            }
        }
    }
    .main-bn {
        height: 680px;
        padding-top: 160px;
    }
    .about-section {
        padding: 50px 0 35px;
        .about-box {
            width: 345px;
        }
    }
    .content-img {
        height: auto;
    }
    .business-culture {
        padding: 30px 0 55px;
    }
    .products {
        .products-list {
            li {
                width: 220px;
                .products-col-content {
                    padding: 10px;
                    .products-title {
                        font-size: 16px;
                    }
                    p {
                        margin-bottom: 10px;
                        line-height: 22px;
                        height: 140px;
                        font-size: 13px;
                    }
                }
            }
        }
    }
    .strategic-cooperation {
        margin-top: 320px;
    }
    .news {
        .news-list {
            li {
                width: 220px;
                height: 270px;
                .news-img-box {
                    height: auto;
                }
                .news-name {
                    font-size: 16px;
                    height: 72px;
                    margin-bottom: 9px;
                }
            }
        }
    }
    footer {
        .footer-top {
            .footer-left {
                .contact-form {
                    .contact-input {
                        width: 300px;
                    }
                }
            }
        }
    }
    .products {
        .products-list {
            li {
                padding-bottom: 5px;
                height: auto;
            }
        }
    }
}
@media (max-width: 767px) {
    body {
        font-size: 14px;
    }
    header {
        .pull-right {
            .header-nav {
                display: none;
                position: absolute;
                left: 0;
                width: 100%;
                background: #cd4874;
                box-shadow: 0 1px 44px 0 rgba(33, 23, 129, 0.45);
                top: 30px;
                li {
                    width: 100%;
                    float: none;
                    text-align: center;
                    border-top: 1px solid #ffffff;
                    margin: 0;
                    &:first-child {
                        border-top: none;
                    }
                }
            }
        }
    }
    .show-menu {
        width: 25px;
        height: 17px;
        float: left;
        position: relative;
        margin-top: 4px;
    }
    .show-menu span {
		display: block;
        width: 25px;
		left:50%;
		margin: 0 0 0 -10px;
		height: 3px;
		background: #fff;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
		position: absolute;
	}
	.show-menu span:nth-child(1) {
		top:0;
	}
	.show-menu span:nth-child(2) {
		top:7px;
	}
	.show-menu span:nth-child(3) {
		top:14px;
	}
	.show-menu.active span {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
		margin-top:7px;
	}
	.show-menu.active span:nth-child(2){
		left: -50%;
		opacity: 0;
	}
	.show-menu.active span:nth-child(3) {
		-webkit-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
		-o-transform: rotate(135deg);
		transform: rotate(135deg);
		margin-top: -7px;
	}
    .title-holder {
        text-align: center;
    }
    .box-title {
        font-size: 30px;
        line-height: 40px;
    }
    .main-bn {
        height: 450px;
        padding-top: 120px;
        .main-bn-title {
            font-size: 30px;
            line-height: 40px;
        }
        .main-bn-sub {
            font-size: 16px;
        }
        .sign-up-btn {
            width: 200px;
            font-size: 18px;
        }
    }
    .about-section {
        padding: 50px 0 0;
        .title-holder {
            margin-bottom: 20px;
        }
        .about-box {
            margin: 16px 0;
            width: 100%;
        }
    }
    .content-img {
        height: auto;
        margin: 30px auto;
    }
    .business-culture {
        padding: 30px 0 60px;
        .business-list {
            margin-top: 44px;
        }
    }
    .products {
        height: auto;
        padding-bottom: 30px;
        .products-list {
            margin-left: 0;
            margin-right: 0;
            li {
                .products-col-content {
                    padding: 15px 10px 0;
                }
            }
        }
    }
    .button-std {
        font-size: 18px;
    }
    .strategic-cooperation {
        margin-top: 50px;
    }
    .news {
        margin-top: 50px;
        padding-bottom: 25px;
        .news-list {
            margin-left: 0;
            margin-right: 0;
            li {
                height: auto;
                .news-name {
                    font-size: 16px;
                }
                .news-date {
                    font-size: 15px;
                }
                .news-more {
                    font-size: 15px;
                }
                .news-img-box {
                    height: auto;
                }
            }
        }
        .all-news {
            margin-top: 25px;
        }
    }
    footer {
        margin-top: 25px;
        .footer-top {
            padding: 30px 0;
            display: flex;
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            -webkit-box-pack: justify;
            -moz-box-pack: justify;
            -ms-flex-pack: justify;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            .footer-left {
                .contact-us-text {
                    font-size: 18px;
                    margin-bottom: 15px;
                }
                .contact-form {
                    .contact-input {
                        height: 35px;
                        line-height: 35px;
                        width: 205px;
                        font-size: 16px;
                    }
                    .contact-send {
                        width: 70px;
                        height: 35px;
                        font-size: 16px;
                    }
                }
            }
            .footer-soc {
                margin-top: 38px;
            }
        }
    }
    .products {
        .products-list {
            li {
                padding-bottom: 20px;
                height: auto;
            }
        }
    }
}