@font-face {
  font-family: 'source_sans_prosemibold';
  src: url("../fonts/sourcesanspro-semibold-webfont.eot");
  src: url("../fonts/sourcesanspro-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-semibold-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro-semibold-webfont.woff") format("woff"), url("../fonts/sourcesanspro-semibold-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'source_sans_probold';
  src: url("../fonts/sourcesanspro-bold-webfont.eot");
  src: url("../fonts/sourcesanspro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-bold-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro-bold-webfont.woff") format("woff"), url("../fonts/sourcesanspro-bold-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-bold-webfont.svg#source_sans_probold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'source_sans_proregular';
  src: url("../fonts/sourcesanspro-regular-webfont.eot");
  src: url("../fonts/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-regular-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro-regular-webfont.woff") format("woff"), url("../fonts/sourcesanspro-regular-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular") format("svg");
  font-weight: normal;
  font-style: normal; }
/* fonts */
/* colors */
html, body {
  height: 100%; }

body {
  background: #ffffff;
  margin: 0;
  color: rgba(74, 74, 74, 0.72);
  font-size: 16px;
  overflow-x: hidden;
  position: relative;
  font-family: "source_sans_proregular"; }

.clearfix:before,
.clearfix:after {
  clear: both;
  display: block;
  content: ''; }

a:focus {
  outline: none; }

a {
  text-decoration: none; }

b {
  font-family: "source_sans_probold";
  font-weight: normal; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent !important; }

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent !important; }

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: transparent !important; }

input:focus,
textarea:focus,
button:focus {
  outline: none; }

button:hover {
  cursor: pointer; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

p {
  margin: 0 0 33px;
  line-height: 24px; }
  p:last-child {
    margin: 0; }

.flex-center-x {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.flex-center-y {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  align-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%; }

.flex-x-end {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-pack: end;
  -moz-box-pack: right;
  -ms-flex-pack: right;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flex-space-b {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.center {
  text-align: center; }

img {
  display: block; }

.holder {
  overflow: hidden; }

.wrapper {
  position: relative; }

.container {
  padding: 0 15px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; }

header {
  position: absolute;
  top: 33px;
  left: 0;
  width: 100%;
  z-index: 50; }
  header .logo {
    float: left; }
  header .pull-right {
    float: right; }
    header .pull-right .header-nav {
      float: left;
      overflow: hidden; }
      header .pull-right .header-nav li {
        text-transform: uppercase;
        float: left;
        font-size: 14px;
        line-height: 24px;
        margin-left: 30px;
        font-family: "source_sans_prosemibold"; }
        header .pull-right .header-nav li:first-child {
          margin-left: 0; }
        header .pull-right .header-nav li a {
          color: #ffffff;
          display: block; }
    header .pull-right .login-btn {
      width: 89px;
      height: 24px;
      border-radius: 12px;
      line-height: 22px;
      float: right;
      color: #ffffff;
      font-size: 12px;
      font-family: "source_sans_probold";
      text-align: center;
      text-transform: uppercase;
      margin-left: 20px;
      border: solid 1px #ffffff; }

.main-bn {
  height: 739px; }
  .main-bn .slick-slide {
    height: 739px;
    padding-top: 240px; }
    .main-bn .slick-slide .container {
      position: relative;
      z-index: 10; }
  .main-bn .main-bn-bg {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%; }
  .main-bn .sign-up-btn {
    display: block;
    line-height: 45px;
    text-align: center;
    color: #ffffff;
    width: 270px;
    height: 45px;
    margin-top: 27px;
    text-transform: uppercase;
    font-size: 20px; }
  .main-bn .main-bn-title {
    display: block;
    font-size: 46px;
    font-family: "source_sans_probold";
    color: #ffffff;
    line-height: 58px;
    text-transform: uppercase;
    margin-bottom: 10px; }
  .main-bn .main-bn-sub {
    display: block;
    font-family: "Tahoma";
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 35px;
    max-width: 600px;
    color: #ffffff; }
  .main-bn .slick-dots {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    height: 16px;
    text-align: center; }
    .main-bn .slick-dots li {
      width: 16px;
      height: 16px;
      border-radius: 100%;
      margin: 0 7px;
      display: inline-block;
      background: #ffffff;
      text-indent: -99999px; }
      .main-bn .slick-dots li.slick-active {
        background: #cd4874; }
      .main-bn .slick-dots li:hover:not(.slick-active) {
        cursor: pointer; }

.btn-std {
  border-radius: 27px;
  background-color: #cd4874; }
  .btn-std:hover {
    background-color: #ffffff;
    color: #cd4874; }

.button-std {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 328px;
  height: 45px;
  border-radius: 27px;
  background-color: #ffffff;
  border: solid 2px #cd4874;
  font-size: 20px;
  font-family: "source_sans_probold";
  line-height: 41px;
  text-align: center;
  color: #cd4874; }
  .button-std:hover {
    background-color: #cd4874;
    color: #ffffff; }

.box-title {
  font-size: 40px;
  color: #4a4a4a;
  font-family: "source_sans_probold";
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  line-height: 50px; }
  .box-title:after {
    content: '';
    display: block;
    width: 100%;
    height: 7px;
    border-radius: 3.5px;
    background-color: #cd4874; }

.about-section {
  padding: 100px 0 70px; }
  .about-section .title-holder {
    margin-bottom: 40px; }
  .about-section .about-box {
    width: 570px; }

.content-img {
  display: block;
  width: 100%;
  height: 185px;
  margin: 0 0 60px; }

.business-culture {
  padding: 60px 0 105px; }
  .business-culture .business-list {
    margin-top: 73px;
    margin-left: -15px;
    margin-right: -15px; }
    .business-culture .business-list li {
      width: 270px;
      text-align: center;
      margin: 15px; }
      .business-culture .business-list li .business-title {
        display: block;
        margin-bottom: 10px;
        font-size: 19px;
        font-family: "source_sans_probold";
        color: #000000; }
      .business-culture .business-list li .business-img {
        margin-bottom: 20px;
        height: 72px; }
        .business-culture .business-list li .business-img img {
          display: block;
          margin: 0 auto; }

.products {
  height: 385px;
  padding-top: 37px;
  background-color: #342b8a; }
  .products .box-title {
    color: #ffffff; }
  .products .products-list {
    margin-top: 45px;
    margin-left: -15px;
    margin-right: -15px; }
    .products .products-list li {
      margin: 15px;
      max-width: 100%;
      width: 370px;
      padding-bottom: 15px;
      border-radius: 10px;
      background-color: #ffffff;
      box-shadow: 0 1px 44px 0 rgba(33, 23, 129, 0.45); }
      .products .products-list li .products-col-top {
        background-color: #4c9cbd;
        border-radius: 10px 10px 0 0; }
        .products .products-list li .products-col-top img {
          display: block;
          max-width: 100%; }
      .products .products-list li .products-col-content {
        padding: 31px 21px 0; }
        .products .products-list li .products-col-content .products-title {
          display: block;
          font-family: "source_sans_probold";
          color: #000000;
          font-size: 20px;
          margin-bottom: 11px; }
        .products .products-list li .products-col-content p {
          margin-bottom: 20px;
          line-height: 22px;
          height: 108px;
          overflow: hidden; }
        .products .products-list li .products-col-content .read-more {
          text-transform: uppercase; }

.strategic-cooperation {
  margin-top: 350px; }
  .strategic-cooperation .box-title:after {
    margin-top: 20px; }
  .strategic-cooperation .strategic-list {
    margin-top: 55px; }
    .strategic-cooperation .strategic-list li {
      margin: 15px;
      width: 370px;
      height: 70px;
      border-radius: 10px;
      background-color: #ffffff;
      box-shadow: 0 1px 36px 0 rgba(115, 145, 185, 0.4); }
      .strategic-cooperation .strategic-list li a .fanship-logo {
        margin: 0 32px 0 15px; }
      .strategic-cooperation .strategic-list li a .ufo-club-logo {
        margin: 0 54px; }

.news {
  margin-top: 100px;
  padding-bottom: 57px; }
  .news .box-title:after {
    width: 200px; }
  .news .news-list {
    margin: 45px -15px 0; }
    .news .news-list li {
      margin: 15px;
      width: 370px;
      height: 311px;
      max-width: 100%;
      border-radius: 10px;
      background-color: #ffffff;
      box-shadow: 0 1px 44px 0 rgba(33, 23, 129, 0.24);
      position: relative; }
      .news .news-list li .news-type {
        position: absolute;
        bottom: 15px;
        right: 15px; }
        .news .news-list li .news-type img {
          display: block; }
      .news .news-list li .news-img-box {
        width: 370px;
        max-width: 100%;
        height: 175px;
        border-radius: 10px 10px 0 0; }
        .news .news-list li .news-img-box img {
          border-radius: 10px 10px 0 0;
          display: block;
          max-width: 100%; }
      .news .news-list li .news-date {
        display: block;
        margin: 0 0 8px;
        font-size: 18px;
        color: #9b9b9b; }
      .news .news-list li .news-name {
        display: block;
        font-size: 20px;
        color: #000000;
        font-family: "source_sans_prosemibold";
        line-height: 24px;
        margin-bottom: 4px;
        height: 48px;
        text-transform: uppercase; }
      .news .news-list li .news-content {
        padding: 15px 20px; }
      .news .news-list li .news-more {
        background: url(../images/arrow.svg) no-repeat 100% 50%;
        padding-right: 27px;
        font-size: 18px;
        font-family: "source_sans_probold";
        color: #cd4874; }
  .news .all-news {
    text-transform: uppercase;
    margin-top: 44px; }

footer {
  margin-top: 50px;
  background-color: #342b8a; }
  footer .footer-top {
    overflow: hidden;
    padding-top: 60px;
    padding-bottom: 60px; }
    footer .footer-top .footer-left {
      float: left; }
      footer .footer-top .footer-left .contact-us-text {
        font-size: 20px;
        display: block;
        color: #ffffff;
        margin-bottom: 20px;
        font-family: "source_sans_probold";
        text-transform: uppercase; }
      footer .footer-top .footer-left .contact-form {
        overflow: hidden; }
        footer .footer-top .footer-left .contact-form .contact-input {
          float: left;
          width: 371px;
          height: 45px;
          border-radius: 6px;
          background-color: #28216e;
          margin-right: 15px;
          border: none;
          padding: 0 11px;
          line-height: 45px;
          color: rgba(255, 255, 255, 0.43);
          font-size: 18px; }
        footer .footer-top .footer-left .contact-form .contact-send {
          width: 103px;
          height: 48px;
          border-radius: 12px;
          padding: 0;
          text-align: center;
          color: #ffffff;
          border: none;
          font-size: 18px;
          text-transform: uppercase; }
          footer .footer-top .footer-left .contact-form .contact-send:hover {
            color: #cd4874;
            background-color: #ffffff; }
    footer .footer-top .footer-soc {
      margin-top: 45px;
      float: right; }
      footer .footer-top .footer-soc li {
        float: left;
        margin-left: 20px; }
        footer .footer-top .footer-soc li:first-child {
          margin-left: 0; }
        footer .footer-top .footer-soc li a {
          display: block;
          width: 42px;
          height: 42px; }
  footer .footer-bot {
    height: 50px;
    background-color: #28216e; }
    footer .footer-bot .copy {
      color: rgba(255, 255, 255, 0.72);
      font-size: 14px;
      display: block;
      text-align: center;
      font-family: "Tahoma";
      line-height: 50px; }

/*# sourceMappingURL=style.css.map */
