@media (max-width: 1500px) {
    .deal-row .deal-col:last-child .deal-val {
        display: block;
    }
    .settings-btn {
        margin: 0 auto 5px;
    }
    .deal-row {
        grid-template-columns: 16% 13% 12% 18% 16% 14% 11%;
    }
}
@media (min-width: 1360px) and (max-width: 1500px) {
    .news-pager li {
        font-size: 13px;
        margin-right: 4px;
    }
    .news-pager {
        padding-right: 20px;
    }
    .help-ico {
        right: 5px;
    }
}
@media (max-width:1360px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
    .header-r-box {
        padding: 0 12px;
    }
    .header-mail, .header-settings {
        margin-right: 12px;
    }
    .header-social li {
        margin: 0 8px;
    }
    .header-filter-menu li {
        margin: 0 7px;
        font-size: 12px;
    }
    .changes-text {
        padding-right: 7px;
        padding-left: 5px;
        font-size: 12px;
    }
    .quotation-up, .quotation-down {
        padding-left: 20px;
    }
    .help-ico,
    .cab-info-user .help-ico,
    .history-section .help-ico {
        right: 2px;
        top: -10px;
    }
    .section-title,
    .money-info-title,
    .help-text,
    .calculate-link,
    .calculate-title {
        font-size: 12px;
    }
    .money-info-val {
        font-size: 14px;
    }
    .news-pager {
        padding-right: 5px;
    }
    .news-pager li {
        font-size: 12px;
    }
    .news-pager li:last-child {
        display: none;
    }
    .pl-row .checkbox-box {
        margin-right: 10px;
        width: 90px;
    }
    .user-rate {
        padding: 10px;
    }
    .user-rate .cab-avatar {
        margin-right: 15px;
    }
    .history-table-row .changes-col:first-child {
        width: 25.66%;
    }
    .history-table-row .changes-col:nth-child(2) {
        width: 50%;
    }
    .col-sm,
    .col-md,
    .col-lg {
        padding: 0 5px;
    }
    .content-row {
        margin: 0 -5px;
    }
    .section-head,
    .changes-head {
        padding: 10px 5px;
        height: 38px;
    }
    .changes-head {
        padding: 10px 0;
    }
    .deal-val {
        font-size: 12px;
    }
    .deal-col {
        padding: 0 2px;
    }
    .deal-val button {
        padding: 0 3px;
        font-size: 11px;
    }
    .deal-row {
        padding: 10px 3px;
    }
    .cab-info-exp .company-head, .cab-info-exp .company-row {
        padding-left: 10px;
        padding-right: 10px;
    }
    .cab-info-head {
        padding: 20px 10px 0;
    }
    .company-open {
        margin-left: 10px;
    }
    .markets-row-top {
        padding: 20px 10px;
    }
    .cab-info-exp .company-head, .cab-info-exp .company-row {
        padding-left: 10px;
        padding-right: 10px;
    }
    .cab-info-head {
        padding: 20px 10px 0;
    }
    .history-section .section-head {
        height: auto;
        padding-left: 10px;
        padding-right: 10px;
    }
    .history-head {
        padding-right: 0;
    }
}
@media (min-width:991px) and (max-width: 1200px) {
}
@media (max-width: 991px) {
}
@media (min-width:991px) {
}
@media (min-width:767px) and (max-width:991px) {
    .main-body .content {
        height: calc(100vh - 186px);
    }
    .main-body .content .container {
        position: relative;
        z-index: 10;
        background: rgba(0,0,0,0.6);
        padding: 25px 15px;
    }
    .footer {
        background: rgba(0,0,0,0.6);
        line-height: 74px;
        height: 74px;
    }
    .copy {
        color: #eaeaea;
    }
    .header-nav {
        margin: 0;
    }
    .content-container {
        max-width: 100%;
    }
}
@media (min-width: 767px) {
}
@media (min-width: 767px) and (max-width: 1200px) and (min-height: 700px) {
    .infograph {
        top: auto;
        height: 70vh;
        bottom: 0;
    }
}
@media (min-width: 991px) and (max-width: 1200px) and (min-height: 500px) and (max-height: 700px) {
    .infograph {
        top: auto;
        height: 80vh;
        bottom: 0;
    }
}
@media (min-height: 900px) {
    .infograph {
        top: auto;
        height: auto;
        bottom: 0;
    }
}
@media (min-width: 991px) and (min-height: 1000px) {
    .infograph {
        top: auto;
        height: 56vh;
        bottom: 0;
    }
}@media (min-width: 1350px) and (min-height: 1000px) {
    .infograph {
        top: auto;
        height: 85vh;
        bottom: 0;
    }
}