/* fonts */
$font-regular: 'fira_sansregular';
$font-medium: 'fira_sansmedium';
$font-bold: 'fira_sansbold';
$font-semibold: 'fira_sanssemibold';
/* colors */
$white: #ffffff;
$white-gray: #ebebeb;
$black: #000000;
$gray: #888888;
$lght-green: #98b927;
$orange: #f5a623;
$lght-gray: #d2d2d2;
$gray-color: #9b9b9b;
$dark-gray: #4a4a4a;
$gray-wh: #cdcdcd;