/* fonts */
/* colors */
@import url(all.css);
/* search form */
.search-form .search-form-box {
  width: 368px;
  float: left;
  position: relative; }
.search-form .search-form-input {
  font-size: 13px;
  width: 368px;
  padding: 0 58px 0 25px;
  font-family: "fira_sansregular";
  line-height: 26px;
  border-radius: 2px;
  height: 28px;
  margin: 0;
  border: solid 1px #888888;
  background: #ffffff url(../images/search.svg) no-repeat 6px 50%; }
.search-form .search-btn {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 56px;
  font-size: 12px;
  line-height: 20px;
  height: 20px; }

/* header */
header {
  height: 69px;
  background-color: #ffffff;
  margin-bottom: 30px;
  box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.22); }
  header .grid-container {
    height: 100%; }
    header .grid-container .logo {
      float: left;
      margin-right: 35px;
      width: 71px;
      height: 69px; }
      header .grid-container .logo .logo-img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto; }
    header .grid-container .header-nav {
      float: left; }
      header .grid-container .header-nav .header-nav-list {
        overflow: hidden; }
        header .grid-container .header-nav .header-nav-list .header-nav-elem {
          float: left;
          font-size: 16px;
          margin-left: 40px; }
          header .grid-container .header-nav .header-nav-list .header-nav-elem:first-child {
            margin-left: 0; }
          header .grid-container .header-nav .header-nav-list .header-nav-elem .header-nav-link {
            color: #000000;
            display: block; }
            header .grid-container .header-nav .header-nav-list .header-nav-elem .header-nav-link:hover {
              color: #98b927; }
    header .grid-container .search-form {
      width: 310px;
      float: left; }
      header .grid-container .search-form .search-form-input {
        font-size: 14px;
        width: 310px;
        padding: 0 0 0 25px; }
    header .grid-container .header-actions {
      float: left;
      margin-left: 19px; }
      header .grid-container .header-actions .header-actions-elem {
        float: left;
        margin-left: 20px; }
        header .grid-container .header-actions .header-actions-elem:first-child {
          margin-left: 0; }
        header .grid-container .header-actions .header-actions-elem .header-actions-link {
          height: 28px; }
          header .grid-container .header-actions .header-actions-elem .header-actions-link .header-actions-img {
            display: block;
            margin: 0 auto; }

/* main */
.plant-finder {
  margin-bottom: 30px; }
  .plant-finder .plant-finder-title {
    display: block;
    font-size: 16px;
    font-family: "fira_sansmedium";
    letter-spacing: 0.8px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 15px; }
  .plant-finder .plant-finder-list .plant-finder-list-elem {
    width: 111px;
    height: 30px;
    border-radius: 2px;
    float: left;
    margin-left: 10px;
    border: solid 1px #888888;
    color: #888888;
    line-height: 30px;
    text-align: center; }
    .plant-finder .plant-finder-list .plant-finder-list-elem:first-child {
      margin-left: 0; }
    .plant-finder .plant-finder-list .plant-finder-list-elem.active {
      background-color: #98b927;
      border-color: #98b927;
      color: #ffffff;
      font-family: "fira_sansmedium"; }
    .plant-finder .plant-finder-list .plant-finder-list-elem:hover:not(.active) {
      cursor: pointer; }
  .plant-finder .add-new-btn {
    width: 157px;
    height: 30px;
    border-radius: 2px;
    line-height: 33px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    font-family: "fira_sansmedium";
    background-color: #f5a623; }

/* sidebar */
.sidebar .filter .filter-section {
  border-bottom: solid 1px #d2d2d2;
  padding: 10px 0; }
  .sidebar .filter .filter-section:first-child {
    padding-top: 0; }
  .sidebar .filter .filter-section .filter-title {
    font-size: 16px;
    font-family: "fira_sansmedium";
    color: #000000;
    letter-spacing: 0.8px;
    display: block;
    text-transform: uppercase; }
  .sidebar .filter .filter-section .filter-clear {
    font-size: 16px;
    color: #000000;
    display: block;
    background: url(../images/close.svg) no-repeat 100% 50%;
    padding-right: 18px;
    background-size: 10px 10px; }
  .sidebar .filter .filter-section .purpose-list .purpose-list-elem {
    margin-top: 10px; }
    .sidebar .filter .filter-section .purpose-list .purpose-list-elem:first-child {
      margin-top: 0; }
    .sidebar .filter .filter-section .purpose-list .purpose-list-elem .purpose-list-link {
      overflow: hidden;
      display: block;
      background: #ffffff;
      color: #888888; }
      .sidebar .filter .filter-section .purpose-list .purpose-list-elem .purpose-list-link .purpose-img-box {
        float: left;
        width: 26px;
        height: 26px;
        border: solid 1px #888888;
        border-radius: 100%; }
        .sidebar .filter .filter-section .purpose-list .purpose-list-elem .purpose-list-link .purpose-img-box .purpose-img {
          display: block;
          margin: 0 auto; }
          .sidebar .filter .filter-section .purpose-list .purpose-list-elem .purpose-list-link .purpose-img-box .purpose-img path {
            fill: #888888; }
      .sidebar .filter .filter-section .purpose-list .purpose-list-elem .purpose-list-link .purpose-text {
        float: left;
        margin-left: 10px;
        line-height: 26px; }
    .sidebar .filter .filter-section .purpose-list .purpose-list-elem.active .purpose-list-link {
      color: #000000;
      font-family: "fira_sansmedium"; }
      .sidebar .filter .filter-section .purpose-list .purpose-list-elem.active .purpose-list-link .purpose-img-box {
        background: #98b927;
        border: solid 1px #98b927; }
        .sidebar .filter .filter-section .purpose-list .purpose-list-elem.active .purpose-list-link .purpose-img-box .purpose-img path {
          fill: #ffffff; }
  .sidebar .filter .filter-section .filter-section-title {
    display: block;
    margin-bottom: 12px;
    font-size: 16px;
    letter-spacing: 0.8px;
    color: #000000;
    font-family: "fira_sansbold";
    position: relative; }
    .sidebar .filter .filter-section .filter-section-title.filter-show-btn {
      margin-bottom: 0; }
      .sidebar .filter .filter-section .filter-section-title.filter-show-btn:after {
        content: '';
        display: block;
        background: url(../images/arrow.svg) no-repeat 50% 50%;
        background-size: 14px 8px;
        width: 14px;
        height: 8px;
        position: absolute;
        right: 0;
        top: calc(50% - 4px); }
      .sidebar .filter .filter-section .filter-section-title.filter-show-btn.active:after {
        transform: rotate(180deg); }
      .sidebar .filter .filter-section .filter-section-title.filter-show-btn:hover {
        cursor: pointer; }
  .sidebar .filter .filter-section .botanical-name {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: left;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -2px; }
    .sidebar .filter .filter-section .botanical-name .botanical-name-elem {
      margin: 2px 2px; }
      .sidebar .filter .filter-section .botanical-name .botanical-name-elem .botanical-name-link {
        display: block;
        width: 26px;
        height: 26px;
        border-radius: 2px;
        border: solid 1px #888888;
        text-align: center;
        line-height: 24px;
        font-size: 16px;
        color: #888888;
        text-transform: uppercase; }
    .sidebar .filter .filter-section .botanical-name .botanical-elem-all {
      width: 57px;
      margin: 3px 0 0; }
  .sidebar .filter .filter-section .filter-drop {
    margin-top: 12px; }
    .sidebar .filter .filter-section .filter-drop .filter-list .filter-list-elem {
      margin-top: 8px; }
      .sidebar .filter .filter-section .filter-drop .filter-list .filter-list-elem:first-child {
        margin-top: 0; }
  .sidebar .filter .filter-section .filter-hidden {
    display: none;
    max-height: 379px;
    overflow: hidden; }

.content .content-filter {
  margin-bottom: 21px; }
  .content .content-filter .sort-by {
    float: left;
    margin-left: 8px; }
    .content .content-filter .sort-by .sort-by-box {
      float: left;
      margin-left: 9px; }
      .content .content-filter .sort-by .sort-by-box input[type=checkbox] + label {
        padding-left: 18px; }
      .content .content-filter .sort-by .sort-by-box input[type=checkbox]:checked + label {
        font-family: 'fira_sansmedium';
        color: #000000; }
      .content .content-filter .sort-by .sort-by-box:first-child {
        margin-left: 0; }
  .content .content-filter .sort-by-select {
    height: 28px;
    float: left;
    font-size: 13px;
    line-height: 28px; }
    .content .content-filter .sort-by-select .dropdown-menu {
      left: -45px;
      width: calc(100% + 45px); }
    .content .content-filter .sort-by-select .sort-by-select-text {
      float: left;
      margin-right: 3px; }
    .content .content-filter .sort-by-select .bootstrap-select {
      float: left; }
  .content .content-filter .view-type {
    float: right;
    overflow: hidden; }
    .content .content-filter .view-type .view-link {
      float: left;
      margin-left: 10px; }
      .content .content-filter .view-type .view-link:first-child {
        margin-left: 0; }
      .content .content-filter .view-type .view-link svg {
        display: block; }
      .content .content-filter .view-type .view-link g {
        fill: #CDCDCD; }
      .content .content-filter .view-type .view-link.active g {
        fill: #98B927; }
  .content .content-filter .sort-by-radio .sort-by-radio-holder .sort-by-radio-box input[type=radio] {
    height: 0;
    width: 0;
    position: absolute;
    visibility: hidden; }
  .content .content-filter .sort-by-radio .sort-by-radio-holder .sort-by-radio-box input[type=radio] + label {
    margin: 10px 0;
    cursor: pointer;
    display: block;
    position: relative;
    font-size: 18px;
    line-height: 28px;
    height: 24px;
    color: #000000; }
    .content .content-filter .sort-by-radio .sort-by-radio-holder .sort-by-radio-box input[type=radio] + label span {
      color: #888888; }
  .content .content-filter .sort-by-radio .sort-by-radio-holder .sort-by-radio-box input[type=radio]:checked + label:after {
    content: '';
    background: url(../images/radio-check.svg) no-repeat 50% 50%;
    background-size: 24px 18px;
    width: 24px;
    height: 18px;
    position: absolute;
    right: 0;
    top: calc(50% - 9px); }
  .content .content-filter .sort-by-radio .sort-by-radio-holder .sort-by-radio-box input[type=radio]:checked + label {
    color: #98b927; }
    .content .content-filter .sort-by-radio .sort-by-radio-holder .sort-by-radio-box input[type=radio]:checked + label span {
      color: #98b927; }
.content .content-items .content-item {
  display: block;
  width: 270px;
  margin: 0 auto 20px;
  position: relative;
  height: 295px;
  max-width: 100%;
  background: #ebebeb; }
  .content .content-items .content-item.content-special-item {
    background: #ffffff;
    border: solid 3px #d2d2d2; }
    .content .content-items .content-item.content-special-item .content-item-caption {
      border: solid 2px #98b927;
      left: -2px;
      width: calc(100% + 4px);
      bottom: -2px; }
    .content .content-items .content-item.content-special-item .plants-map-img {
      display: block;
      left: calc(50% - 48px);
      top: calc(50% - 55px);
      position: absolute; }
    .content .content-items .content-item.content-special-item .add-plants-map {
      font-size: 12px;
      color: #98b927;
      font-family: "fira_sansmedium";
      text-decoration: underline;
      display: block;
      position: relative; }
      .content .content-items .content-item.content-special-item .add-plants-map:hover {
        text-decoration: none; }
      .content .content-items .content-item.content-special-item .add-plants-map .plants-map-icon {
        position: absolute;
        right: 0;
        top: calc(50% - 14px);
        width: 27px;
        height: 28px;
        display: block; }
  .content .content-items .content-item .default-img {
    width: 54px;
    height: 54px;
    position: absolute;
    left: calc(50% - 27px);
    top: calc(50% - 60px); }
  .content .content-items .content-item .content-item-img {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%; }
  .content .content-items .content-item .content-item-caption {
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(40, 40, 40, 0.72); }
    .content .content-items .content-item .content-item-caption .content-item-caption-title {
      display: block;
      font-size: 14px;
      margin-bottom: 6px;
      line-height: 14px;
      color: #ffffff;
      font-family: "fira_sanssemibold"; }
    .content .content-items .content-item .content-item-caption .content-item-caption-author {
      display: block;
      color: #ffffff;
      font-size: 12px; }
      .content .content-items .content-item .content-item-caption .content-item-caption-author .author-by {
        color: #d2d2d2; }
    .content .content-items .content-item .content-item-caption .content-item-drop {
      display: none;
      margin-top: 7px; }
      .content .content-items .content-item .content-item-caption .content-item-drop .content-item-caption-text {
        display: block;
        color: #ffffff;
        font-size: 12px;
        margin-bottom: 3px; }
      .content .content-items .content-item .content-item-caption .content-item-drop .content-item-caption-images .content-item-caption-img {
        float: left;
        margin-left: 10px; }
        .content .content-items .content-item .content-item-caption .content-item-drop .content-item-caption-images .content-item-caption-img:first-child {
          margin-left: 0; }
.content .content-pager {
  margin: 0; }
  .content .content-pager li {
    font-size: 16px;
    display: inline-block;
    margin: 0 5px; }
    .content .content-pager li a {
      color: #000000; }
    .content .content-pager li.active a {
      color: #98b927; }
    .content .content-pager li.prev a {
      color: #9b9b9b; }

footer {
  margin-top: 90px;
  background: #4a4a4a;
  padding: 30px 0 68px; }
  footer .footer-logo {
    width: 52px;
    height: 68px; }
    footer .footer-logo .footer-logo-img {
      display: block;
      width: 52px;
      height: 68px; }
  footer .copy {
    display: block;
    margin-top: 29px;
    font-size: 10px;
    max-width: 160px;
    color: #d2d2d2; }
  footer .footer-nav {
    padding: 0 15px;
    float: left; }
    footer .footer-nav .footer-nav-main-item {
      font-family: "fira_sansmedium";
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 10px; }
      footer .footer-nav .footer-nav-main-item .footer-main-link {
        color: #ffffff; }
    footer .footer-nav .footer-nav-item {
      margin-top: 8px;
      font-size: 14px;
      line-height: 16px; }
      footer .footer-nav .footer-nav-item .footer-nav-link {
        color: #cdcdcd; }
  footer .socials-box .socials-title {
    display: block;
    font-family: "fira_sansmedium";
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    margin-bottom: 10px; }
  footer .social-list {
    width: 69px; }
    footer .social-list .social-list-item {
      margin: 8px 0;
      width: 26px;
      height: 26px; }
      footer .social-list .social-list-item .social-list-link {
        width: 26px;
        height: 26px;
        border: 1px solid #d2d2d2;
        border-radius: 100%;
        margin: 0; }
        footer .social-list .social-list-item .social-list-link svg path,
        footer .social-list .social-list-item .social-list-link svg g {
          fill: #cdcdcd; }
        footer .social-list .social-list-item .social-list-link:hover {
          border: 1px solid #98b927;
          background: #98b927; }
          footer .social-list .social-list-item .social-list-link:hover svg path,
          footer .social-list .social-list-item .social-list-link:hover svg g {
            fill: #ffffff; }

/*# sourceMappingURL=style.css.map */
